<nav class="tags tags_nav">
  <app-scroll [itemClick$]="itemClick$" [options]="{'scrollOnClick': true}">
    <div class="tags__list tags__list_nav">
      <div class="tags__item tags__item_nav tags__item_all" (click)="onClick($event, 'all')">
        <span class="tags__link tags__link_nav" [ngClass]="{'f-active': all}" #allTag>
          {{'Common.All' | translate}}
        </span>
      </div>
      <div class="tags__item tags__item_nav"
           *ngFor="let tag of tags"
           (click)="onClick($event, tag)"
            [class.disabled]="disabled"
           >
        <span class="tags__link tags__link_nav" [ngClass]="{'f-active': activeTag && activeTag._uuid === tag._uuid}">
          {{tag.name | multilang}}
        </span>
      </div>
    </div>
  </app-scroll>
</nav>
