<div class="section-white">
    <div class="tabs tabs--two">
      <div class="menu-container" id="tabs-container2">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="menu">
            <li [ngbNavItem]="1" class="tab-link" >
              <a ngbNavLink>Как пользоваться?</a>
              <ng-template ngbNavContent>
                
                    <div class="text">
                      <ol class="rule-list">

                      
                      <li class="rule-item">
                        <div class="data">
                            <div class="title">Выберите номинал сертификата</div>
                            <div class="descr">Выбрать можно из предлагаемых или ввести свой</div>
                      </div>
                        </li>
                      <li class="rule-item">
                        <div class="data">
                            <div class="title">Укажите способ получения</div>
                            <div class="descr">Можно приобрести для себя или в подарок</div>
                      </div>
                        </li>
                      <li class="rule-item">
                        <div class="data">
                            <div class="title">Сертификат будет направлен на почту получателя</div>
                            <div class="descr">Не забудьте проверить папку Спам</div>
                      </div>
                        </li>
                      <li class="rule-item">
                        <div class="data">
                            <div class="title">Перейдите на страницу активации и введите номер сертификата</div>
                            <div class="descr">Номер сертификата будет указан в письме и в приобретенном сертификате</div>
                      </div>
                        </li>
                      <li class="rule-item">
                        <div class="data">
                            <div class="title">Выберите события, доступные в рамках номинала сертификата</div>
                            <div class="descr">Вам будут доступны фильмы сети кинотеатров Москино</div>
                      </div>
                        </li>

                      </ol>
                    </div>
               
                  
                 
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="tab-link">
              <a ngbNavLink>Правила использования</a>
              
            </li>
           
          </ul>
        
      </div>
      <div class="tabs-content">
      
        <div [ngbNavOutlet]="nav" class="tabs-content-item"></div>
      
   
      </div>
    </div>
  </div>