<footer class="footer">
    <div class="footer-content">
      <div class="footer-copyright">© Zapomni, 2020</div>
      <div class="footer-contacts">
        <div class="footer-email">
          <a class="link" href="mailto:support@lastick.ru">support@lastick.ru</a>
        </div>
        <div class="footer-phone">8 495 120 42 64 (8:00-23:00)</div>
      </div>
    </div>
  </footer>
  <footer class="footer footer--mobile">
    <div class="footer-content">
      <div class="footer-contacts">
        <div class="footer-email">
          <a class="link" href="mailto:support@lastick.ru">support@lastick.ru</a>
        </div>
        <div class="footer-phone">8 495 120 42 64 (8:00-23:00)</div>
      </div>
      <div class="footer-copyright">© Zapomni, 2020</div>
      
    </div>
  </footer>