<div class="gifts-related" *ngIf="gifts || logos">
  <ng-template #controlsTmp>
    <div class="gifts-related__controls" *ngIf="showControls">
      <div class="gifts-related__controls-item">
        <div
          [ngClass]="{ 'f-disabled': isFirstSlide }"
          class="gifts-related__controls-btn gifts-related__controls-btn_left mxn-cur-p"
          (click)="swiper.prevSlide()"
        ></div>
      </div>
      <div class="gifts-related__controls-item">
        <div
          [ngClass]="{ 'f-disabled': isLastSlide }"
          class="gifts-related__controls-btn gifts-related__controls-btn_right mxn-cur-p"
          (click)="swiper.nextSlide()"
        ></div>
      </div>
    </div>
  </ng-template>
  <header class="gifts-related__head">
    <div class="gifts-related__head-item">
      <h4 class="gifts-related__title" *ngIf="title" [innerHTML]="title"></h4>
    </div>
    <div class="gifts-related__head-item" *ngIf="isDesktop">
      <ng-container *ngTemplateOutlet="controlsTmp"></ng-container>
    </div>
  </header>
  <div class="gifts-related__body" [ngClass]="{'mxn-cur-p': showControls}">
    <div
      class="swiper-container"
      [swiper]="sliderSettings"
      [index]="0"
      (indexChange)="onIndexChange($event)"
    >
      <div class="gifts-related__swiper-wrapper swiper-wrapper" *ngIf="gifts">
          <div class="swiper-slide" *ngFor="let gift of gifts">
            <app-gift-card [gift]="gift" [showRelated]="false" [showTable]="false"></app-gift-card>
          </div>
      </div>
      <div class="gifts-related__swiper-wrapper swiper-wrapper" *ngIf="logos">
        <div class="swiper-slide" *ngFor="let logo of logos">
          <div class="gifts-related__logo-wrap" *ngIf="!logo.url">
            <img [src]="logo.img" alt="" class="gifts-related__logo{{logo.classes ? ' ' + logo.classes : ''}}">
          </div>
          <a [href]="logo.url | safe: 'url'" target="_blank" class="gifts-related__logo-wrap" *ngIf="logo.url">
            <img [src]="logo.img" alt="" class="gifts-related__logo{{logo.classes ? ' ' + logo.classes : ''}}">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="gifts-related__footer" *ngIf="!isDesktop">
    <ng-container *ngTemplateOutlet="controlsTmp"></ng-container>
  </div>
</div>
