<!-- h-share_skin-{{(skin || {skin: 'none'}).skin}}-->
<div class="h-share h-share_theme-{{theme}}" style="{{(skin || {}).vars || ''}}">
  <div class="h-share__head">
    <a  class="link" href=""><svg class="icon contacts-icon" fill="none" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-rcm-c3="" d="M12.0381 1C10.5353 0.999942 9.05974 1.40122 7.76396 2.16237C6.46817 2.92352 5.39916 4.01691 4.66744 5.32954C3.93571 6.64216 3.56781 8.12639 3.60176 9.6288C3.63572 11.1312 4.07028 12.5973 4.86056 13.8755L11.5582 24.6676C11.6212 24.7692 11.709 24.8531 11.8135 24.9113C11.918 24.9695 12.0356 25 12.1551 25C12.2758 24.9992 12.3942 24.9674 12.499 24.9075C12.6038 24.8476 12.6913 24.7618 12.7533 24.6582L19.2858 13.7585C20.0493 12.4776 20.4597 11.0174 20.4753 9.52632C20.4909 8.03529 20.1111 6.56675 19.3745 5.27023C18.638 3.97371 17.5711 2.89551 16.2824 2.14541C14.9937 1.3953 13.5292 1.00009 12.0381 1ZM18.0779 13.0375L12.1458 22.9446L6.05916 13.1323C5.40188 12.0706 5.039 10.8531 5.00776 9.60477C4.97652 8.35648 5.27805 7.12235 5.88139 6.0291C6.48474 4.93586 7.36816 4.02287 8.44097 3.38388C9.51377 2.74489 10.7373 2.40292 11.986 2.39307C13.2346 2.38322 14.4634 2.70586 15.5461 3.32785C16.6289 3.94984 17.5266 4.84878 18.1471 5.93237C18.7676 7.01597 19.0886 8.24519 19.077 9.49382C19.0655 10.7425 18.7219 11.9655 18.0814 13.0375H18.0779Z" fill="black" stroke="black" stroke-width="0.2"></path><path _ngcontent-rcm-c3="" d="M12.0377 4.97266C11.1138 4.97266 10.2106 5.24664 9.44234 5.75995C8.67412 6.27325 8.07538 7.00283 7.72181 7.85643C7.36824 8.71003 7.27572 9.64932 7.45597 10.5555C7.63622 11.4617 8.08113 12.2941 8.73444 12.9474C9.38776 13.6007 10.2201 14.0456 11.1263 14.2259C12.0325 14.4061 12.9718 14.3136 13.8254 13.96C14.679 13.6064 15.4086 13.0077 15.9219 12.2395C16.4352 11.4713 16.7092 10.5681 16.7092 9.64413C16.7064 8.40603 16.2133 7.21944 15.3378 6.34397C14.4624 5.4685 13.2758 4.97544 12.0377 4.97266ZM12.0377 12.7694C11.4193 12.7705 10.8145 12.5882 10.2998 12.2455C9.78509 11.9028 9.3836 11.4151 9.14616 10.8442C8.90872 10.2732 8.84601 9.64465 8.96593 9.03803C9.08586 8.43141 9.38304 7.87399 9.81988 7.43633C10.2567 6.99867 10.8136 6.70044 11.42 6.57937C12.0264 6.45831 12.6551 6.51986 13.2265 6.75623C13.7979 6.9926 14.2863 7.39317 14.63 7.90724C14.9736 8.42131 15.1571 9.02577 15.1571 9.64413C15.1565 10.4718 14.8278 11.2655 14.2431 11.8513C13.6584 12.4371 12.8653 12.7672 12.0377 12.7694Z" fill="black" stroke="black" stroke-width="0.2"></path></svg><span > Москва </span></a>
    <button type="button" class="mxn-btn h-share__btn" (click)="showNav = true">
      <svg-icon src="/assets/svg/share.svg">
      </svg-icon><span class="h-share__btn-text">Поделиться</span>
    </button>
  </div>
  <div class="h-share__nav" [ngClass]="{'f-active': showNav}" [appClickOutside]="showNav" (clickOutside)="showNav = false">
    <div class="h-share__list">
      <ng-template ngFor [ngForOf]="social.data" let-item>
        <div class="h-share__item" *ngIf="item.share_url">
          <span class="h-share__link h-share__link_{{item.short_name}}" (click)="social.share(item)">
            <svg-icon [src]="item.icon"></svg-icon>{{item.formatted_name}}
          </span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
