<app-layout>
  <div class="page">
    <div class="page__head page__head_mb-2">
      <div class="container container_gap-1">
        <h1 class="page__title">
          Как подарить<br>
          сертификат?
        </h1>
      </div>
    </div>
    <div class="page__body">
      <div class="how">
        <div class="container container_gap-1">
          <ol class="how__list">
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Выберите, кому вы хотите подарить сертификат
                  </h4>
                  <p class="how__item-text">
                    Можно приобрести в подарок для друга или оформить корпоративный заказ
                  </p>
                </div>
                <div class="how__item-body">
                  <img src="/assets/img/how_1.png" alt="" class="how__item-img">
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Выберите номинал сертификата
                  </h4>
                  <p class="how__item-text">
                    Выбрать можно из предлагаемых или ввести свой
                  </p>
                </div>
                <div class="how__item-body">
                  <img src="/assets/img/how_2.png" alt="" class="how__item-img">
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Введите данные получателя и пожелание
                  </h4>
                  <p class="how__item-text">
                    Сертификат будет направлен на почту получателя
                  </p>
                </div>
                <div class="how__item-body">
                  <img src="/assets/img/how_3.png" alt="" class="how__item-img">
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Перейдите на страницу активации и введите номер сертификата
                  </h4>
                  <p class="how__item-text">
                    Номер сертификата будет указан в письме и в приобретенном сертификате
                  </p>
                </div>
                <div class="how__item-body">
                  <img src="/assets/img/how_4.png" alt="" class="how__item-img">
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Выберите события, доступные в рамках номинала сертификата
                  </h4>
                  <p class="how__item-text">
                    Получателю будут доступны события доступные для купленного сертификата
                  </p>
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Билеты будут направлены на почту получателя
                  </h4>
                  <p class="how__item-text">
                    Билет можно предъявить в распечатанном виде или показать с экрана телефона
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</app-layout>
