<app-layout-gift [skin]="{
  skin: 'special', vars: '--skin-text: #fff;'+
'    --skin-gradient-angle-1: rgba(255,255,255,0.21);'+
'    --skin-gradient-angle-2: transparent;'+
'    --skin-gradient-bottom-1: rgba(141,44,5,0);'+
'    --skin-gradient-bottom-2: #0f0431;'+
'    --skin-page-bg: #060431;'+
'    --skin-page-gradient-bottom-1: rgba(255, 255, 255, 0.29);'+
'    --skin-page-gradient-bottom-2: transparent;'+
'    --skin-page-gradient-bottom-3: #060431;'+
'    --skin-btn-bg: rgba(255,255,255,0.1);'+
'    --skin-btn-text: rgba(255,255,255,0.6);'+
'    --skin-btn-bg-hover: rgba(255,255,255,0.2);'+
'    --skin-btn-text-hover: rgba(255,255,255,0.6);'+
'    --skin-btn-bg-active: #010fad;'+
'    --skin-btn-text-active: #ffd040;'+
'    --skin-tab-text: #afa8a0;'+
'    --skin-tab-text-active: #000;'+
'    --skin-tab-bd: #e74e27;'+
'    --skin-fee-nominal: #e74e27;'+
'    --skin-header-logo-w-1: #fff;'+
'    --skin-header-logo-w-2: #e74e27;'+
'    --skin-active-color: #e74e27;'
}" theme="2">
  <section class="section section_sz-4 section_bg-3">
    <app-subscribe-form theme="2" [showMessage]="false"></app-subscribe-form>
  </section>
</app-layout-gift>
