.article
  font-size: 16px
  font-weight: 400



  p
    line-height: 1.3
    margin: 30px 0

  strong
    font-size: 18px
    font-weight: 500

+desktop()
  .article
    font-size: 18px
    &_sz-1
      max-width 880px
    strong
      font-size: 24px
