.b-activate
  position: relative;
  margin: 0 0 30px
  color: #000;
  //
  //&__wrap
  //  display: flex;
  //  flex-direction column

  &__content
    position: relative;
    z-index: 2
    padding: 0 16px
    text-align: center;
    margin-bottom: 15px

  &__behind
    overflow: hidden;

  &__slide
    min-width 98px

  &__card, &__card-inner
    border-radius: 11px;
  &__card
    max-width 784px
    margin: 0 auto
    overflow: hidden;
    box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.06);
    //border-style: solid;
    //border-width: 0.5px;
    //border-image-source: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0) 47%);
    //border-image-slice: 1;
    background-image: linear-gradient(to bottom, rgba(245, 242, 238, 0.9), rgba(245, 242, 238, 0.9)), linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0) 47%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    &_theme-2
      backdrop-filter: blur(20px);

    &-inner
      min-height 304px
      padding: 30px 16px 50px
      &_theme-1
        backdrop-filter: blur(20px);

    &-row
      margin-bottom: 45px
      &_mb-1
        margin-bottom: 18px
      &:last-child
        margin-bottom: 0
      &_footer
        margin: 30px 0 0

  &__text
    font-size: 16px
    line-height: 1.3

  &__btn
    display: flex;
    align-items center
    max-width 400px
    margin: 0 auto
    padding: 0
    font-size: 19px
    font-weight: 500
    line-height: 1
    color: $c-3;

    & > svg-icon
      & > svg
        height: 16px
        width: auto;
        margin-left: 8px

  &__table
    padding: 12px;
    margin: 0 auto;
    border-radius: 8px;
    font-weight: 500
    text-align: left;
    background: rgba(255,255,255,.4);

    &-head
      margin-bottom: 20px
      &-row:not(:last-child)
        margin-bottom: 8px
    &-number
      font-size: 22px
    &-name
      font-size: 14px
    &-row
      display: flex;
    &-td
      &:not(:last-child)
        margin-right: 20px
      &-row:not(:last-child)
        margin-bottom: 4px
      &-title
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0,0,0,.8);
      &-value
        color: #bda776;
    &-footer
      margin-top: 30px

  &__result
    &-title
      font-size: 18px
      font-weight: 500
    &-logo
      display: block;
      margin-top: 24px
      & > svg
        width: 160px
        height: auto;

+medium()
  .b-activate
    position: relative;
    margin: 72px 0 100px
    &__behind
      position: absolute;
      left: 0
      right: 0
      top: 129px
    &__slide
      min-width 225px
    &__card, &__card-inner
      border-radius: 31px;
    &__card
      &-inner
        min-height 572px
        padding: 68px 90px 90px
      &-row
        margin-bottom: 88px
        &_mb-1
          margin-bottom: 30px
        &_footer
          margin: 108px 0 0
        &_input
          max-width 490px
          margin-left: auto
          margin-right: auto;
    &__text
      font-size: 24px

    &__btn
      font-size: 32px

      & > svg-icon
        & > svg
          height: 25px
          margin-left: 10px

    &__table
      max-width: 75%;
      padding: 24px;

      &-head
        margin-bottom: 40px
        &-row:not(:last-child)
          margin-bottom: 8px
      &-name
        font-size: 16px
      &-number
        font-size: 30px
      &-td
        &:not(:last-child)
          margin-right: 20px
        &-row:not(:last-child)
          margin-bottom: 4px
        &-title
          font-size: 12px;
      &-footer
        margin-top: 30px

    &__result
      &-title
        font-size: 24px
      &-logo
        margin-top: 24px
        & > svg
          width: 224px
