.b-company
  font-size: 0

  &__logo
    & > svg-icon > svg
      width: 184px
      max-width 100%
      height: auto

  &__text
    line-height: 1.2
    font-weight: 400
    color: $c-company-1

  &__media-wrap
    display: inline-block;
    overflow: hidden;
    border-radius: 14px

  &__media
    width: 100%
    height: auto

+mobile()
  .b-company
    &__section
      margin-bottom: 17px

      &:last-child
        margin-bottom: 0

      &_logo
        margin-bottom: 16px

    &__text
      font-size: 24px
      letter-spacing: -0.4px

    &__media
      max-width 425px

+desktop()
  .b-company
    display: flex
    align-items center
    justify-content: space-between;

    &__item
      flex: 1
      &_media
        flex: 0 1 48.5%
        margin-left: 36px

    &__logo
      margin-bottom: 40px
      & > svg-icon > svg
        width: 447px

    &__text
      font-size: 32px
      font-weight: bold
