.b-fee
  background: $c-3;
  color: $c-1;
  &_sz-1
    padding: 14px 12px 14px 12px;
    border-radius: 31px
    font-size: 13px
    line-height: 1.3

  &__row
    display: flex;
    align-items center

  &__item
    &_hr
      &_sz-1
        padding: 5px 10px 5px 0;
        margin-right: 15px;
        border-right: 1px solid $c-hr-2;

  &__val
    line-height: 1
    &_sz-1
      font-size: 18px
    &_theme-1
      font-weight: 600

+medium()
  .b-fee
    padding: 26px 60px 26px 36px
    font-size: 24px
    &__item
      &_hr
        &_sz-1
          padding: 10px 26px 10px 0
          margin-right: 30px
    &__val
      &_sz-1
        font-size: 52px
