.c-cart
  padding: 16px 16px 28px
  border-radius: 8px;
  background-color: $c-section-2-theme-1-bg;
  &__card
    &-row
      margin-bottom: -20px
    &-item
      margin-bottom: 20px;
      &_card
        max-width 124px
  &__head
    margin-bottom: 22px

  &__title
    font-size: 16px
    font-weight: 600
    line-height: 1.3
  &__table
    font-size: 14px
    font-weight: 500
    line-height: 1
    white-space nowrap
    &-row
      display: flex;
      justify-content: space-between;
      margin: 0 -8px 22px
      &:last-child
        margin-bottom: 0
    &-td
      padding: 0 8px
      &_value
        color: $c-3;

+small_2()
  .c-cart
    &__card
      &-row
        display: flex;
      &-item
        flex: 0 1 auto
        &_card
          flex: 1 0 124px
          margin: 0 20px 20px 0
