.card-buttons
  line-height: 1
  &__head
    &_sz-1
      margin-bottom: 12px
    &_sz-2
      margin-bottom: 22px
    &-title
      font-weight: 600
      &_sz-1
        font-size: 8px
        letter-spacing: 0.89px;
        text-transform: uppercase;
      &_sz-2
        font-size: 18px
        font-weight: 500
  &__buttons
    &-row
      display: flex;
      flex-wrap wrap
      margin: 0 -4px -6px
      &_sz-2
        margin: 0 -8px -16px
    &-item
      position: relative;
      margin: 0 4px 6px
      flex: 1 1 60px
      &_custom
        flex: 1 1 160px
        &_sz-2
          margin: 0 8px 16px
      &_item
        &_sz-2
          margin: 0 8px 16px
          flex: 1 1 88px
      &_full-width
        flex: 0 1 100%
        margin-top: 10px
  &__btn
    &_sz-1
      padding: 14px 2px
      font-size: 12px
      font-weight: 600
      border-radius: 20px
    &_sz-2
      padding: 17px 2px
      font-size: 14px
      font-weight: 500
      border-radius: 32px
  &__l-btn
    height: 44px
    border: 2px solid $c-card-1-theme-1-btn-2-border;
    border-radius: 32px
    font-size: 16px
    font-weight: 500
    color: $c-card-1-theme-1-btn-2-text;

    &:after
      content ''
      width: 6px
      height: 6px
      margin-left: 6px
      border: 1.5px solid $c-card-1-theme-1-btn-2-text
      border-left-color: transparent;
      border-bottom-color: transparent;
      transform rotate(45deg)

  &__i-popover
    position: absolute;
    bottom: calc(100% + 10px);
    left: calc(50% - 92px);
    width: 192px
    visibility: hidden;
    opacity: 0;
    transition opacity $sFast ease-in-out, visibility $sFast ease-in-out
    &.f-active
      visibility: visible;
      opacity: 1
    &-wrap
      position: relative;
      width: 192px
      min-height: 52px
      padding: 14px 0 12px
      margin-bottom: 10px
      //overflow: hidden;
      border-radius: 8px
      border-color: $c-input-1-theme-1-bg-active;
      box-shadow: $c-popover-1-theme-1-shadow;
      background-color: $c-input-1-theme-1-bg-active;
      &:after
        content ''
        border: 8px solid transparent;
        border-top-color: inherit;
        position: absolute;
        top: 100%
        left: calc(50% -  4px)
    &-row
      display: flex;
      align-items center
      height: 100%
      padding: 0 12px
      &:not(:last-child)
        margin-bottom: 12px
    &-message
      background: #e72c1e;
      padding: 4px 25px;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      width: 100%;

    &-input
      width: 100%
      padding-right: 8px
      height: 100%
      transition color $sFast ease-in-out
      &.f-error
        color: #e72c1e;
    &-icon
      display: flex;
      justify-content: center;
      align-items center
      width: 25px;
      height: 25px
      flex: 0 0 25px;
      border-radius: 100%
      box-shadow: $c-btn-1-theme-1-shadow;
      background-color: $c-btn-1-theme-1-bg;
      & > svg-icon > svg
        height: 10px
        width: auto;
+desktop()
  .card-buttons
    &__head
      &_sz-2
        margin-bottom: 22px
      &-title
        &_sz-2
          font-size: 16px
+extra_large()
  .card-buttons
    &__head
      &_sz-1
        margin-bottom: 14px
      &-title
        &_sz-1
          font-size: 9px
          letter-spacing 1px
    &__btn
      &_sz-1
        padding: 13px 2px;
        font-size: 14px
        font-weight: 500

    &__l-btn
      height: 48px
      font-size: 18px
      &:after
        width: 7px
        height: 7px
        margin-left: 7px
    &__buttons
      &-row
        margin: 0 -8px -10px
      &-item
        margin: 0 8px 10px
        &_item
          &_sz-1
            flex: 1 1 70px
        &_full-width
          margin-top: 6px


.card-buttons__btn
  display: block;
  box-sizing border-box
  text-align: center;
  white-space nowrap
  background-color: $c-card-1-theme-2-btn-1-bg;
  color: $c-card-1-theme-2-btn-1-text

  &.f-active
    background-color: $c-card-1-theme-2-btn-1-bg-active;
    color: $c-card-1-theme-2-btn-1-text-active;

  &_theme-1
    background-color: var(--skin-btn-bg);
    color: var(--skin-btn-text);
    &.f-active
      background-color: var(--skin-btn-bg-active);
      color: var(--skin-btn-text-active);
  &_theme-2
    background-color: var(--skin-btn-2-bg);
    color: var(--skin-btn-2-text);
    &.f-active
      background-color: var(--skin-btn-2-bg-active);
      color: var(--skin-btn-2-text-active);
      box-shadow: $c-card-1-theme-2-btn-1-shadow-active

.device-desktop
  .card-buttons
    &__btn
      &_theme-1
        &:not(.f-active):hover
          background-color: var(--skin-btn-bg-hover);
          color: var(--skin-btn-text-hover);
      &_theme-2
        &:not(.f-active):hover
          background-color: var(--skin-btn-2-bg-hover);
          color: var(--skin-btn-2-text-hover);
