$gap = 32px
$mb = 32px
$mob_mb = 16px;
$medium_cols = 2
$large_cols = 3
$max_cols = 4

.cards
  &__list
    margin-bottom: -($mob_mb);
  &__item
    margin-bottom: $mob_mb;

    &_banner
      flex: 0 0 100%

+medium()
  .cards
    &__list
      display: flex;
      flex-wrap wrap
      margin: "0 -%s -%s" % ($gap / 2 $mb);

    &__item
      margin: 0 ($gap / 2) $mb
      width: "calc(%s - %s)" % (100% / $medium_cols $gap);

+large()
  .cards
    &__item
      margin: 0 ($gap / 2) $mb
      width: "calc(%s - %s)" % (100% / $large_cols $gap);
//+max_w()
//  .cards
//    &__item
//      width: "calc(%s - %s)" % (100% / $max_cols $gap);
