.card-wrap
  width: 100%
  display: flex;
.card
  position: relative;
  display: flex;
  width: 100%
  //overflow: hidden;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  color: var(--skin-card-text);
  transition box-shadow $sFast ease-in-out
  box-shadow 0 4px 29px 0 rgba(0, 0, 0, 0.49), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  cursor: default;

  &_theme-2
    box-shadow $c-card-2-theme-1-btn-1-shadow

    .card__table-value_price
      &.f-active
        color: var(--skin-active-color)

  &_theme-3
    box-shadow 0 4px 10px 0 rgba(0, 0, 0, 0.2)

  &_sz-4
    min-height 133px
    margin: 2px 0 17px;
  &__wrap
    width: 100%
    &:before
      border-radius: 12px;
    &_sz-3:before
      border-radius: 6px;
  &_sz-3
    border-radius: 6px;

  &_related
    cursor: pointer;
    box-shadow none
    &.f-desktop
      .card__head-title
        will-change: transform
      &:hover
        box-shadow 0 4px 29px 0 rgba(0, 0, 0, 0.49), 0 1px 4px 0 rgba(0, 0, 0, 0.5);

  &.f-desktop
    &:hover
      .card__related
        max-height 500px
        opacity: 1

  &__remove
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -14px;
    right: -14px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    z-index: 3;
    background-color: #000;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.28);
    cursor: pointer;

    & > svg-icon > svg
      height: 25px
      width: auto;

  &__wrap
    position: relative;
    display: flex;
    flex-direction column
    justify-content: flex-end;
    padding: 16px;
    overflow: hidden;
    &_sz-1, &_sz-2
      min-height 444px
    &_sz-2
      padding: 16px 16px 27px;
    &_sz-3
      min-height 171px
      padding: 7px 7px 8px

    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 1
      background-image: linear-gradient(137deg, var(--skin-gradient-angle-1) 1%, var(--skin-gradient-angle-2) 37%), linear-gradient(to bottom, var(--skin-gradient-bottom-1) 39%, var(--skin-gradient-bottom-2) 77%);

  &__logo
    position: absolute;
    z-index: 2
    //max-width 120px
    &_pos-1
      right: 16px
      top: 16px
    &_pos-2
      left: 16px
      top: 16px

    &-label
      display: block;
      position relative
      box-sizing border-box
      overflow: hidden;
      line-height: 1
      text-align: center;
      font-weight: 500
      //width 80px

      &:not(.f-uploaded)
        border-radius: 14px
        padding: 16px 14px 4px
        min-height 120px
        width: 120px
        background-color: $c-card-1-theme-1-logo-bg
        color: $c-card-1-theme-1-text
        svg-icon > svg > path
          fill: $c-card-1-theme-1-text
        .card__logo-upl-text
          opacity: .4
    &-img
      display: block;
      width: auto;
      height: auto;
      max-height: 80px;
      max-width: 140px;
    &-close
      display: flex;
      align-items center
      justify-content: center;
      position: absolute;
      top: -10px
      right: -10px
      width: 29px
      height: 29px
      border-radius: 100%
      z-index: 3
      background-color: $c-card-1-theme-1-logo-close-bg;
      box-shadow: $c-card-1-theme-1-logo-close-shadow

      svg
        width: 17px
        height: auto;

    &-upl
      display: block;
      &-head, &-body, &-row
        display: block;
      &-head
        margin-bottom: 9px
        & > svg-icon svg
          width: 51px
          height: auto;
      //&-row
      //  margin-bottom: 4px
      //  &:last-child
      //    margin-bottom: 0
      &-title
        font-size: 15px
      &-text
        font-size: 10px
  &__content
    position: relative;
    z-index: 2
    //cursor: initial;
  &__head
    line-height: 1
    &_sz-1
      margin-bottom: 16px
    &_sz-2
      margin-bottom: 28px
    &_sz-3
      margin-bottom: 10px
    &-row
      margin-bottom: 8px
      &:last-child
        margin-bottom: 0
      &_sz-3
        margin-bottom: 3px
    &-title
      font-size: 8px
      font-weight: 600
      text-transform: uppercase;
      letter-spacing 0.89px
      &_sz-3
        font-size: 3px
        letter-spacing .33px
  &__title
    font-size: 24px
    font-weight: 600
    line-height: 1.2;
    &_sz-3
      font-size: 8px;
      line-height: 1.3

  &__related
    &.f-desktop
      max-height: 0;
      opacity: 0;
      transition: max-height $sMiddle ease-out, opacity $sMiddle ease-out;
      will-change max-height, opacity

  &__table
    font-weight: 600
    line-height: 1
    &_sz-3
      padding-right: 14px
    &-row
      display: flex;
      justify-content: space-between;
    &-td
      flex: 1
      &:not(:last-child)
        padding-right: 8px
    &-heading
      margin-bottom: 8px
      font-size: 8px
      font-weight: 600
      letter-spacing .89px
      text-transform: uppercase;
      &_sz-3
        margin-bottom: 3px
        font-size: 3px
        letter-spacing .33px
    &-value
      display: block;
      font-size: 18px
      &_lined
        opacity: .4;
        text-decoration: line-through;
        &_sz-2
          font-size: 12px
        &_sz-3
          font-size: 5px
      &_sz-3
        font-size: 7px
      &-row
        margin-bottom: 4px
        &_sz-3
          margin-bottom: 2px
        &:last-child
          margin-bottom: 0

+small()
  .card
    &__wrap
      &_sz-1
        min-height 540px
      &_sz-2
        min-height 592px
        padding: 24px 40px 24px 24px
    &__table
      &-heading
        &_sz-1, &_sz-2
          font-size: 9px
          letter-spacing 1px
          margin-bottom: 8px
      &-value
        &_sz-1, &_sz-2
          font-size: 24px
        &_lined
          &_sz-2
            font-size: 16px
        &-row
          margin-bottom: 5px
          &_sz-3
            margin-bottom: 2px
    &__logo
      &_pos-1
        top: 16px
        right: 16px
      &_pos-2
        top: 24px
        left: 24px;
      //&-label
      //  width: 120px

+medium()
  .card
    &_sz-4
      min-height 304px

+desktop()
  .card
    &__head
      &_sz-2
        margin-bottom: 25px
      &-title
       &_sz-2
        font-size: 9px
        letter-spacing 1px
    &__title
      &_sz-2
        font-size: 28px
        line-height: 1.22
    &__logo
      &-img
        max-height 120px
        max-width 160px

+extra_large()
  .card
    &__head
      &-row
        margin-bottom: 14px
        &_sz-3
          margin-bottom: 3px
      &-title
        &_sz-1
          font-size: 9px
          letter-spacing 1px
    &__title
      &_sz-1, &_sz-2
        font-size: 28px
        line-height: 1.22
