.card-slider
  display: flex;
  justify-content center

  &__list
    display: inline-flex;
    text-align: left;
    margin: 0 -6px

  &__item
    margin: 0 6px

  &__card
    position: relative;
    //width: 225px
    height: 304px
    overflow: hidden;
    border-radius: 6px
    box-shadow $c-card-2-theme-1-btn-1-shadow
    margin: 2px 0 17px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

    &:before
      content ''
      position: absolute;
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: $c-card-1-theme-1-gradient;
