.f-gift
  &__head
    margin-bottom: 34px
  &__heading
    margin-bottom: 12px
  &__form
    &-row
      margin-bottom: 16px
      &:last-child
        margin-bottom: 0
+desktop()
  .f-gift
    //&__head
    //  margin-bottom: 34px
    &__heading
      margin-bottom: 22px
    &__form
      &-row
        margin-bottom: 24px;
