.footer
  line-height: 1
  color: $c-2;
  &__link
    &_link
      color: $c-3;
    &_text
      color: $c-2;
.footer
  &_theme-2
    color: $c-1;
    .footer__link
      &_text
        color: $c-1;
    //&.footer_skin
    //  &-special
    //    .footer__link
    //      &_link
    //        color: #e74e27;

+mobile()
  .footer
    font-size: 14px
    &_mt-1
      margin-top: 33px
    &__item
      &:not(:last-child)
        margin-bottom: 25px
      &-item
        &:not(:last-child)
          margin-bottom: 8px

+desktop()
  .footer
    font-size: 18px
    &_mt-1
      margin-top: 43px
    &__row
      display: flex
      align-items center
      justify-content: space-between;
    &__item
      display: flex
      order: 1
      &_contacts
        order: 2
      &-item
        &:not(:last-child)
          margin-right: 35px
