.gifts-related
  &__head
    display: flex;
    justify-content: space-between;
    align-items flex-end
    margin-bottom: 18px
  &__title
    font-size: 28px
    font-weight: 600
    line-height: 1.3

  &__logo
    width 110px
    max-width 100%
    height: auto;
    &.sz-2
      width: 220px
    &-wrap
      display: block;
      text-align: center;

  &__swiper
    &-wrapper
      align-items center

  &__controls
    display: inline-flex;
    &-item
      margin-right: 26px;
      &:last-child
        margin-right: 0
    &-btn
      display: flex;
      align-items center
      justify-content: center;
      width: 50px
      height: 50px
      border: 2px solid #fff
      border-radius: 100%
      transition opacity $sFast ease-in-out
      &:after
        content ''
        width: 10px
        height: 10px
        border: 2px solid #fff
        border-bottom-color: transparent
        border-left-color: transparent
      &_right:after
        transform: rotate(45deg)
        margin-left: -5px
      &_left:after
        transform: rotate(-135deg)
        margin-right: -5px

      &.f-disabled
        opacity: .2;
        cursor: initial;

  &__footer
    margin-top: 20px
    text-align: center;

+desktop()
  .gifts-related
    &__head
      padding-right: 16px
      margin-bottom: 37px

    &__logo
      width: 120px
      &.sz-2
        width: 240px

    &__title
      font-size: 32px
      font-weight: 500
