.gifts
  &__head
    position: relative;
    margin-bottom: 28px
    padding-right: 18px

    &-row
      display: flex;
      justify-content: space-between;
      //&.f-vh
      //  visibility: hidden;
    &-item
      &_tags
        width: 95%
        padding-right: 15px
      &_icon
        & > svg-icon > svg > g
          transition stroke $sFast ease-in-out
        &:hover
          & > svg-icon > svg > g
            stroke: #6e6559
  &__body
    position: relative;
    min-height 530px

  &__empty-message
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #afa8a0;

  &__input
    padding: 0 50px 0 25px
    border-radius: 24px;
    font-size: 16px
    font-weight: 500
    color: #000;
    background-color: #f3f2ef;
    +placeholder()
      color: #afa8a0;
    &-wrap
      position: absolute;
      right: 0
      top: -10px
      bottom: 0
      display: flex;
      width: 100%
      z-index: 2
      font-size: 0
      transition width $sFast ease-in-out, opacity $sFast ease-in-out
      overflow: hidden;
      height: 52px

      &:not(.f-active)
        width: 0
        opacity: 0
        transition opacity $sMiddle ease-in-out, width $sFast ease-in-out

    &-inner
      position: relative;
      display: flex;
      min-width 200px
      width: 100%;

    &-icon
      position: absolute;
      top: 0
      bottom: 0
      right: 0
      width: 40px
      display: flex;
      align-items center
      justify-content: flex-end;
      padding-right: 20px
      & > svg-icon > svg path
        transition stroke $sFast ease-in-out
      &:hover
        & > svg-icon > svg path
          stroke: #6e6559

+desktop()
  .gifts
    &__head
      margin-bottom: 30px
      padding-right: 15px

    &__empty-message
      padding-top: 232px
      font-size: 32px;
