.gift
  &__head
    margin-bottom: 27px
    &-bl
      margin-bottom: 28px
      &_heading
        &:after
          content '';
          width: 100%
          font-size: 0
          line-height: 0
          height: 0
          clear both
    &-row
      margin-bottom: 12px
    &-row, &-bl
      &:last-child
        margin-bottom: 0
    &-item
      &_logo
        float: right;
      //&_title
      //  padding-right: 18%
    &-logo
      display: inline-block;
      max-width: 56px;
      max-height: 56px;
      width: auto;
      height: auto

  &__title
    display: flex;
    padding-right: 12px
    font-size: 28px
    font-weight: 600

  &__summary
    font-size: 18px

  &__form
    color: $c-2;

  &__body-col, &__section
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
  &__section
    &-row
      margin-bottom: 16px
      &:last-child
        margin-bottom: 0
  &__fieldset
    &:not(:last-child)
      padding-bottom: 32px
      margin-bottom: 32px
      border-bottom: 1px solid $c-card-1-theme-1-hr

    &-col
      &_card
        max-width: 432px
  &__footer
    margin-top: 22px
    &-row
      margin-bottom: -26px
    &-item
      margin-bottom: 26px
  &__card
    max-width 432px
  &__more
    margin-top: 32px

+desktop()
  .gift
    &__head
      margin-bottom: 45px
      &-bl
        margin-bottom: 28px
        &_heading
          display: flex;
          justify-content space-between;
          &:after
            content none
      &-row
        margin-bottom: 10px
      &-row, &-bl
        &:last-child
          margin-bottom: 0
      &-item
        &_title
          order: 1
          flex: 1 0 66%
          padding-right: 18%
        &_logo
          float: none;
          order: 2
          text-align: right;
      &-logo
        max-width 150px
        max-height 150px

    &__title
      font-size: 52px
    &__text
      font-size: 24px
    &__summary
      font-size: 24px
    &__section
      margin-bottom: 34px
    &__body
      &-row
        display: flex;
      &-col
        flex: 1
        margin-bottom: 0
        &_card
          order: 2
          flex: 0 1 432px
          margin-left: 48px
          display: flex;
          max-height 670px
        &_form
          order: 1
          padding-top: 5px
    &__footer
      margin-top: 40px
      &-row
        &_buttons
          display: flex;
          align-items center
          justify-content space-between
      &-item
        &_btn
          min-width 226px
