.h-share
  position: relative;
  color: #000;

  &_theme-2
    color: #fff;
    .h-share__btn
      color: #fff;
      & > svg-icon > svg > path
        fill: #fff

  &__nav
    position: absolute;
    top: calc(100% + 14px);
    right: 0
    width: 184px
    padding: 19px 12px 19px 16px
    transition opacity $sFast ease-in-out, visibility $sFast ease-in-out
    font-size: 14px
    font-weight: 500
    border-radius: 12px;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #000;

    &:not(.f-active)
      visibility: hidden;
      opacity: 0;
      pointer-events none

  &__item
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0

  &__btn
    font-size: 16px
    padding: 0
    border-radius: 8px
    font-weight: 600
    &-text
      display: none;
      margin-left: 10px

  &__link
    display: flex;
    align-items center
    font-size: 16px
    cursor: pointer;
    & > svg-icon
      width: 25px
      margin-right: 12px
      & > svg
        max-width 22px
        max-height: 22px
        width: auto;
        height: auto;

+desktop()
  .h-share
    &__btn
      padding: 8px 22px 8px 14px
      &-text
        display: inline;

.device-desktop
  .h-share
    &__btn
      &:hover
        background-color: rgba(175, 168, 160, .2);
.link
  display: flex;
  align-items: center;
  position: relative;
  margin-right:72px;
  .icon.contacts-icon
    width: 24px;
    height: 24px;
    margin-right: 12px;
    & path
      fill:#FF3838;
  span
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#FF3838;
.h-share__head
  display:flex;
  align-items:center;
  .h-share__btn svg
    width:24px;
    height:24px;
  .h-share__btn-text
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A8A8A8;
