.header
  &_pos-3
    margin-bottom: 45px
  .header__logo
    & > svg
      .w-1
        fill: #000
  &_theme-2
    .header__logo
      & > svg
        .w-1
          fill: var(--skin-header-logo-w-1)
        .w-2
          fill: var(--skin-header-logo-w-2)
        path
          fill: var(--skin-header-logo-w-1)

  &__logos
    display: flex;
    &_company
      .header__logo
        &_sz-1 > svg
          width: 84px
    &-item
      position: relative;
      &:not(:last-child)
        padding-right: 11px;
        margin-right: 10px;
        &:after
          content: '';
          width: 1px;
          height: 70%;
          background: #fff;
          position: absolute;
          bottom: 5px;
          right: 0;

  &__row
    position: relative;
    display: flex;
    //align-items center
    justify-content space-between
    //
    //&_pos-1
    //  align-items flex-end
    //&_pos-2
    //  align-items flex-start

  &__item
    position: relative;
    z-index: 2
    &_logo
      display: flex;
      justify-content center
      //align-items center
      position: absolute;
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 1
    //&_pos-1
    //  align-items flex-end
    //
    //&_nav_pos-2, &_share_pos-2
    //  padding-top: 10px

    &-row
      margin-top: 12px
      &_abs
        position: absolute;
      &:first-child
        margin-top: 0

  &__logo_sz-1 > svg, &__logo_custom_sz-1
    width: 128px;
    height: auto;
  &__logo
    &_custom
      &_sz-2
        width: 218px;

.header
  &_theme-2
    .nav
      color: #fff;
    .nav__btn > svg-icon > svg > path
      fill: #fff
    .nav__link
      opacity: .9;

//
//@media all and (min-width: 1124px)
//  .header__item_nav
//    padding-top: 12px
+desktop()
  .header
    &__logos
      &-item
        &:not(:last-child)
          padding-right: 25px;
          margin-right: 24px;
          &:after
            bottom: 10px

    &__logo_sz-1 > svg, &__logo_custom_sz-1, &__logos_company .header__logo_sz-1 > svg
      width: 156px;
    &__logo
      &_custom
        &_sz-2
          width: 324px;
