.how
  font-size: 16px
  line-height: 1.3

  a
    color: #BDA776;

  strong
    font-weight: 500;
    color: #bda776;

  &__list
    counter-reset: item;
  &__item
    position: relative;
    display: flex;
    margin-bottom: 58px
    &:last-child
      margin-bottom: 0
    &:before
      content: counter(item);
      counter-increment: item;
      flex: 0 0 30px
      font-weight: 500

    &-head
      margin-bottom: 12px
    &-title
      font-weight: 500
    &-img
      display: block;
      max-width 100%
      height: auto;

+desktop()
  .how
    font-size: 24px
    &__list
      &__item
        &:before
          flex: 0 0 70px
