.layout
  position: relative
  z-index: 10

  &_theme-2
    background-color: var(--skin-page-bg);
    color: var(--skin-text);

  //&_skin
  //  &-conservatory, &-default
  //    background-color: $c-card-1-theme-1-page-bg;
  //    //.layout__heading-logo > svg .w-2
  //    //    fill: $c-card-1-theme-1-text
  //    .layout__head-image:before
  //      background-image: $c-card-1-theme-1-page-gradient;
  //  &-planetarium
  //    background-color: $c-card-1-theme-2-page-bg;
  //    //.layout__heading-logo > svg .w-2
  //    //  fill: $c-card-1-theme-2-text
  //    .layout__head-image:before
  //      background-image: $c-card-1-theme-2-page-gradient;
  //  &-zaryadye
  //    background-color: $c-card-1-theme-3-page-bg;
  //    //.layout__heading-logo > svg .w-2
  //    //  fill: $c-card-1-theme-3-text
  //    .layout__head-image:before
  //      background-image: $c-card-1-theme-3-page-gradient;
  //  &-balet
  //    background-color: $c-card-1-theme-4-page-bg;
  //    //.layout__heading-logo > svg .w-2
  //    //  fill: $c-card-1-theme-4-text
  //    .layout__head-image:before
  //      background-image: $c-card-1-theme-4-page-gradient;
  //  &-cinema
  //    background-color: $c-card-1-theme-5-page-bg;
  //    //.layout__heading-logo > svg .w-2
  //    //  fill: $c-card-1-theme-5-text
  //    .layout__head-image:before
  //      background-image: $c-card-1-theme-5-page-gradient;
  //  &-soviet
  //    background-color: $c-card-1-theme-6-page-bg;
  //    //.layout__heading-logo > svg .w-2
  //    //  fill: $c-card-1-theme-6-text
  //    .layout__head-image:before
  //      background-image: $c-card-1-theme-6-page-gradient;
  //  &-special, &-parking
  //    background-color: #060431;
  //    color: #fff;
  //    .layout__heading-logo > svg .w-1
  //      fill: #e74e27
  &__heading
    margin-bottom: 35px;
    &_mb-2
      margin-bottom: 17px
    &_mb-3
      margin-bottom: 80px
    &-row
      margin-bottom: 40px
      font-size: 0
      &_ta-c
        text-align: center;
      &:last-child
        margin-bottom: 0
    &-item
      &-row
        margin-bottom: 12px
        &:last-child
          margin-bottom: 0
    &-logo
      & > svg
        width: 162px
        height: auto;
        .w-2
          fill: $c-card-1-theme-1-text
  &__wrap
    position: relative;
  &__head-image
    position: absolute;
    top: 0
    left: 0
    width: 100%
    height: 58vh;
    background-repeat: no-repeat;
    background-position: top center
    background-size: cover;
    &:before
      content '';
      position: absolute;
      width: 100%
      height: 100%
      background-image: linear-gradient(to bottom, var(--skin-page-gradient-bottom-1) 2%, var(--skin-page-gradient-bottom-2) 16%, var(--skin-page-gradient-bottom-3) 88%);

  &__inner
    position: relative;
    z-index: 1

  &__content-wrap
    position: relative
    display: flex;
    flex-direction column
    z-index: 2
    max-width: $w_max_page_width
    margin: 0 auto
    min-height: 100vh

    &_pad-1, &_pad-2
      padding: 16px 0

  &__content
    flex: 1

.hash_tag
  display: block;
  text-align: center;
  font-size: 20px;
  color:#fff;

+desktop()
  .hash_tag
    font-size: 28px;

+desktop()
  .layout
    &__heading
      margin-bottom: 50px;
      &_mb-3
        margin-bottom: 95px
      &-logo
        & > svg
          width: 224px
    &__content-wrap
      &_pad-1
        padding: 20px 0 46px
      &_pad-2
        padding: 24px 0 48px

+h_medium()
  .layout
    &__head-image
      height: 80vh

//.device-desktop
//  .layout
//    &_skin
//      &-parking
//        .s-form__btn:not(:disabled):not(.f-disabled):hover, .s-form__btn:not(:disabled):not(.f-disabled):active
//          background-color: #70bf46;
