.nav
  position: relative;
  font-size: 16px
  font-weight: 500

  &__link
    transition opacity $sFast ease-in-out
    &.f-active
      opacity: 1;

  &__item
    &:last-child
      margin-right: 0
      margin-bottom: 0

  &__btn
    padding: 0

@media all and (min-width: 1124px)
  .nav
    &__head
      display: none;

    &__list
      display: flex;

    &__item
      margin-right: 20px

    &__link
      opacity: .6;

@media all and (max-width: 1123px)
  .nav
    &__nav
      position: absolute;
      top: calc(100% + 14px);
      left: 0
      width: 240px
      padding: 19px 12px 19px 16px
      transition opacity $sFast ease-in-out, visibility $sFast ease-in-out
      border-radius: 12px;
      box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;

      &:not(.f-active)
        opacity: 0
        visibility: hidden;

    &__item
      margin-bottom: 12px

    &__link
      color: #000 !important;

.device-desktop
  .nav__link:hover
    opacity: 1
