.page
  &__head
    margin-bottom: 30px
    &_mb-2
      margin-bottom: 45px
  &__title
    font-size: 40px
    font-weight: 600

  &__related
    margin-bottom: 58px

    &-slide
      min-width 98px

  &__footer
    margin-top: 50px

+desktop()
  .page
    &__head
      margin-bottom: 45px
      &_mb-2
        margin-bottom: 60px
    &__title
      font-size: 90px

    &__related
      &-slide
       min-width 221px
