.plus-minus
  user-select: none
  line-height: 1
  &_sz-1
    font-size: 14px
    border-radius: 32px;
  &_theme-1
    font-weight: 500
  &_skin
    &-default
      background: $c-card-1-theme-2-btn-1-bg;
  &__row
    display: flex;
    align-items center
    justify-content space-between
    &_sz-1
      //padding: 0 18px
      height: 48px
  &__item, &__btn
    display: flex;
    align-items center
    justify-content center
  &__item_btn, &__btn
      &_sz-1
        flex: 0 1 48px
        height: 100%
