.s-form
  &_theme-2
    .s-form__input-label:focus-within
      box-shadow: 0 0 0 3px var(--skin-active-color);
  &__col
    margin-bottom: 22px
    &:last-child
      margin-bottom: 0
  &__title
    font-size: 28px
    font-weight: 600
    line-height: 1.3
    color: #fff;
    strong
      color: #e74e27;

    &_theme-2
      color: var(--skin-text);
      strong
        color: var(--skin-active-color);
  &__form
    &-row
      margin-bottom: 20px
      &:last-child
       margin-bottom: 0
    &-footer
      margin: 30px 0 -20px
  &__footer
    &-item
      margin: 0 0 20px

  &__check
    &-fake
      flex: 0 0 24px
      height: 24px
      background: transparent;
      border: 1px solid #fff

  &__msg
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .2px;
    text-align: center;

  &__btn
    &_theme-2
      background-color: var(--skin-active-color);

+large()
  .s-form
    &__col
      &_form
        width: 542px;
        flex: 1 0 auto;
        margin-left: 105px;
      &-row
        display: flex;
    &__title
      //font-size: 52px
      font-size: 36px
    &__footer
      &-row
        display: flex;
        justify-content: space-between;
        align-items center
      &-item
        margin-right: 35px
        &:last-child
          margin-right: 0
    &__msg
      text-align: left;

.device-desktop
  .s-form__btn
    &_theme-2
      &:not(:disabled):not(.f-disabled)
        &:hover, &:active
          background-color: var(--skin-active-color);
