.scroll
  overflow: hidden

  &_3d {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &_disabled {
    pointer-events: none;
  }

  &__container
    overflow: hidden;
    overflow: none;
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar
      display: none !important
      -webkit-appearance: none !important
      width: 0 !important
      height: 0 !important

    &_smooth-scroll {
      scroll-behavior: smooth;
    }

  &__list
    display: inline-block
    position: relative
    will-change: transform;
    transition: none;

    &_will-change {
      will-change: scroll-position;
    }
