.section
  margin-left: auto;
  margin-right: auto;
  &:last-child
    margin-bottom: 0

  &_sz-1, &_sz-2, &_sz-4, &_sz-5, &_sz-7
    border-radius: 31px
  &_sz-1
    padding: 15px 12px
  &_sz-2
    max-width 480px
    padding: 36px 32px 32px
  &_sz-3
    max-width calc(100% - 32px)
  &_sz-4
    padding: 40px 12px 17px
  &_sz-6
    max-width calc(100% - 24px)
    padding: 23px 20px 28px
    border-radius: 8px;
  &_sz-7
    padding: 27px 12px 15px
  &_bg-1
    background-color: $c-section-1-theme-1-bg;
  &_bg-2
    background-color: $c-section-1-theme-2-bg;
  &_bg-3
    background-color: #13114e;
  &_theme-1
    box-shadow: $c-section-1-theme-2-shadow
  &_theme-2
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.08);
  &_mb-1
    margin-bottom: 16px
  &_mb-2
    margin-bottom: 25px
  &_mb-3
    margin-bottom: 40px
  &_mb-4
    margin-bottom: 52px

@media all and (min-width: 1261px)
  .section
    &_sz-1, &_sz-3, &_sz-4, &_sz-6, &_sz-7
      max-width 1260px

+desktop()
  .section
    &_sz-1, &_sz-7
      padding: 40px 88px 50px 85px
    &_sz-4
      padding: 62px 66px 56px 52px
    &_sz-6
      padding: 34px 44px 43px;
      max-width calc(100% - 200px)
    &_mb-1
      margin-bottom: 33px
    &_mb-2
      margin-bottom: 80px
    &_mb-3
      margin-bottom: 63px



