.select-list
  position: relative;
  z-index: 1
  &__wrap
    position: absolute;
    left: 0;
    top: 4px
    width: 100%
    max-height: 170px
    overflow-y: auto;
    padding: 12px 12px 18px
    border-radius: 4px;
    background: #fff;
  &__item
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0
  &__label
    font-weight: 500
    cursor: pointer;
