.social
  &__list
    display: flex;
    flex-wrap wrap
    &_sz-1
      margin: 0 -6px 6px
  &__item
      &_sz-1
        margin: 0 6px 6px
  &__link
    display: flex;
    align-items center
    justify-content: center;
    transition background-color $sFast ease-in-out
    cursor: pointer;
    & > svg-icon > svg
      width: auto;
    &_sz-1
      width: 93px
      height: 93px
      border-radius: 8px;
    &_fb
      &_sz-1
        & > svg-icon > svg
          height: 46px;
    &_vk
      &_sz-1
        & > svg-icon > svg
          height: 31px;
    &_insta
      &_sz-1
        & > svg-icon > svg
          height: 44px;
    &_viber
      &_sz-1
        & > svg-icon > svg
          height: 53px;
    &_tg
      &_sz-1
        & > svg-icon > svg
          height: 38px;
    &_ws
      &_sz-1
        & > svg-icon > svg
          height: 45px;
.device-desktop
  .social
    &__link
      &_theme-1
        &:hover
          background-color: $c-social-1-theme-1-bg;
