.special-text
  max-width 912px
  &__article
    font-size: 16px
    line-height: 1.2
    font-weight: 500
    h1
      font-size: 28px
      margin-bottom: 20px
    strong
      color: var(--skin-active-color);
    p
      margin: 10px 0
      &:last-child
        margin-bottom: 0
    img
      width: 100px
      height: auto;
      margin: 0 8px
    .footer-btn
      margin-top: 30px

+desktop()
  .special-text
    &__article
      font-size: 32px
      h1
        font-size: 70px
        margin-bottom: 50px
      p
        margin: 16px 0
