.summary
  &__head
    margin-bottom: 20px
    svg-icon > svg
      width: 120px
      height: auto;

  &__body
    &-section
      margin-bottom: 28px
      &:last-child
        margin-bottom: 0
  &__form
    &-row
      margin-bottom: 16px
      &:last-child
        margin-bottom: 0
    &-footer
      margin-top: 20px
      &-row
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
    &-buttons
      margin-top: 23px
      padding-top: 23px
      border-top: 1px solid $c-hr-1;
      &-row
        display: flex;
        flex-wrap wrap
        margin: 0 -8px -8px
      &-item
        display: flex;
        flex: 1
        margin: 0 8px 8px
        & *
          display: flex;
          width: 100%
  &__result
    &-head
      margin-bottom: 20px
      &-row
        margin-bottom: 14px
        &:last-child
          margin-bottom: 0
    &-footer
      margin-top: 18px
  &__title
    font-size: 24px
    font-weight: 500
    line-height: 1.3
