.tab-list
  counter-reset: item;
  font-size: 16px
  font-weight: 400
  line-height: 1.3
  color: $c-tab-list-1-theme-1-text;
  a
    color: #bda776;
  &__item
    display: flex;
    position: relative;
    margin-bottom: 24px
    &:last-child
      margin-bottom: 0
    &:before
      content: counter(item);
      counter-increment: item;
      display: inline-flex;
      align-items center
      justify-content: center;
      box-sizing border-box
      flex: 0 1 32px
      height: 32px
      padding: 0 6px
      margin-right: 16px
      border-radius: 10px
      font-size: 18px
      font-weight: 500
      line-height: 1
      background-color: $c-tab-list-1-theme-1-counter-bg;
      color: $c-tab-list-1-theme-1-counter-text;
    &-body
      flex: 1
  &__title
    font-weight: 500
  &__sub
    color: $c-tab-list-1-theme-1-sub;

+desktop()
  .tab-list
    &__item
      margin-bottom: 40px
      &:before
        flex: 0 1 40px
        min-height 40px
        margin-right: 24px
        font-size: 24px
