.tabs
  &__head
    &_mb-1
      margin-bottom: 25px
    &_mb-2
      margin-bottom: 36px
  &__buttons
    display: flex
    &-wrap
      overflow: hidden;
    &-item
      padding: 0 1px
      &_mr-1
        margin-right: 26px
      &:last-child
        margin-right: 0

  &__btn
    display: inline-block;
    position: relative;
    padding-bottom: 7px
    margin-bottom: 3px
    cursor: pointer;
    line-height: 1
    font-weight: 500
    white-space nowrap
    color: $c-tab-1

    &:after
      content: '';
      position: absolute;
      left: 0
      top: 100%
      width: 20%
      height: 3px
      visibility: hidden
      opacity: 0
      transition: width $sFast ease-in-out, visibility $sFast ease-in-out, opacity $sFast ease-in-out
      background-color: $c-tab-1-bd
    &_sz-1
      font-size: 24px
    &_sz-2
      font-size: 18px
      margin-bottom: 2px
      &:after
        height: 2px
    &.f-active
      color: $c-tab-1-active
      &:after
        width: 100%
        visibility: visible
        opacity: 1
    &_theme-2
      color: var(--skin-tab-text);
      &.f-active
        color: var(--skin-tab-text-active);
        &:after
          background-color: var(--skin-tab-bd);
//.tabs
//  &_skin
//    &-special
//      .tabs__btn.f-active:after
//        background-color: #e74e27;
//    &-parking
//      .tabs__btn.f-active:after
//        background-color: #70bf46;
+desktop()
  .tabs
    &__head
      &_mb-1
        margin-bottom: 28px
      &_mb-2
        margin-bottom: 44px
    &__buttons
      &-item
        &_mr-1
          margin-right: 43px
    &__btn
      &_sz-1
        font-size: 32px
      &_sz-2
        font-size: 24px
        margin-bottom: 3px
        &:after
          height: 3px
