.tags
  margin: -8px;
  &__list
    display: flex
    align-items: center
    padding: 8px

  &__item
    &_nav
      &:last-child
        margin-right: 0
    &_all
      border-right: 1px solid $c-tag-1-bdr

  &__link
    display: inline-block

    &_nav
      padding: 8px 0
      border-radius: 15px
      transition: padding $sFast ease-in-out, background-color $sFast ease-in-out, color $sFast ease-in-out
      font-size: 14px
      line-height: 1
      font-weight: 400
      white-space: nowrap
      cursor: pointer
      color: $c-tag-1-text

      &.f-active
        box-shadow $c-tag-1-bg-active-shadow
        background-color: $c-tag-1-bg-active
        color: $c-tag-1-text-active

+desktop()
  .tags
    &__item
      &_nav
        margin-right: 47px
      &_all
        padding-right: 24px
        margin-right: 30px
    &__list
      &_tag
        flex-wrap: wrap
    &__link
      &_nav
        font-size: 16px
        &.f-active
          padding-right: 18px
          padding-left: 18px

+mobile()
  .tags
    &__item
      &_nav
        margin-right: 28px
      &_all
        padding-right: 16px
        margin-right: 19px
    &__link
      &_nav
        font-size: 14px
        &.f-active
          padding-left: 20px
          padding-right: 20px

.device-desktop
  .tags__link_nav:not(.f-active)
    &:hover
      //padding-right: 22px
      //padding-left: 22px
      //background-color: $c-tag-1-bg-hover;
      color: $c-tag-1-text-hover
