.widget-popup
  position: fixed;
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1000000
  display: flex;
  align-items center
  justify-content: center;

  &.f-active
    .lds-ring
      display: none;
    .widget-popup__iframe
      display: block;

  &__overlay
    position: absolute;
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 1

  &__inner
    position: relative;
    z-index: 2
    width: 80%
    height: 94%
    max-width 950px
    background: #fff;

  &__iframe
    display: none;
    border: none;
    outline: none;
    position: relative;
    z-index: 1
    width: 100%
    height: 100%

.lds-ring {
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
