<app-gift [gift]="gift" [related]="related" [showCover]="false"
          [showName]="false" [showHeading]="true" [showBFee]="false" [showSubscribeForm]="true"
          [second_logos]="logos"
          second_logos_title="Учреждения культуры, в которые<br>вы сможете приобрести билеты по этому сертификату"
          [headingText]="gift && gift.price_modifier && gift.price_modifier.formatted_value ?
            '<h1>'+
            '  Поддержим друг друга<br><strong>в период карантина</strong>'+
            '</h1>'+
            '<p>'+
            '  Подарите единый сертификат zapomni.gift своим близким и получите <strong>' + gift.price_modifier.formatted_value + '</strong> к оплачиваемому номиналу и срок активации <strong>до 31.12.2020</strong>'+
            '</p>'+
            '<p>'+
            '  Скоро все закончится и его можно будет обменять на билеты в лучших учреждениях культуры Москвы. Приобретая сертификат сейчас, например, на 5000 рублей, вы получите сертификат на 6000 рублей. Использовать приобретенный подарочный сертификат станет возможным после возобновления работы учреждений культуры.'+
            '</p>' : null
">
</app-gift>
