<footer class="footer footer_theme-{{theme}} footer_skin-{{skin}} footer_mt-1">
  <div class="container container_gap-{{gap}}">
    <div class="footer__row">
      <div class="footer__item footer__item_contacts" *ngIf="contacts">
        <div class="footer__item-item">
          <a href="mailto: support@lastick.ru" class="footer__link footer__link_link mxn-link">support@lastick.ru</a>
        </div>
        <div class="footer__item-item">
          <a href="tel: {{formattedPhone}}" class="footer__link footer__link_text footer__link_text_skin-{{skin}} mxn-link">
            8 495 120 42 64 (8:00-23:00) 
          </a>
        </div>
      </div>
      <div class="footer__item footer__item_copyright">
        <span class="footer__text"> © Zapomni, {{ d | date: 'yyyy' }} </span>
      </div>
    </div>
  </div>
</footer>
