<div class="layout">
  <div class="layout__wrap">
    <div class="layout__inner">
      <div class="layout__content-wrap layout__content-wrap_pad-1">
        <div class="container container_gap-1">
          <app-header [showLogo]="showLogo" [pos]="pos"></app-header>
        </div>
        <div class="layout__content">
          <div class="layout__content-inner">
            <div class="layout__inner-wrap">
              <ng-content></ng-content>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
