:host {
  display: flex;
  width: 100%
}

.rate
  z-index: 5;
  position: absolute;
  color: white;
  font-size: 16px;
  line-height: 20px;
  background-color: #FF3838;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  top: 16px;
  right: 16px;
  border-radius: 50%;    