<ng-template #innerTmp>
  <div class="card__remove" *ngIf="showRemove" (click)="onRemoveClick($event)">
    <svg-icon src="/assets/svg/cross.svg"></svg-icon>
  </div>
  <div class="card__wrap card__wrap_sz-{{ sz }}">
    <!-- <div class="card__logo card__logo_pos-{{ pos }}" *ngIf="_logo || logoInput">
      <div class="card__logo-close mxn-cur-p" *ngIf="logoInput && _logo" (click)="onLogoRemove()">
        <svg-icon src="/assets/svg/cross.svg"></svg-icon>
      </div>
      <label
        class="card__logo-label card__logo-label_skin-default mxn-cur-p"
        *ngIf="logoInput"
        [ngClass]="{ 'f-uploaded': !!_logo }"
        appDropFiles
        (fileDropped)="onFileChange($event)"
      >
        <input
          type="file"
          accept="image/*"
          class="card__logo-input mxn-i-hidden"
          #logoInp
          (change)="onInputFileChange($event)"
        />
        <span class="card__logo-upl" *ngIf="logoInput && !_logo">
          <span class="card__logo-upl-head">
            <svg-icon src="/assets/svg/upload.svg"></svg-icon>
          </span>
          <span class="card__logo-upl-body">
            <span class="card__logo-upl-row">
              <span class="card__logo-upl-title">{{ 'GiftCard.LogoTitle' | translate }}</span>
            </span>
            <span class="card__logo-upl-row">
              <span class="card__logo-upl-text">
                {{ 'GiftCard.LogoText' | translate }}
              </span>
            </span>
          </span>
        </span>
        <img
          *ngIf="_logo"
          [src]="_logo.path | safe: 'url'"
          class="card__logo-img"
          alt="logo"
          appImgListener
          (instanceLoad)="logoImageLoaded.emit($event)"
        />
      </label>
      <img
        *ngIf="_logo && !logoInput"
        [src]="_logo.path | safe: 'url'"
        class="card__logo-img card__logo-img_sz-"
        alt="logo"
      />
    </div> -->
   <div class="rate" *ngIf="rating && showRate">{{rating}}</div>
    <div class="card__content">
      <div class="card__head card__head_sz-{{ sz }}">
        <div class="card__head-row card__head-row_sz-{{ sz }}">
          <h4 class="card__head-title card__head-title_sz-{{ sz }}">
            {{ 'GiftCard.Title' | translate }}
          </h4>
        </div>
        <div class="card__head-row card__head-row_sz-{{ sz }}">
          <h4 class="card__title card__title_sz-{{ sz }}">
            <ng-template [ngIf]="name">
              {{name}}
            </ng-template>
            <ng-template [ngIf]="!name">
              {{ gift.name_variant || gift.name | multilang }}
            </ng-template>
          </h4>
        </div>
      </div>
      <div class="card__table card__table_sz-{{ sz }}" *ngIf="showTable">
        <div class="card__table-row">
          <div class="card__table-td card__table-td_sz-{{ sz }}">
            <div class="card__table-heading card__table-heading_sz-{{ sz }}">
              {{ 'Common.Nominal' | translate }}
            </div>
            <div class="card__table-body">
              <ng-template [ngIf]="gift.price_modifier && gift.price_modifier.formatted_value">
                <div class="card__table-value-row card__table-value-row_sz-{{ sz }}">
                  <span
                    class="card__table-value card__table-value_price card__table-value_sz-{{ sz }}"
                    [ngClass]="{ 'f-active': !!price }"
                  >
                    {{
                    price
                      ? (price + (price / 100) * (gift.price_modifier.value || 0) | money)
                      : '...'
                    }}
                  </span>
                </div>
                <div class="card__table-value-row card__table-value-row_sz-{{ sz }}" *ngIf="price">
                  <span
                    class="card__table-value card__table-value_lined card__table-value_lined_sz-{{
                      sz
                    }}"
                  >
                    {{ price ? (price | money) : '...' }}
                  </span>
                </div>
              </ng-template>
              <div
                class="card__table-value-row"
                *ngIf="!(gift.price_modifier && gift.price_modifier.formatted_value)"
              >
                <span class="card__table-value card__table-value_sz-{{ sz }}">
                  {{ price ? (price | money) : '...' }}
                </span>
              </div>
            </div>
          </div>
          <div class="card__table-td card__table-td_sz-{{ sz }}">
            <div class="card__table-heading card__table-heading_sz-{{ sz }}">
              {{ 'GiftCard.DurationTitle' | translate }}
            </div>
            <div class="card__table-value card__table-value_sz-{{ sz }}" *ngIf="lastDate">
              {{ lastDate | date: 'dd.MM.yyyy' }}
            </div>
            <div class="card__table-value card__table-value_sz-{{ sz }}" *ngIf="!lastDate">
              Бессрочно
            </div>
          </div>
        </div>
      </div>
      <div
        class="card__related"
        (click)="onContentClick($event)"
        *ngIf="showRelated && gift.prices && gift.prices.length"
        [ngClass]="{ 'f-desktop': global.isDesktop }"
      >
        <div class="card-buttons">
          <div class="card-buttons__head card-buttons__head_sz-1">
            <h6 class="card-buttons__head-title card-buttons__head-title_sz-1">
              {{ 'GiftCard.ButtonsTitle' | translate }}
            </h6>
          </div>
          <div class="card-buttons__body">
            <div class="card-buttons__buttons">
              <div class="card-buttons__buttons-row">
                <div
                  class="card-buttons__buttons-item card-buttons__buttons-item_item card-buttons__buttons-item_item_sz-1"
                  *ngFor="let value of gift.prices | pricesSort"
                >
                  <span
                    [ngClass]="{ 'f-active': price === value }"
                    (click)="onPriceClick(value)"
                    class="mxn-btn card-buttons__btn card-buttons__btn_theme-{{
                      theme
                    }} card-buttons__btn_skin card-buttons__btn_skin-{{
                      (gift.skin_settings || { skin: 'default' }).skin
                    }} card-buttons__btn_sz-1"
                  >
                    {{ value | money }}
                  </span>
                </div>
                <div class="card-buttons__buttons-item card-buttons__buttons-item_full-width">
                  <button
                    type="button"
                    (click)="onBuyClick($event)"
                    class="mxn-btn mxn-btn_ta-c mxn-btn_full-width card-buttons__l-btn"
                  >
                    {{ 'Common.Buy' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div
  class="card-wrap"
  [attr.style]="(skin || {}).vars | safe: 'style'"
>
  <a
    class="card card_sz-{{ sz }} card_skin-{{ skin ? skin.skin : 'default' }} card_theme-{{ theme }}"
    *ngIf="url"
    [href]="url"
    (click)="onClickLink($event)"
    [ngClass]="{ 'f-desktop': global.isDesktop, card_related: showRelated, 'mxn-cur-p': url }"
    [ngStyle]="{
      'background-image': gift.image && gift.image.path ? 'url(' + gift.image.path + ')' : ''
    }"
  >
    <ng-container *ngTemplateOutlet="innerTmp"></ng-container>
  </a>
  <div
    class="card card_sz-{{ sz }} card_skin-{{ skin ? skin.skin : 'default' }} card_theme-{{ theme }}"
    *ngIf="!url"
    [ngClass]="{ 'f-desktop': global.isDesktop, card_related: showRelated, 'mxn-cur-p': url }"
    [ngStyle]="{
      'background-image': gift.image && gift.image.path ? 'url(' + gift.image.path + ')' : ''
    }"
  >
    <ng-container *ngTemplateOutlet="innerTmp"></ng-container>
  </div>
</div>
