<app-gift
  [skin]=""
  [gift]="gift"
  [related]="related"
  [showCover]="false"
  [showName]="false"
  [showHeading]="true"
  [showBFee]="false"
  [showSubscribeForm]="true"
  [showSubscribeCompany]="false"
  [showSubscribePhone]="false"
  [showSubscribeMessage]="true"
  [subscribeFormTitle]="
  'Возникли вопросы?<br>'+
  'Пишите нам'
"
  headerLogo="/assets/img/parking.png"
  headerLogoSz="2"
  [headingText]="
    gift && gift.price_modifier && gift.price_modifier.formatted_value
      ? '<h1>' +
        '  Парковка <strong>в подарок</strong>' +
        '</h1>' +
        '<p>' +
        '  Подарите сертификат <strong>Московского паркинга</strong> своим друзьям и близким. ' +
        '</p>' +
        '<p>' +
        '  При оплате картой <img src=\'/assets/img/mir.png\'> вы получите <strong>' +
        gift.price_modifier.formatted_value +
        '</strong> к номиналу сертификата.' +
        '</p>' +
        '<p>' +
        'Подарочный сертификат на парковку - это электронный сертификат с предоплаченным, но неограниченным номиналом, который вы можете подарить друг другу. Получатель данного сертификата имеет возможность оплаты парковки в любой парковочной зоне Москвы.' +
        '</p>'
      : null
  "
>
</app-gift>
