<header
  class="header header_pos-{{ pos }} header_sz-{{ sz }} header_theme-{{ theme }} header_skin-{{
    (skin || { skin: 'none' }).skin
  }}"
  style="{{ (skin || {}).vars || '' }}"
  [ngStyle]="{ 'min-height.px': height ? height : 0 }"
>
  <div class="header__row header__row_pos-{{ pos }}">
    <div class="header__item header__item_nav header__item_nav_pos-{{pos}}">
      <div class="header__item-row">
        <app-header-nav></app-header-nav>
      </div>
    </div>
    <div class="header__item header__item_rr" [ngStyle]="{ 'min-height.px': height ? height : 0 }"></div>
    <div class="header__item header__item_pos-{{pos}} header__item_logo">
      <div  (resized)="onResized($event)">
        <div class="header__item-row" >
          <div class="header__logos" #logoContainer [ngClass]="{'header__logos_company': headerLogo}">
            <div class="header__logos-item" *ngIf="showLogo">
              <a href="/" routerLink="/" class="header__logo-wrap">
                <svg-icon
                  *ngIf="!customLogo"
                  src="/assets/svg/logo.svg"
                  class="header__logo header__logo_sz-{{ sz }}"
                ></svg-icon>
                <img [src]="customLogo" *ngIf="customLogo" class="header__logo header__logo_custom header__logo_custom_sz-{{customLogoSz}}" alt="">
              </a>
            </div>
            <div class="header__logos-item" *ngIf="headerLogo">
              <a [href]="headerLogo.url" [routerLink]="headerLogo.url" class="header__logo-wrap">
                <svg-icon
                  [src]="headerLogo.svg"
                  class="header__logo header__logo_company header__logo_sz-{{ sz }}"
                ></svg-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="header__item-row header__item-row_abs" *ngIf="hash_tag">
          <span class="hash_tag">{{ hash_tag }}</span>
        </div>
      </div>
    </div>
    <div class="header__item header__item_share header__item_share_pos-{{pos}}">
      <div class="header__item-row">
        <app-header-share [skin]="skin" [theme]="theme"></app-header-share>
      </div>
    </div>
  </div>
</header>
