<div class='faq-block'>
  <div class='faq-question'
       (click)='details.open = !details.open'>
    <div>{{question}}</div>
    <div *ngIf='!details.open' class='faq-thumb'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#A09488" d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg>
    </div>
    <div *ngIf='details.open' class='faq-thumb'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#A09488" d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
    </div>
  </div>
  <details #details>

    <summary>
      {{question}}
    </summary>
    <div class='faq-description'>
      {{description}}
    </div>
  </details>
</div>
