.faq-block {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #EEEEEE;

  details {
    width: 100%;

  }

  summary {

    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: black;

    padding-right: 15px;

    &::-webkit-details-marker {
      display: none !important;
    }
  }
  .faq-question {
    position: absolute;
    min-height: 26px;
    width: 100%;
    left: -1px;
    top: 40px;
    z-index: 2;
    background: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-right: 15px;
    color: black;

    .faq-thumb {
      height: 16px;
      width: 16px;
      cursor: pointer;
      display: flex;
    }
  }
  .faq-description {
    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A8A8A8;
    padding-top: 20px;
  }
}
