<div class="layout layout_skin-{{skin.skin}} layout_theme-{{theme}} layout_bg_theme-{{bg_theme}}" [attr.style]="skin.vars | safe: 'style'">
  <div class="layout__wrap layout__wrap_theme-{{theme}}">
    <div class="layout__head-image layout__head-image_skin layout__head-image_skin-{{skin.skin}}" *ngIf="bg" [ngStyle]="{'background-image': 'url(' + bg + ')'}"></div>
    <div class="layout__inner layout__inner_theme-{{theme}}">
      <div class="layout__content-wrap layout__content-wrap_pad-2">
        <div class="layout__heading" [ngClass]="{'layout__heading_mb-2': fee, 'layout__heading_mb-3': hash_tag}">
          <div class="layout__heading-row layout__heading-row_logo">
            <div class="layout__heading-item">
              <div class="layout__heading-item-row">
                <div class="container container_gap-3">
                  <app-header [showLogo]="true" [showCompanyLogo]="showHeaderCompanyLogo" [customLogo]="customLogo" [customLogoSz]="customLogoSz" [skin]="skin" [hash_tag]="hash_tag" [pos]="hash_tag ? '2' : '1'" theme="2"></app-header>
                </div>
              </div>
            </div>
          </div>
          <div class="layout__heading-row" *ngIf="fee">
            <div class="layout__heading-item">
              <div class="container container_gap-4">
                <div class="b-fee b-fee_sz-1">
                  <div class="b-fee__row">
                    <div class="b-fee__item b-fee__item_hr b-fee__item_hr_sz-1">
                      <span class="b-fee__val b-fee__val_sz-1 b-fee__val_theme-1" [innerHTML]="fee.value"></span>
                    </div>
                    <div class="b-fee__item">
                      <p class="b-fee__text" [innerHTML]="fee.text"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layout__content">
          <div class="layout__content-inner">
            <div class="layout__inner-wrap">
              <ng-content></ng-content>
            </div>
          </div>
        </div>
        <app-footer [skin]="(skin || {skin: 'default'}).skin" gap="3" theme="2"></app-footer>
      </div>
    </div>
  </div>
</div>
