<!--Подарите знакомому врачу или больнице подарочный сертификат на мероприятия. Оплаченную вами сумму мы увеличим на 30% и отправим куда скажете.      -->
<div style="--skin-text: #fff;
    --skin-gradient-angle-1: rgba(255,255,255,0.21);
    --skin-gradient-angle-2: transparent;
    --skin-gradient-bottom-1: rgba(141,44,5,0);
    --skin-gradient-bottom-2: #0f0431;
    --skin-page-bg: #060431;
    --skin-page-gradient-bottom-1: rgba(255, 255, 255, 0.29);
    --skin-page-gradient-bottom-2: transparent;
    --skin-page-gradient-bottom-3: #060431;
    --skin-btn-bg: rgba(255,255,255,0.1);
    --skin-btn-text: rgba(255,255,255,0.6);
    --skin-btn-bg-hover: rgba(255,255,255,0.2);
    --skin-btn-text-hover: rgba(255,255,255,0.6);
    --skin-btn-bg-active: #010fad;
    --skin-btn-text-active: #ffd040;
    --skin-tab-text: #afa8a0;
    --skin-tab-text-active: #000;
    --skin-tab-bd: #e74e27;
    --skin-fee-nominal: #e74e27;
    --skin-header-logo-w-1: #fff;
    --skin-header-logo-w-2: #e74e27;
    --skin-active-color: #e74e27;">
  <app-gift
    [showCover]="false"
    [showName]="false"
    [showHeading]="true"
    [showBFee]="false"
    [showSubscribeForm]="true"
    [showSubscribeMessage]="false"
    [showMoreBtn]="false"
    [corpPhoneInput]="false"
    [giftPhoneInput]="false"
    [first_logos]="null"
    [headingText]="
    '<h1>' +
    '  Поможем миру искусства вместе <strong>в период карантина</strong>' +
    '</h1>' +
    '<p>' +
    'В условиях пандемии в первую очередь пострадали именно те заведения, которые работают с посетителями. Ваш культурный объект является важной точкой на культурном ландшафте города, поэтому мы предлагаем вам присоединиться к <strong>Zapomni.gift</strong> именно сейчас.' +
    '</p>' +
    '<p>' +
    'Мы помогаем:<br>'+
      '<strong>•</strong> создать удобный онлайн-сервис по продаже подарочных сертификатов на вашем сайте<br>'+
      '<strong>•</strong> установить готовый платежный инструмент, интегрированный с Apple Pay и Google Pay<br>'+
      '<strong>•</strong> привлечь новых клиентов, размещая ваш подарочный сертификат на нашей платформе' +
    '</p>' +
    '<p>' +
      'Именно сейчас каждый купленный сертификат станет существенным вкладом в поддержку культурных институций. Так мы сможем продлить жизнь любимому музею, парку или театру.' +
    '</p>' +
    '<p>' +
      'Мы будем рады видеть вас среди наших партнеров!' +
    '</p>' +
    '<div class=\'footer-btn\'>' +
        '<a download target=\'_blank\' href=\'https:\/\/st1.lastick.ru\/digest\/common\/gift_moscow\/zapomni.gift.presentation.pdf\' class=\'mxn-btn mxn-btn_ta-c mxn-btn_sz-5 mxn-btn_theme-special\'>' +
          'Скачать презентацию' +
        '</a>' +
    '</div>'
  ">
  </app-gift>
</div>

<!--"<a href=\"https://st1.lastick.ru/digest/common/gift_moscow/zapomni.gift.presentation.pdf\" download class=\"mxn-btn mxn-btn_ta-c mxn-btn_sz-5 mxn-btn_theme-special\">" +-->
<!--'Скачать презентацию' +-->
<!--"</a>" +-->
