<!--Подарите знакомому врачу или больнице подарочный сертификат на мероприятия. Оплаченную вами сумму мы увеличим на 30% и отправим куда скажете.      -->
<!--  [head_hash_tag]="gift && gift.name_variant ? (gift.name_variant | multilang) : ''"
-->
<app-gift
  [gift]="gift"
  [showCover]="false"
  [showName]="false"
  [showHeading]="true"
  [showBFee]="false"
  [showSubscribeForm]="true"
  [showSubscribeMessage]="false"
  [showMoreBtn]="false"
  [corpPhoneInput]="false"
  [giftPhoneInput]="false"
  [addresseeData]="addresseeData"
  giftTabTitle="Подарить врачу"
  corpTabTitle="Подарить больнице"
  [first_logos]="null"
  first_logos_title="Больницы которые борются с COVID-19"
  [second_logos]="logos"
  second_logos_title="Где можно использовать сертификат"
  [headingText]="
    gift && gift.price_modifier && gift.price_modifier.formatted_value
      ? '<h1>' +
        '  <strong>Поддержим врачей</strong> вместе. Подарите сертификат и <strong>скажите им спасибо.</strong>' +
        '</h1>' +
        '<p>' +
        'Zapomni.Gift позволяет подарить сертификат врачу или всей больнице. Выбранную вами сумму подарка, мы <strong>увеличим на ' +
        gift.price_modifier.value +
        '% за свой счет.</strong>' +
        '</p>' +
        '<p>' +
          'Как только все закончится, врачи смогут использовать полученный от вас сертификат и посетить лучшие культурные мероприятия Москвы <strong>бесплатно!</strong>' +
        '</p>'
      : null
  "
>
</app-gift>
