<div class="hidden-desktop">
    <new-app-header></new-app-header>
</div>

<div class="modal-header">

  <h4 class="modal-title" id="modal-basic-title">Все рестораны Москвы</h4>
  <svg
    class="icon icon-close"
    (click)="close()"
    viewBox="0 0 48 49"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="24" cy="24.6917" r="23.5" stroke="white" />
    <path
      d="M29.8467 31.0288L17.4009 18.5732"
      stroke="white"
      stroke-width="1.85"
      stroke-linecap="square"
    />
    <path
      d="M29.8078 18.5657L17.3962 30.9772"
      stroke="white"
      stroke-width="1.85"
      stroke-linecap="square"
    />
  </svg>
</div>
<div class="modal-body">
    <div class="filter-container">
        <filter-by-cook *ngIf="tags && tags.length>0" [tags]="tags"></filter-by-cook>
        <div class="label" (click)="isCard=!isCard" [class.label--active]="isCard">
            <svg class="icon" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 24.6917C11.7415 24.6917 11.5065 24.5716 11.342 24.3796C10.4961 23.3956 3 14.6837 3 9.88365C3 4.81965 7.04177 0.69165 12 0.69165C16.9582 0.69165 21 4.81965 21 9.88365C21 14.6596 13.5039 23.3956 12.658 24.3796C12.4935 24.5716 12.2585 24.6917 12 24.6917ZM12 2.51565C8.02872 2.51565 4.7859 5.82765 4.7859 9.88365C4.7859 13.0517 9.50914 19.3636 12 22.3876C14.4909 19.3876 19.2141 13.0517 19.2141 9.88365C19.2141 5.82765 15.9713 2.51565 12 2.51565Z" fill="#A8A8A8" stroke="#A8A8A8" stroke-width="0.3"/>
                <path d="M11.9998 14.6118C9.50892 14.6118 7.48804 12.5478 7.48804 10.0038C7.48804 7.45975 9.50892 5.39575 11.9998 5.39575C14.4906 5.39575 16.5115 7.45975 16.5115 10.0038C16.5115 12.5478 14.4906 14.6118 11.9998 14.6118ZM11.9998 7.21975C10.4959 7.21975 9.27394 8.46775 9.27394 10.0038C9.27394 11.5398 10.4959 12.7878 11.9998 12.7878C13.5037 12.7878 14.7256 11.5398 14.7256 10.0038C14.7256 8.46775 13.5037 7.21975 11.9998 7.21975Z" fill="#A8A8A8"/>
            </svg>
                
            <span class="hidden-mobile">Карта</span>
        </div>
        <div class="seacrh-block">
            <svg class="icon" (click)="inputIsOpen=true" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.1842 14.8664C17.6963 14.8664 20.5434 12.0193 20.5434 8.50717C20.5434 4.99507 17.6963 2.14795 14.1842 2.14795C10.6721 2.14795 7.82495 4.99507 7.82495 8.50717C7.82495 12.0193 10.6721 14.8664 14.1842 14.8664Z" stroke="#A8A8A8" stroke-width="3" stroke-miterlimit="10"/>
                <path d="M6.36893 16.1042L2 20.4732" stroke="#A8A8A8" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
            </svg>
            <input placeholder="Поиск по ресторанам" type="text" class="gifts__input mxn-i-txt mxn-i-txt_full-width"
            [(ngModel)]="restNameQuery"  
            [class.active]="inputIsOpen"
              (ngModelChange)="restNameUpdate.next($event)"
            />   
            <div class="gifts__input-icon mxn-cur-p" *ngIf="inputIsOpen" (click)="onCloseInput()">
              <svg-icon src="/assets/svg/close.svg"></svg-icon>
            </div>
        </div>
    </div>
    <iframe class="map-wrapper" src="https://snazzymaps.com/embed/254084" width="100%" height="88%" style="border:none;" *ngIf="isCard"></iframe>
    <div class="cerificate-list-container" *ngIf="!isCard">
        
        <div class="cert-list" *ngIf="data && data.length>0">
            <app-cert-card [data]="item" *ngFor="let item of data"></app-cert-card>
        </div>
        
    </div>


</div>
