<div class="filter-by-cook-list">
    <div class="filter-item " [class.filter-item--active]="getAll" (click)="toggleAll()">Все</div>
    <div class="devider"></div>
    <div class="filter-mobile-wrapper" *ngIf="tags && tags.length>0">
        <div class="filter-item" *ngFor="let i of tags" (click)="toggle(i)" [class.filter-item--active]="isActive(i._uuid)">{{i.name.ru}}</div>
        
    </div>
    
    <div class="devider hidden-mobile"></div>
</div>
