<div class="doc-privacy-container" >
    <div class="doc__wrap">
      <div class="doc__body">
        <article class="doc__article"  >

            <p class="paragraph">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ – ПОЛИТИКА 
            </p><p class="paragraph">ОБЩЕСТВА С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ 
            </p><p class="paragraph">«ЛАСТИК» В ОТНОШЕНИИ ОБРАБОТКИ И ОБЕСПЕЧЕНИЯ ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ 
            </p><p class="paragraph">1.   Общие положения
            </p><p class="paragraph">1.1. Настоящая Политика проводится ООО «Ластик» (далее – «Ластик») в отношении обработки и обеспечения защиты персональных данных (далее по тексту – настоящая Политика) физических лиц (субъектов персональных данных) на основании статьи 24 Конституции Российской Федерации, главы 14 Трудового кодекса Российской Федерации, Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", других действующих нормативных актов Российской Федерации.
            </p><p class="paragraph">Политика введена с целью обеспечения защиты прав и свобод субъектов при обработке их персональных данных с/без использованием средств автоматизации, а также устанавливает ответственность лиц, имеющих доступ к персональным данным, за невыполнение требований, регулирующих обработку и защиту персональных данных.
            </p><p class="paragraph">1.2. Политика применяется в отношении всех персональных данных, которые могут быть получены Ластик в процессе деятельности, в том числе сотрудников и клиентов Ластик.
            </p><p class="paragraph">Цель Политики заключается в доведении до лиц, предоставляющих свои персональные данные необходимой информации, позволяющей оценить, какие персональные данные и с какими целями обрабатываются Ластик, какие методы обеспечения их безопасности реализуются.
            </p><p class="paragraph">1.3. Клиенты, используя сервисы, услуги Ластик, сообщив Ластик свои персональные данные, в том числе при посредничестве третьих лиц, признают своё согласие на обработку персональных данных в соответствии с настоящей Политикой.
            </p><p class="paragraph">1.4. Настоящая Политика может быть изменена при изменении действующего законодательства РФ.
            </p><p class="paragraph">Ластик представляет действующую редакцию Политики на сайте Ластик.
            </p><p class="paragraph">1.5. Ластик не проверяет достоверность персональной информации, предоставляемой Клиентом, и не имеет возможности оценивать его дееспособность. Однако Ластик исходит из того, что Клиент предоставляет достоверную и достаточную персональную информацию и поддерживает эту информацию в актуальном состоянии.
            <br>
            <br>
            
            </p><p class="paragraph">2. Понятие и состав персональных данных
            </p><p class="paragraph">2.1.       В целях настоящей Политики под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу - субъекту персональных данных.
            </p><p class="paragraph">2.2.       В зависимости от субъекта персональных данных, Ластик для осуществления своей деятельности и для выполнения своих обязательств может обрабатывать персональные данные следующих категорий субъектов:
            </p><p class="paragraph">2.2.1.  персональные данные Клиента - информация, необходимая Ластик для выполнения своих обязательств в рамках договорных отношений с Клиентом и для выполнения требований текущего законодательства Российской Федерации. При оформлении Заказа на Сайте Клиент предоставляет следующие персональные данные: Фамилия, Имя, адрес электронной почты, телефон. Ластик использует информацию для выполнения своих обязательств перед Клиентом.
            </p><p class="paragraph">2.2.2.  персональные данные сотрудников - информация, необходимая Ластик в связи с трудовыми отношениями и касающиеся конкретного сотрудника Ластик.
            </p><p class="paragraph">2.2.3.  персональные данные аффилированного лица или персональные данные руководителя, участника или сотрудника юридического лица, являющегося аффилированным лицом по отношению к Ластик - информация, необходимая Ластик для отражения в отчетных документах о деятельности Ластик в соответствии с требованиями Федерального закона от 08.02.1998 № 14-ФЗ «Об обществах с ограниченной ответственностью», иного действующего законодательства Российской Федерации.
            </p><p class="paragraph">2.2.4.  персональные данные руководителей, участника или сотрудника юридического лица, являющегося партнером Ластик - информация, необходимая Ластик для выполнения своих обязательств в рамках договорных отношений с партнерами для выполнения требований законодательства Российской Федерации.
            </p><p class="paragraph">2.3.       При использовании сервисов онлайн продаж билетов Ластик обрабатывает также иные обезличенные данные, которые автоматически передаются в процессе использования сервисов посредством установленного на компьютере программного обеспечения:
            </p><p class="paragraph">2.3.1.  сведения об используемом браузере (или иной программе, с помощью которой осуществляется доступ к сайту);
            </p><p class="paragraph">2.3.2.  IP-адрес;
            </p><p class="paragraph">2.3.3.  данные файлов cookie;
            </p><p class="paragraph">2.4.       Ластик гарантирует, что третьи по отношению к Ластик лица - не имеют доступа к таким данным, которые могут использоваться Ластик, кроме случаев, явно оговоренных действующим законодательством Российской Федерации и настоящей Политикой, а также прямо предусмотренных в Оферте.
            </p><p class="paragraph">2.5.       Согласие на обработку персональных данных считается предоставленным посредством совершения Субъектом персональных данных следующих действий, как совместно, так и по отдельности:
            </p><p class="paragraph">2.5.1.  подписания согласия об обработке персональных данных на бумажном носителе;
            </p><p class="paragraph">2.5.2.  покупки билета через сервис онлайн продажи билетов Ластик;
            </p><p class="paragraph">2.5.3.  покупки билета на мероприятие, проводимое Ластик, в том числе и через сервисы партнеров Ластик;
            </p><p class="paragraph">2.5.4.  проставления в соответствующей форме сервиса отметки о согласии на обработку персональных данных в объеме, для целей и в порядке, предусмотренных законодательством Российской Федерации.
            </p><p class="paragraph">2.6.       Согласие считается полученным в установленном порядке и может быть отозвано субъектом персональных данных. В случае отзыва субъектом персональных данных согласия на обработку персональных данных Ластик вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных действующим законодательством.
            </p><p class="paragraph">2.7.       Субъект персональных данных может в любой момент отозвать свое согласие на обработку персональных данных при условии, что подобная процедура не нарушает требований законодательства Российской Федерации, путем направления письма с уведомлением о вручении на адрес: 129110, Российская Федерация, Москва, Банный пер. дом 2, стр .1, оф.101, или электронного письма на адрес: support@lastick.ru.
            </p><p class="paragraph">2.8.       В случае отзыва Субъектом персональных данных согласия на обработку его персональных данных, Ластик должно прекратить их обработку и в случае, если сохранение персональных данных более не требуется для целей их обработки, уничтожить персональные данные в срок, не превышающий 30 (Тридцати) дней с даты поступления указанного отзыва, если иное не предусмотрено договором, стороной которого, выгодоприобретателем или поручителем по которому является Субъект персональных данных, иным соглашением между Ластик и Субъектом персональных данных, либо если Ластик не вправе осуществлять обработку персональных данных без согласия Субъекта персональных данных на основаниях, предусмотренных Федеральным законом от 27.07.2006 г. N 152-ФЗ «О персональных данных» или другим действующим законодательством Российской Федерации.
                <br>
                <br>
            </p><p class="paragraph">3.   Основания и цели обработки персональных данных
            </p><p class="paragraph">3.1.       Ластик обрабатывает персональные данные для реализации своих законных прав и обязанностей, осуществления деятельности.
            </p><p class="paragraph">3.2.       Персональные данные обрабатываются Ластик в связи со следующими целями:
            </p><p class="paragraph">3.2.1.  Исполнение функций, возложенных в соответствии с Федеральным законом от 27.07.2006 г. N 152-ФЗ «О персональных данных», Федеральным законом от 08.02.1998 № 14-ФЗ «Об обществах с ограниченной ответственностью», Федеральным законом от 07.08.2001 № 115-ФЗ «О противодействии легализации (отмыванию) доходов, полученных преступных путем, и финансированию терроризма», Трудовым Кодексом Российской Федерации, Федеральным законом от 01.04.1996 № 27-ФЗ «Об индивидуальном (персонифицированном) учете в системе обязательного пенсионного страхования» и другим действующим законодательством Российской Федерации, а также Уставом и нормативными актами Ластик;
            </p><p class="paragraph">3.2.2.  Ластик собирает и хранит персональные данные Клиента, необходимые для оказания услуг, исполнения договоров, исполнения обязательств перед Клиентом.
            </p><p class="paragraph">Ластик может использовать персональные данные Клиента в следующих целях:
            </p><p class="paragraph">1) идентификация стороны в рамках договоров с Ластик;
            </p><p class="paragraph">2) связь с Клиентом в случае необходимости, в том числе в случае уведомления об отмене, замене или переносе мероприятий, направление предложений, уведомлений, информации и запросов, как связанных, так и не связанных с оказанием услуг, а также обработка заявлений, запросов и заявок Клиента;
            </p><p class="paragraph">3) улучшение качества услуг, оказываемых Ластик;
            </p><p class="paragraph">3.2.3.  Ластик собирает и хранит персональные данные сотрудника, необходимые для исполнения условий трудового договора и осуществления прав и обязанностей в соответствии с трудовым законодательством, в том числе для обеспечения соблюдения Налогового кодекса Российской Федерации, Федерального закона от 01.04.1996 № 27-ФЗ «Об индивидуальном (персонифицированном) учете в системе обязательного пенсионного страхования»;
            </p><p class="paragraph">3.2.4.  Ластик собирает и хранит персональные данные аффилированного лица или персональные данные руководителя, участника или сотрудника юридического лица, являющегося аффилированным лицом по отношению к Ластик для выполнения требований действующего законодательства Российской Федерации.
            </p><p class="paragraph">3.2.5.  Обезличенные данные, которые автоматически передаются в процессе использования сервисов, обрабатываются в целях осуществления аналитики Сайта, совершенствования функционирования Сайта, решения технических проблем Сайта, расширения услуг, обеспечения безопасности и предотвращения мошенничества, предоставления эффективной клиентской поддержки.
                <br>
                <br>
            </p><p class="paragraph">4.   Категории лиц, допущенных к обработке персональных данных
            </p><p class="paragraph">4.1.       К обработке персональных данных допускаются только те сотрудники Ластик, на которых возложена такая обязанность в соответствии с их служебными обязанностями. Доступ других сотрудников может быть предоставлен только в предусмотренных законом случаях. Ластик требует от своих сотрудников соблюдения конфиденциальности и обеспечения безопасности персональных данных, при их обработке, а также устанавливает ответственность за нарушение требований, предъявляемых к обработке персональных данных.
            </p><p class="paragraph">4.2.       Ластик имеет право передать персональные данные третьим лицам в следующих случаях:
            </p><p class="paragraph">4.2.1. Субъект персональных данных явно выразил свое согласие на такие действия;
            </p><p class="paragraph">4.2.2. Передача необходима для выполнения обязанностей организатором мероприятий перед Клиентом, в том числе для обеспечения допуска, страхования, парковки и т.д., а также для осуществления доставки Билетов в случае, если доставка проводится сторонними организациями или продавцами билетов.
            </p><p class="paragraph">4.2.3. Передача предусмотрена действующим российским или иным применимым законодательством в рамках установленной законодательством процедуры;
                <br>
                <br>
            </p><p class="paragraph">5.   Сроки обработки персональных данных
            </p><p class="paragraph">5.1.       Сроки обработки персональных данных определяются исходя из целей обработки, в соответствии со сроком действия договора с субъектом персональных данных, в соответствии со сроком исковой давности, а также иными требованиями законодательства и нормативными документами Ластик.
                <br>
                <br>
            </p><p class="paragraph">6.   Методы обработки персональных данных
            </p><p class="paragraph">6.1.       Ластик использует автоматизированную, с применением средств вычислительной техники, и неавтоматизированную, с применением бумажного документооборота, обработку персональных данных в процессе предоставления услуг и при осуществлении внутрихозяйственной деятельности.
            </p><p class="paragraph">6.2.       Принятие решений, порождающих юридические последствия в отношении субъекта персональных данных или иным образом затрагивающих его права и законные интересы, на основании исключительно автоматизированной обработки персональных данных Ластик не производится.
            </p><p class="paragraph">6.3.       Ластик обеспечивает организационные и технические меры для защиты персональной информации Клиента от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
                <br>
                <br>
            </p><p class="paragraph">7.   Защита персональных данных
            </p><p class="paragraph">7.1.       Деятельность Ластик по обработке персональных данных неразрывно связана с защитой конфиденциальности полученной информации. Все сотрудники Компании обязаны обеспечивать конфиденциальность персональных данных, а также иных сведений, установленных Ластик, если это не противоречит действующему законодательству Российской Федерации.
            </p><p class="paragraph">7.2.       Безопасность персональных данных при их обработке в информационных системах Компании обеспечивается с помощью системы защиты информации, включающей в себя: организационные меры с применением ограничения физического доступа в помещения, применение программно-технических мер защиты (в том числе шифровальных (криптографических) средств, средства предотвращения несанкционированного доступа, и программно-технического воздействия на технические средства обработки персональных данных.
            </p><p class="paragraph">7.3.       С целью обеспечения безопасности персональных данных при их обработке Компания принимает необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении них.
            </p><p class="paragraph">7.4.       В целях обеспечения соответствия уровня защиты персональных данных требованиям Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных» и Федерального закона от 27.07.2006 N 149-ФЗ «Об информации, информационных технологиях и о защите информации» Ластик не раскрывает информацию о конкретных применяемых средствах и мерах обеспечения информационной безопасности персональных данных.
                <br>
                <br>
            </p><p class="paragraph">8.   Информационные рассылки
            </p><p class="paragraph">8.1.       Продавец обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Клиентом.
            </p><p class="paragraph">Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.
            </p><p class="paragraph">Приобретая билет на Мероприятия Ластик или через систему онлайн продаж Ластик на мероприятия партнеров Ластик Клиент может получать информационные рассылки об аналогичных мероприятиях партнеров Ластик, либо о мероприятиях Ластик.
            </p><p class="paragraph">8.2.       Также электронный адрес и/или телефон Клиента используется для направления автоматически сформированных заказов Клиента, сервисных уведомлений (об отмене/замене/переносе Мероприятия), взаимодействия при обращении Клиента в службу поддержки.
            </p><p class="paragraph">8.3.       Каждый Клиент самостоятельно решает получать ему информационные рассылки, либо нет. Отписаться можно нажав на соответствующую ссылку об отписке внизу информационного письма.
            </p><p class="paragraph">8.4.       Ластик гарантирует, что указанная информационная рассылка не является спамом.
            
            </p>
            

        </article>
      </div>
      <div class="doc__footer">
        <span class="doc__footer-btn" (click)="close()">
          Закрыть
        </span>
      </div>
    </div>
  </div>
  