<div class="plus-minus plus-minus_sz-{{sz}} plus-minus_theme-{{theme}} plus-minus_skin-{{skin}}">
  <div class="plus-minus__row plus-minus__row_sz-{{sz}} plus-minus__row_theme-{{theme}} plus-minus__row_skin-{{skin}}">
    <div class="plus-minus__item plus-minus__item_btn plus-minus__item_btn_sz-{{sz}}">
      <div (touchstart)="onHold(0)" (touchend)="onHoldUp()"
        (mousedown)="onHold(0)" (mouseup)="onHoldUp()" (mouseleave)="onHoldUp()" (click)="onChange(0)"
        class="plus-minus__btn plus-minus__btn_sz-{{sz}} plus-minus__btn_theme-{{theme}} plus-minus__btn_skin-{{skin}} plus-minus__btn_minus mxn-cur-p">
        <svg-icon src="/assets/svg/minus.svg"></svg-icon>
      </div>
    </div>
    <div class="plus-minus__item plus-minus__item_value plus-minus__item_value_sz-{{sz}}" *ngIf="showValue">
      {{(currentValue - decrementValue)}}
      <ng-template [ngIf]="mark">&nbsp;{{mark}}</ng-template>
    </div>
    <div class="plus-minus__item plus-minus__item_btn plus-minus__item_btn_sz-{{sz}}">
      <div (touchstart)="onHold(1)" (touchend)="onHoldUp()"
        (mousedown)="onHold(1)" (mouseup)="onHoldUp()" (mouseleave)="onHoldUp()" (click)="onChange(1)"
        [ngClass]="{'f-disabled': max_value >= 0 && currentValue >= max_value }"
        class="plus-minus__btn plus-minus__btn_plus plus-minus__btn_sz-{{sz}} plus-minus__btn_theme-{{theme}} plus-minus__btn_skin-{{skin}} mxn-cur-p">
        <svg-icon src="/assets/svg/plus.svg"></svg-icon>
      </div>
    </div>
  </div>
</div>
