<div class="screen-tabs-container" >
    <ul class="list tabs-list">
        <li class="list-item">
            <a class="link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Как запустить свой сертификат?
            </a>
        </li>
        <li class="list-item">
            <a class="link" routerLink="/welcome-page-buy" routerLinkActive="active">
                Как подарить сертификат?
            </a>
        </li>
        <li class="list-item">
            <a class="link" routerLink="/welcome-page-activate" routerLinkActive="active">
                Как активировать сертификат?
            </a>
        </li>
    </ul>
    <ul class="list tabs-list tabs-list--mobile">
        <li class="list-item">
            <a class="link"  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Как запустить?
            </a>
        </li>
        <li class="list-item">
            <a class="link" routerLink="/welcome-page-buy" routerLinkActive="active">
                Как подарить?
            </a>
        </li>
        <li class="list-item">
            <a class="link" routerLink="/welcome-page-activate" routerLinkActive="active">
                Как активировать?
            </a>
        </li>
    </ul>
</div>