@import "vars.styl"

div, header, nav, section, form
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent;
  outline: none

svg-icon
  font-size: 0

a
  text-decoration: none
  color: inherit

body
  font-family: $ff-1
  line-height: 1.2
  font-weight: 400
  -webkit-font-smoothing: antialiased
  scroll-behavior: smooth;
  background-color: $c-main-bg;
  color: $c-2

html.ovh,
html.ovh body
  overflow: hidden;

.wrap
  position: relative;
  z-index: 2

.strong
  font-weight: 600
