:root {
  --skin-text: #fff;
  --skin-card-text: #fff;
  --skin-active-color: #fff;
  --skin-gradient-angle-1: rgba(255,255,255,0.3);
  --skin-gradient-angle-2: transparent;
  --skin-gradient-bottom-1: transparent;
  --skin-gradient-bottom-2: #311004;
  --skin-page-bg: #311004 ;
  --skin-page-gradient-bottom-1: rgba(28,12,5,0.55);
  --skin-page-gradient-bottom-2: rgba(87,26,4,0.11);
  --skin-page-gradient-bottom-3: #311004;
  --skin-btn-bg: rgba(255,255,255,0.1);
  --skin-btn-text: rgba(255,255,255,0.6);
  --skin-btn-bg-hover: rgba(255,255,255,0.2);
  --skin-btn-text-hover: rgba(255,255,255,0.6);
  --skin-btn-bg-active: #fff;
  --skin-btn-text-active: #311004;
  --skin-btn-2-bg: rgba(173,167,160,0.2);
  --skin-btn-2-text: #857667;
  --skin-btn-2-bg-hover: rgba(173,167,160,0.4);
  --skin-btn-2-text-hover: #857667;
  --skin-btn-2-bg-active: #bda776;
  --skin-btn-2-text-active: #fff;
  --skin-header-logo-w-1: #fff;
  --skin-header-logo-w-2: #bda776;
  --skin-tab-text: #afa8a0;
  --skin-tab-text-active: #000;
  --skin-tab-bd: #bda776;
  --skin-fee-nominal: #a09488;
}
