<div class="f-gift">
  <div class="f-gift__body">
    <div class="f-gift__heading mxn-desktop">
      <h6 class="f-gift__heading-title mxn-title mxn-title_sz-1 mxn-title_theme-1">
        {{ 'GiftCard.Receiver' | translate }}
      </h6>
    </div>
    <div class="f-gift__form">
      <div class="f-gift__form-body">
        <div class="f-gift__form-row" *ngIf="mdItem">
          <div class="mxn-i-txt-wrap">
            <label
              class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-default mxn-i-txt-wrap-label_cur-t"
            >
              <span
                [ngClass]="{ 'f-active': mdItem.sender_name && mdItem.sender_name.length }"
                class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-default"
              >
                {{ 'GiftForm.FromWho' | translate }}</span
              >
              <input
                type="text"
                [(ngModel)]="mdItem.sender_name"
                name="name{{ type }}{{ index }}"
                autocomplete="off"
                class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 mxn-i-txt-wrap-input_skin-default f-gift__input"
              />
            </label>
          </div>
        </div>
        <ng-template [ngIf]="mdAddressee">
          <div class="f-gift__form-row">
            <div class="mxn-i-txt-wrap">
              <label
                appInputError
                [inpRef]="addresseeNameInp"
                class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-default mxn-i-txt-wrap-label_cur-t"
              >
                <span
                  [ngClass]="{ 'f-active': mdAddressee.name && mdAddressee.name.length }"
                  class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-default"
                >
                  {{ 'GiftForm.Who' | translate }}</span
                >
                <input
                  type="text"
                  #addresseeNameInp="ngModel"
                  #addresseeNameRef
                  appNativeElementControl
                  required
                  [(ngModel)]="mdAddressee.name"
                  (focus)="onAddresseeNameFocus(addresseeNameInp.value, $event)"
                  (blur)="onAddresseeNameBlur($event)"
                  (ngModelChange)="onAddresseeNameChange($event)"
                  name="addresseeName{{ type }}{{ index }}"
                  autocomplete="off"
                  class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 mxn-i-txt-wrap-input_skin-default f-gift__input"
                />
              </label>
              <div class="mxn-form-input-error" *ngIf="addresseeNameInp.invalid && addresseeNameInp.dirty && addresseeNameRef !== fhFocusedElement">
                <app-status-message
                  [message]="addresseeNameInp.value ? 'Укажите получателя' : 'Укажите получателя'"
                ></app-status-message>
              </div>
            </div>
            <div class="select-list" [appClickOutside]="showAddresseeData" (clickOutside)="showAddresseeData = false" *ngIf="(_addresseeData || []).length && showAddresseeData">
              <div class="select-list__wrap">
                <div class="select-list__list">
                  <div class="select-list__item" *ngFor="let item of _addresseeData">
                    <span class="select-list__label" (click)="onAddresseeDataItemClick($event, item)">
                      {{item.name}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="f-gift__form-row">
            <div class="mxn-i-txt-wrap">
              <label
                appInputError
                [inpRef]="addresseeEmailInp"
                class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-default mxn-i-txt-wrap-label_cur-t"
              >
                <span
                  [ngClass]="{ 'f-active': mdAddressee.email && mdAddressee.email.length }"
                  class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-default"
                >
                  {{ 'GiftForm.ReceiveEmail' | translate }}</span
                >
                <input
                  type="email"
                  #addresseeEmailInp="ngModel"
                  #addresseeEmailRef
                  appEmailValidator
                  appNativeElementControl
                  required
                  [(ngModel)]="mdAddressee.email"
                  (focus)="fhOnInputFocus($event)"
                  (blur)="fhOnInputBlur()"
                  name="addresseeEmail{{ type }}{{ index }}"
                  autocomplete="off"
                  class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 mxn-i-txt-wrap-input_skin-default f-gift__input"
                />
              </label>
              <div class="mxn-form-input-error" *ngIf="addresseeEmailInp.invalid && addresseeEmailInp.dirty && addresseeEmailRef !== fhFocusedElement">
                <app-status-message
                  [message]="addresseeEmailInp.value ? 'Проверьте формат email' : 'Введите email получателя'"
                ></app-status-message>
              </div>
            </div>
          </div>
          <div class="f-gift__form-row" *ngIf="phoneInput">
            <div class="mxn-i-txt-wrap">
              <label
                appInputError
                [inpRef]="addresseePhoneInp"
                class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-default mxn-i-txt-wrap-label_cur-t"
              >
                <span
                  [ngClass]="{ 'f-active': mdAddressee.phone && mdAddressee.phone.length }"
                  class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-default"
                >
                  {{ 'GiftForm.ReceivePhone' | translate }}</span
                >
                <input
                  type="tel"
                  #addresseePhoneInp="ngModel"
                  #addresseePhoneRef
                  appMaskInputValue="+7"
                  appPhoneValidator
                  appPhoneInputValue
                  appNativeElementControl
                  required
                  [(ngModel)]="mdAddressee.phone"
                  (focus)="fhOnInputFocus($event)"
                  (blur)="fhOnInputBlur()"
                  name="phone{{ type }}{{ index }}"
                  autocomplete="off"
                  class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 mxn-i-txt-wrap-input_skin-default f-gift__input"
                />
              </label>
              <div class="mxn-form-input-error" *ngIf="addresseePhoneInp.invalid && addresseePhoneInp.dirty && addresseePhoneRef !== fhFocusedElement">
                <app-status-message
                  [message]="addresseePhoneInp.value ? 'Проверьте телефон получателя' : 'Введите телефон получателя'"
                ></app-status-message>
              </div>
            </div>
          </div>
          <div class="f-gift__form-row">
            <div class="mxn-i-txt-wrap">
              <label
                class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_area_sz-1 mxn-i-txt-wrap-label_sz-2 mxn-i-txt-wrap-label_skin-default mxn-i-txt-wrap-label_cur-t"
              >
                <span
                  [ngClass]="{ 'f-active': mdAddressee.message && mdAddressee.message.length }"
                  class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-default"
                >
                  {{ 'GiftForm.Message' | translate }}</span>
                <textarea
                  name="message{{ type }}{{ index }}"
                  [(ngModel)]="mdAddressee.message"
                  maxlength="400"
                  autocomplete="off"
                  class="mxn-i-txt-wrap-area mxn-i-txt-wrap-area_sz-1 mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 mxn-i-txt-wrap-input_skin-default f-gift__input"
                ></textarea>
              </label>
              <div class="mxn-form-input-error" *ngIf="mdAddressee.message && mdAddressee.message.length >= 400">
                <app-status-message
                  [message]="'Максимальная длина сообщения 400 символов'"
                  status="changed"
                ></app-status-message>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
