<div class="summary">
  <div class="summary__head">
    <svg-icon src="/assets/svg/logo.svg"></svg-icon>
  </div>
  <div class="summary__body">
    <div class="summary__result">
      <div class="summary__result-head">
        <div class="summary__result-head-row">
          <h1 [innerHTML]="title"
              class="summary__title">
          </h1>
        </div>
        <div class="summary__result-head-row">
          <p class="summary__result-text">
            {{sub_title}}
          </p>
        </div>
      </div>
      <div class="summary__result-body">
        <div class="social">
          <div class="social__list social__list_sz-1">
            <ng-template ngFor [ngForOf]="social.data" let-item>
              <div class="social__item social__item_sz-1" *ngIf="item.share_url">
                <div (click)="social.share(item, false)"
                     class="social__link social__link_sz-1 social__link_theme-1 social__link_{{item.short_name}} social__link_{{item.short_name}}_sz-1">
                  <svg-icon [src]="item.icon"></svg-icon>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="summary__result-footer">
        <a href="/" routerLink="/"
           class="mxn-btn mxn-btn_sz-3 mxn-btn_full-width mxn-btn_ta-c mxn-btn_theme-1 mxn-btn_icon mxn-btn_icon_sz-1 mxn-btn_icon_mr-1">
          {{'Success.Back' | translate}}
        </a>
      </div>
    </div>
  </div>
</div>
