@color-orange-one: #e74e27;
@color-orange-two: #b63e1f;
@color-orange-three: #ff3838;
@color-black: white;
@color-grey-one: #a8a8a8;
@color-grey-two: #f5f2ee;
@color-grey-three: #9b8f82;
@color-grey-four: #a09488;
@color-blue: blue;
@color-red-one: #ff3838;

@mobile: ~"(max-width: 767px)";
@not-mobile: ~"(min-width: 767px)";
@smartphone: ~"(max-width: 450px)";
@large: ~"(min-width: 1200px)";
@small_notebook: ~"(min-width: 1200px) and (max-width: 1400px)";
@notebook: ~"(min-width: 1200px) and (max-width: 1601px)";
@large_notebook: ~"(min-width: 1601px) and (max-width: 1871px)";

@font-face {
  font-family: GraphikLCG;
  src: url(/assets/new/fonts/GraphikLCG-Regular.ttf);
}
@font-face {
  font-family: GraphikLCG;
  src: url(/assets/new/fonts/GraphikLCG-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: GraphikLCG;
  src: url(/assets/new/fonts/GraphikLCG-Semibold.ttf);
  font-weight: bold;
}
html,
body {
  height: 100%;
  font-family: GraphikLCG;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
div,
form,
header,
nav,
section {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}


.cerificate-list-container{
  padding-top:40px;
  padding-bottom: 40px;
  .title-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom:30px;
    .title{
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      color:white;
    }
    .link{
      color:white;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      padding-bottom:4px;
      border-bottom:1px dashed #FFFFFF;
      @media @mobile {
        margin-left: 12px;
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        padding-bottom: 0;
  
      }
    }
    @media @mobile {
      margin-bottom: 20px;
    }
  }

  .cert-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    &__item{
      
      &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left:0;
        z-index: 1;
        display: block;
        width: 100%;
        background: linear-gradient(180deg, rgba(52, 78, 92, 0) 50%, #334D5B 81.25%);
        height: 100%;
      }
      background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
      &--brown{
        &:before{
          content: '';
          position: absolute;
          bottom: 0;
          left:0;
          z-index: 1;
          display: block;
          width: 100%;
          background: linear-gradient(180deg, rgba(92, 28, 4, 0) 50%, #5C1C04 78.91%);
          height: 100%;
        }
        background: url(/assets/new/img/single-cert/card1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
      }
      box-sizing: border-box;
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      margin-right: 26px;
      margin-bottom: 20px;
      width: 260px;
      height: 252px;
      background-color: gray;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 12px;
      padding: 56px 16px 16px;
      position: relative;
      .rate{
        z-index:5;
        position: absolute;
        color:white;
        font-size: 16px;
        line-height: 20px;
        background-color: #FF3838;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        top:16px;
        right: 16px;
        border-radius: 50%;;
      }
      &:nth-child(4n){
        margin-right: 0px;
      }
      .title{
        z-index:5;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color:white;
        margin-bottom: 16px;
      }
      .tag{
        z-index:5;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        min-width: 99px;
        width: max-content;
        padding: 9px;
        background-color: transparent;
        border-radius: 40px;
        margin-bottom: 16px;
        color:white;
        text-align: center;
        border:1px solid white;
      }
      .value-container{
        z-index:5;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 8px;
        &:last-child{
          margin-bottom: 0;
        }
        .data{
          .text{
            font-size: 10px;
            line-height: 20px;
            color: white!important;
          }
          .title{
            font-size: 10px;
            line-height: 20px;
            margin-bottom: 0;
          }

        }
        .icon{
          width: 20px;
          height: 20px;
          margin-right: 8px;
          
        }
      }
    }
    @media @mobile{
      padding: 12px;
      flex-wrap: nowrap;
      width: max-content;
      padding-bottom: 0;
      &__item{
        margin-right: 12px;
      }
    }
  }
  @media @mobile{
    padding-top:0px;
    padding-bottom: 0;
  }
}
.cert-list-wrapper{
  @media @mobile{
    width:100%;
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      height: 0;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
     
      
    
  }
}
.hidden-desktop{
  @media @not-mobile {
    display: none!important;
  }
}

.hidden-mobile{
  @media @mobile {
    display: none!important;
  }
}

