<app-layout>
  <div class="section section_bg-2 section_sz-6 section_theme-2">
    <div class="contacts">
      <div class="contacts__row">
        <a href="tel: +79037984478" class="contacts__text">
          +7 903 798 44 78
        </a>
      </div>
      <div class="contacts__row">
        <a href="mailto: info@zapomni.gift" class="contacts__link">info@zapomni.gift</a>
      </div>
    </div>
  </div>
</app-layout>
