<ng-container *ngIf="gift">
<!--    <app-single-cert [gift]="gift" *ngIf="type=='one'"></app-single-cert>-->
    <app-universal-cert [gift]="gift" *ngIf="type=='universal' || type=='few'"></app-universal-cert>
</ng-container>
