<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Пример сертификата</h4>
    <svg
      class="icon icon-close"
      (click)="close()"
      viewBox="0 0 48 49"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="24" cy="24.6917" r="23.5" stroke="white" />
      <path
        d="M29.8467 31.0288L17.4009 18.5732"
        stroke="white"
        stroke-width="1.85"
        stroke-linecap="square"
      />
      <path
        d="M29.8078 18.5657L17.3962 30.9772"
        stroke="white"
        stroke-width="1.85"
        stroke-linecap="square"
      />
    </svg>
  </div>
  <div class="modal-body">
    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="cert-item">
          <img [src]="slide.url"  alt="">
        </div>
      </ngx-slick-carousel>
   
    
  
  </div>
  <div class="modal-footer">
   <div class="btns-container">
    <svg class="icon-arrow icon-arrow--prev" (click)='slickModal.slickPrev()' fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="23.5" stroke="white" transform="rotate(-180 24 24)"></circle><path d="M29.5454 37.0909L16.4545 24L29.5454 10.9091" stroke="white" stroke-miterlimit="10" stroke-width="1.5"></path></svg>
    <svg class="icon-arrow icon-arrow--next" (click)='slickModal.slickNext()' fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="23.5" stroke="white"></circle><path d="M18.4546 10.9091L31.5455 24L18.4546 37.0909" stroke="white" stroke-miterlimit="10" stroke-width="1.5"></path></svg>
   </div>
  
  </div>
  
  