<app-layout>
  <div class="page">
    <div class="page__head">
      <div class="container container_gap-1">
        <h1 class="page__title">
          Что такое<br>
          Zapomni.Gift?
        </h1>
      </div>
    </div>
    <div class="page__body">
      <div class="page__related">
        <div  class="swiper-container" *ngIf="gifts" [swiper]="{
          followFinger: false,
          loop:  true,
          slidesPerView: 7,
          slidesPerGroup: gifts.length,
          spaceBetween: isDesktop ? 11 : 5,
          speed: 180000,
          autoplay: {
            delay: 0,
            disableOnInteraction: false
          },
          centeredSlides: true,
          allowTouchMove: false
        }" [index]="0">
          <div class="swiper-wrapper" style="transition-timing-function: linear">
            <div class="swiper-slide page__related-slide" *ngFor="let gift of gifts">
              <div [attr.style]="(gift.skin_settings || {}).vars | safe: 'style'">
                <div
                  [ngStyle]="{'background-image': gift.image && gift.image.path ? 'url(' + gift.image.path + ')' : ''}"
                  class="card card_theme-3 card_sz-4">
                  <div class="card__wrap card__wrap_sz-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container_gap-1">
        <div class="article article_sz-1">
          <p>
            <strong>
              Zapomni.Gift – агрегатор, в котором собрана коллекция из подарочных сертификатов в лучшие учреждения культуры.
            </strong>
          </p>
          <p>
            На нашем сайте вы можете выбрать и купить подарочный сертификат, оплатив его онлайн. Это легкий и быстрый способ сделать оригинальный подарок, который запомнится дважды – в момент дарения и получения подарка. А также оставит теплые воспоминания непосредственно в день посещения мероприятия.
          </p>
          <p>
            Корпоративным клиентам мы предлагаем новый инструмент для подарка сотрудникам, мотивации и стимулирования лояльности к компании или бренду. По вопросам приобретения сертификатов обращайтесь по адресу <a href="mailto: kupi@zapomni.gift">kupi@zapomni.gift</a>
          </p>
          <p>
            Наша команда постоянно работает над привлечением новых культурных объектов и уникальных мероприятий. Мы помогаем театрам, музеям, культурным центрам создавать современный и востребованный во всем мире продукт – подарочный сертификат.
          </p>
          <p>
            Zapomni.Gift – дарите запоминающиеся моменты.
          </p>
        </div>
      </div>
    </div>
    <div class="page__footer">
      <div class="section section_sz-4 section_bg-1">
        <app-subscribe-form theme="2"
                            [showMessage]="false"
                            [skin]="{skin: 'default', vars: '--skin-text: #000; --skin-active-color: #bda776;'}"
        ></app-subscribe-form>
      </div>
    </div>
  </div>
</app-layout>
