
<app-layout-gift
  theme="2"
  [bg]="gift && gift.background_image && showCover ? gift.background_image.path : ''"
  [skin]="skin || { skin: 'default' }"
  [hash_tag]="head_hash_tag"
  [customLogo]="headerLogo"
  [customLogoSz]="headerLogoSz"
  [showHeaderCompanyLogo]="showHeaderCompanyLogo"
  [fee]="
    fee && showBFee
      ? {
          value: fee.formatted_value,
          text:
            'Поддержим вместе культуру, приобретайте подарочные сертификаты в любимые музеи и театры, а мы подарим вам ' +
            '<span class=\'strong\'>' +
            fee.formatted_value +
            ' к номиналу' +
            '<\/span>' +
            ' и увеличенный срок действия сертификата.'
        }
      : null
  "
>
  <div class="gift">
    <!--        <img [src]="logoPath | safe: 'resourceUrl'" width="200" alt="">-->
    <section class="section section_mb-2 section_sz-3" *ngIf="showHeading && headingText">
      <header class="special-text special-text_skin-{{ (skin || { skin: 'default' }).skin }}">
        <article class="special-text__article" [innerHTML]="headingText"></article>
      </header>
    </section>

    <ng-template [ngIf]="gift && showGiftCheckout">
      <section class="section section_mb-4 section_bg-1" [ngClass]="{'section_sz-1': !showName, 'section_sz-7': showName}">
        <form class="gift__form" (ngSubmit)="submit()" #form="ngForm">
          <ng-template #counterTmp let-md="md" let-index="index">
            <app-plus-minus
              [source]="md"
              (change)="onCountChange($event, md, index)"
              [value]="md.items[index].count"
              [count]="md.items[index].count"
              [min_value]="1"
              [mark]="
                md.items[index].count
                  | numerative
                    : [
                        'Common.Cert1' | translate,
                        'Common.Cert2' | translate,
                        'Common.Cert3' | translate
                      ]
              "
            >
            </app-plus-minus>
            <div
              class="mxn-form-input-error"
              *ngIf="
              form.controls['nominal' + tab + index] && (
              (formSubmitted && form.controls['nominal' + tab + index].invalid) ||
              (form.controls['nominal' + tab + index].value && form.controls['nominal' + tab + index].errors && form.controls['nominal' + tab + index].errors.minValidator)
              )
              "
            >
              <app-status-message
                [message]="
                  form.controls['nominal' + tab + index].value &&
                  form.controls['nominal' + tab + index].errors &&
                  form.controls['nominal' + tab + index].errors.minValidator
                    ? 'Минимальный номинал ' + gift.prices_range[0] / 100 + ' руб'
                    : 'Выберите номинал'
                "
              ></app-status-message>
            </div>
          </ng-template>

          <ng-template #cardTmp let-md="md" let-index="index">
            <app-gift-card
              [gift]="gift"
              [name]="gift.name | multilang"
              [logo]="_logo"
              [skin]="skin"
              [price]="
                md.items && md.items[index] && form.controls['nominal' + tab + index] && form.controls['nominal' + tab + index].valid ? md.items[index].price : null
              "
              [logoInput]="tab === 'corporate'"
              sz="2"
              pos="2"
              theme="2"
              (changeFiles)="logo = $event"
              (logoImageLoaded)="logoSize = $event.size"
              (removeClick)="onCardRemoveClick(index)"
              [showRelated]="false"
              [showTable]="true"
              [showRemove]="index > 0"
            >
            </app-gift-card>
          </ng-template>
{{log(gift.prices)}}
          <ng-template #buttonsTmp let-md="md" let-index="index">
            <app-card-buttons
              [prices]="gift.prices"
              [price]="(md.items[index] || {}).price"
              [prices_range]="prices_range"
              [custom]="true"
              [fee]="fee"
              sz="2"
              theme="2"
              [skin]="skin"
              (priceClick)="onPriceClick(md, $event, index)"
              (customValueShowHide)="showCustomValue = $event"
            ></app-card-buttons>
            <input
              type="hidden"
              name="nominal{{ tab }}{{ index }}"
              [(ngModel)]="(md.items[index] || {}).price"
              [required]="true"
              [appMinValidator]="prices_range && prices_range[0] ? prices_range[0] : 1"
            />
          </ng-template>

          <ng-template #desktopBody>
            <app-tabs
              uuid="gift_tabs"
              sz="2"
              theme="2"
              (showTabs)="onTabsShow($event)"
              [activeTab]="tab"
              [skin]="skin"
            >
              <app-tabs-tab
                [tabTitle]="giftTabTitle || ('GiftTabs.GiftTab' | translate)"
                [data]="{ name: 'gift' }"
                uuid="gift"
              >
                <div *app-tabs-tab-content-tmp>
                  <fieldset
                    class="gift__fieldset"
                    *ngFor="let item of tabs.gift.items; let index = index"
                  >
                    <div class="gift__body-row gift__body-row_cert">
                      <div class="gift__body-col gift__body-col_card">
                        <ng-container
                          [ngTemplateOutlet]="cardTmp"
                          [ngTemplateOutletContext]="{ md: tabs.gift, index: index }"
                        ></ng-container>
                      </div>
                      <div class="gift__body-col gift__body-col_form">
                        <div class="gift__section">
                          <div class="gift__section-row">
                            <ng-container
                              [ngTemplateOutlet]="buttonsTmp"
                              [ngTemplateOutletContext]="{ md: tabs.gift, index: index }"
                            ></ng-container>
                          </div>
                          <div class="gift__section-row">
                            <ng-container
                              [ngTemplateOutlet]="counterTmp"
                              [ngTemplateOutletContext]="{ md: tabs.gift, index: index }"
                            ></ng-container>
                          </div>
                        </div>
                        <div class="gift__section">
                          <app-gift-form
                            [md]="tabs.gift"
                            [mdItem]="item"
                            [type]="'gift'"
                            *ngIf="tabs.gift"
                            [index]="index"
                            [phoneInput]="giftPhoneInput"
                            [formSubmitted]="formSubmitted"
                          ></app-gift-form>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <!--                <div class="gift__body-row gift__body-row_more">-->
                <!--                  <div class="gift__body-col">-->
                <!--                    more-->
                <!--                  </div>-->
                <!--                </div>-->
              </app-tabs-tab>
              <app-tabs-tab
                [tabTitle]="corpTabTitle || ('GiftTabs.CorpTab' | translate)"
                [data]="{ name: 'corporate' }"
                uuid="corporate"
              >
                <div *app-tabs-tab-content-tmp>
                  <fieldset
                    class="gift__fieldset"
                    *ngFor="let item of tabs.corporate.items; let index = index"
                  >
                    <div class="gift__body-row gift__body-row_cert">
                      <div class="gift__body-col gift__body-col_card">
                        <ng-container
                          [ngTemplateOutlet]="cardTmp"
                          [ngTemplateOutletContext]="{ md: tabs.corporate, index: index }"
                        ></ng-container>
                      </div>
                      <div class="gift__body-col gift__body-col_form">
                        <div class="gift__section">
                          <div class="gift__section-row">
                            <ng-container
                              [ngTemplateOutlet]="buttonsTmp"
                              [ngTemplateOutletContext]="{ md: tabs.corporate, index: index }"
                            ></ng-container>
                          </div>
                          <div class="gift__section-row">
                            <ng-container
                              [ngTemplateOutlet]="counterTmp"
                              [ngTemplateOutletContext]="{ md: tabs.corporate, index: index }"
                            ></ng-container>
                          </div>
                        </div>
                        <div class="gift__section">
                          <app-gift-form
                            [md]="tabs.corporate"
                            [mdItem]="item"
                            [addresseeData]="addresseeData"
                            [type]="'corporate'"
                            *ngIf="tabs.corporate"
                            [index]="index"
                            [phoneInput]="corpPhoneInput"
                            [formSubmitted]="formSubmitted"
                          ></app-gift-form>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </app-tabs-tab>
            </app-tabs>
          </ng-template>

          <ng-template #mobileBody>
            <section class="gift__fieldset" *ngFor="let item of tabs[tab].items; let index = index">
              <div class="gift__section">
                <div class="gift__card">
                  <ng-container
                    [ngTemplateOutlet]="cardTmp"
                    [ngTemplateOutletContext]="{ md: tabs[tab], index: index }"
                  ></ng-container>
                </div>
              </div>
              <div class="gift__section">
                <div class="gift__section-row">
                  <ng-container
                    [ngTemplateOutlet]="buttonsTmp"
                    [ngTemplateOutletContext]="{ md: tabs[tab], index: index }"
                  ></ng-container>
                </div>
                <div class="gift__section-row">
                  <ng-container
                    [ngTemplateOutlet]="counterTmp"
                    [ngTemplateOutletContext]="{ md: tabs[tab], index: index }"
                  ></ng-container>
                </div>
              </div>
              <div class="gift__section">
                <app-tabs
                  *ngIf="index === 0"
                  uuid="gift_tabs"
                  sz="2"
                  (showTabs)="onTabsShow($event)"
                  [activeTab]="tab"
                  [skin]="skin"
                >
                  <app-tabs-tab
                    [tabTitle]="giftTabTitle || ('GiftTabs.GiftTab' | translate)"
                    [data]="{ name: 'gift' }"
                    uuid="gift"
                  >
                    <div *app-tabs-tab-content-tmp>
                      <app-gift-form
                        type="gift"
                        [md]="tabs[tab]"
                        [index]="index"
                        [mdItem]="item"
                        [phoneInput]="giftPhoneInput"
                        [formSubmitted]="formSubmitted"
                      >
                      </app-gift-form>
                    </div>
                  </app-tabs-tab>
                  <app-tabs-tab
                    [tabTitle]="corpTabTitle || ('GiftTabs.CorpTab' | translate)"
                    [data]="{ name: 'corporate' }"
                    uuid="corporate"
                  >
                    <div *app-tabs-tab-content-tmp>
                      <app-gift-form
                        type="corporate"
                        [addresseeData]="addresseeData"
                        [phoneInput]="corpPhoneInput"
                        [mdItem]="item"
                        [md]="tabs[tab]"
                        [formSubmitted]="formSubmitted"
                      ></app-gift-form>
                    </div>
                  </app-tabs-tab>
                </app-tabs>
                <app-gift-form
                  [type]="tab"
                  [md]="tabs[tab]"
                  [mdItem]="item"
                  [addresseeData]="tab === 'corporate' ? addresseeData : null"
                  [index]="index"
                  [phoneInput]="tab === 'corporate' ? corpPhoneInput : giftPhoneInput"
                  [formSubmitted]="formSubmitted"
                  *ngIf="index !== 0"
                ></app-gift-form>
              </div>
            </section>
          </ng-template>

          <input
            type="hidden"
            name="card_logo"
            #cardLogo="ngModel"
            [(ngModel)]="logo"
            [appFileValidator]="{
              required: false,
              maxWeight: 50000
            }"
            [imgSize]="logoSize"
          />
          <header class="gift__head" *ngIf="showName">
            <div class="gift__head-bl gift__head-bl_heading">
              <div class="gift__head-item gift__head-item_logo" *ngIf="gift.entity_icons && gift.entity_icons.length">
                <img [src]="(gift.entity_icons[1] || gift.entity_icons[0]).path" alt="" class="gift__head-logo">
              </div>
              <div class="gift__head-item gift__head-item_title">
                <div class="gift__head-row">
                  <h1 class="gift__title">{{ (gift.name_variant || gift.name) | multilang }}</h1>
                </div>
                <div class="gift__head-row" *ngIf="gift.summary | multilang">
                  <div class="gift__summary" [innerHTML]="gift.summary | multilang"></div>
                </div>
              </div>
            </div>
            <!--      <div class="section__head-bl" *ngIf="partners && partners.length">-->
            <!--        <div class="section__line">-->
            <!--          <div class="img-tags">-->
            <!--            <div class="img-tags__list">-->
            <!--              <div class="img-tags__item" *ngFor="let partner of partners">-->
            <!--                <img [src]="partner.media && partner.media.path ? partner.media.path : ''" alt="" class="img-tags__img">-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->
          </header>

          <div class="gift__body" *ngIf="isDesktop">
            <ng-container *ngTemplateOutlet="desktopBody"></ng-container>
          </div>
          <div class="gift__body" *ngIf="!isDesktop">
            <ng-container *ngTemplateOutlet="mobileBody"></ng-container>
          </div>
          <div class="gift__more" *ngIf="tab === 'gift' && showMoreBtn">
            <button
              type="button"
              class="mxn-btn mxn-btn_theme-more mxn-btn_sz-8 mxn-btn_full-width mxn-btn_ta-c gift__more-btn"
              (click)="addMore()"
            >
              {{ 'GiftForm.MoreBtn' | translate }}
            </button>
          </div>
          <div class="gift__footer">
            <div class="mxn-form-error" *ngIf="form.controls.card_logo && form.controls.card_logo.invalid">
              <app-status-message
                [message]="form.controls.card_logo.errors.fileValidatorEmptySize ? 'У логотипа отсутствуют размеры' : 'Логотип не соответствует требованиям'"
              ></app-status-message>
            </div>
            <div class="mxn-form-error" *ngIf="formSubmitted && !order.agreement">
              <app-status-message
                [message]="'Подтвердите согласие с условиями обработки данных'"
              ></app-status-message>
            </div>
            <div class="gift__footer-row gift__footer-row_buttons">
              <div class="gift__footer-item">
                <label class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_flex">
                  <input
                    type="checkbox"
                    name="agreement"
                    [(ngModel)]="order.agreement"
                    required
                    class="mxn-i-check mxn-i-check_input mxn-i-hidden"
                  />
                  <span
                    class="mxn-i-check mxn-i-check_fake mxn-i-check_sz-1 mxn-i-check_skin-default mxn-i-check_mr-1"
                  >
                    <svg-icon src="/assets/svg/check.svg"></svg-icon>
                  </span>
                  <span>
                    <span
                      [innerHTML]="'Common.Agreement1' | translate"
                      class="mxn-i-txt-wrap-label-text mxn-i-txt-wrap-label-text_skin-default mxn-i-txt-wrap-label-text_sz-1"
                    >
                    </span
                    >&nbsp;<span
                      class="mxn-cur-p mxn-link mxn-link_theme-1"
                      (click)="doc.openPopup('gift_offer')"
                      >{{ 'Common.PersonalDataProcessRules' | translate }}</span
                    >
                  </span>
                </label>
              </div>
              <div class="gift__footer-item gift__footer-item_btn">
                <button
                  type="submit"
                  [disabled]="showCustomValue"
                  [ngClass]="{ 'f-disabled': !order.agreement }"
                  class="mxn-btn mxn-btn_icon_sz-1 mxn-btn_icon_mr-1 mxn-btn_full-width mxn-btn_ta-c mxn-btn_sz-1 mxn-btn_theme-1 mxn-btn_skin-{{
                    skin.skin
                  }}"
                >
                  <svg-icon src="/assets/svg/payment-lock.svg" class="mxn-desktop"></svg-icon>
                  {{ 'GiftForm.Submit' | translate }}&nbsp;<span *ngIf="total_cost">{{
                    total_cost | money
                  }}</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </section>
    </ng-template>

    <section class="section section_mb-4 section_sz-3" *ngIf="first_logos">
      <app-gifts-related [logos]="first_logos" [title]="first_logos_title" [slider_settings]="first_logos_slider_settings"></app-gifts-related>
    </section>

    <section
      class="section section_sz-7 section_bg-1 section_mb-4"
      *ngIf="gift && gift.tabs && showGiftTabs"
    >
      <app-tabs sz="2" headMb="2" [skin]="skin" theme="2">
        <app-tabs-tab *ngFor="let tab of gift.tabs" [tabTitle]="tab.title | multilang">
          <div class="r-tab r-tab_html r-tab_html_rules" [innerHTML]="tab.text | multilang"></div>
        </app-tabs-tab>
      </app-tabs>
    </section>

<!--    <section-->
<!--      *ngIf="showActivate"-->
<!--      class="section section_sz-7 section_bg-2 section_mb-4">-->
<!--      <app-b-activate [fetchGifts]="true" [listenActivate]="true"></app-b-activate>-->
<!--    </section>-->
    <div id="activate" [ngStyle]="{'min-height.px': showActivate ? 400 : 0}">
      <app-b-activate *ngIf="showActivate" [fetchGifts]="true" [listenActivate]="true" theme="2" [text]="activate_text"></app-b-activate>
    </div>

    <section class="section section_mb-4 section_sz-3" *ngIf="second_logos">
      <app-gifts-related [logos]="second_logos" [title]="second_logos_title" [slider_settings]="second_logos_slider_settings"></app-gifts-related>
    </section>

    <section class="section section_mb-4 section_sz-3" *ngIf="related">
      <app-gifts-related [gifts]="related" [title]="relatedTitle"></app-gifts-related>
    </section>

    <section class="section section_sz-4 section_bg-3 section_mb-4" *ngIf="showSubscribeForm">
      <app-subscribe-form
        [title]="subscribeFormTitle"
        [showCompany]="showSubscribeCompany"
        [showMessage]="showSubscribeMessage"
        [showPhone]="showSubscribePhone"
        theme="2"
      ></app-subscribe-form>
    </section>
  </div>
</app-layout-gift>
