<!--<ng-template [ngIf]="auth.init$ | async">-->
<div class="device-{{ global.deviceType }}">
  <div class="wrap">
    <router-outlet></router-outlet>
  </div>
</div>
<app-doc></app-doc>
<app-widget-iframe></app-widget-iframe>
<!--</ng-template>-->
