<form class="s-form" #form="ngForm" (ngSubmit)="onSubmit()" [attr.style]="((skin || {vars: ''}).vars) | safe: 'style'">
  <div class="s-form__wrap">
    <div class="s-form__col-row">
      <div class="s-form__col s-form__col_title">
        <h5
          class="s-form__title s-form__title_theme-{{theme}}"
          [innerHTML]="
            title ||
            'Учреждение<br>культуры<br>' +
              '          или организатор мероприятий?<br>' +
              '          <strong>Присоединяйтесь к проекту</strong>'
          "
        ></h5>
      </div>
      <div class="s-form__col s-form__col_form">
        <div class="s-form__form-body">
          <div class="s-form__form-row">
            <label
              appInputError
              [inpRef]="nameInp"
              class="s-form__input-label mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-{{skin.skin}} mxn-i-txt-wrap-label_cur-t"
            >
              <span
                [ngClass]="{ 'f-active': md.name }"
                class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_theme-1 mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-{{skin.skin}}"
              >
                Имя</span
              >
              <input
                type="text"
                #nameInp="ngModel"
                #nameRef
                required
                appNativeElementControl
                [(ngModel)]="md.name"
                (focus)="fhOnInputFocus($event)"
                (blur)="fhOnInputBlur()"
                name="name"
                autocomplete="off"
                class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-{{skin.skin}} mxn-i-txt_theme-1"
              />
            </label>
            <div class="mxn-form-input-error" *ngIf="nameInp.invalid && nameInp.dirty && nameRef !== fhFocusedElement">
              <app-status-message
                [message]="nameInp.value ? 'Введите ваше имя' : 'Введите ваше имя'"
              ></app-status-message>
            </div>
          </div>
          <div class="s-form__form-row" *ngIf="showPhone">
            <label
              appInputError
              [inpRef]="phoneInp"
              class="s-form__input-label mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-{{skin.skin}} mxn-i-txt-wrap-label_cur-t"
            >
              <span
                [ngClass]="{ 'f-active': md.phone }"
                class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_theme-1 mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-{{skin.skin}}"
              >
                Телефон</span
              >
              <input
                type="tel"
                #phoneInp="ngModel"
                #phoneRef
                appPhoneValidator
                appPhoneInputValue
                appNativeElementControl
                appMaskInputValue="+7"
                required
                [(ngModel)]="md.phone"
                (focus)="fhOnInputFocus($event)"
                (blur)="fhOnInputBlur()"
                name="phone"
                autocomplete="off"
                class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-{{skin.skin}} mxn-i-txt_theme-1"
              />
            </label>
            <div class="mxn-form-input-error" *ngIf="phoneInp.invalid && phoneInp.dirty && phoneRef !== fhFocusedElement">
              <app-status-message
                [message]="phoneInp.value ? 'Укажите телефон для связи' : ' Укажите телефон для связи'"
              ></app-status-message>
            </div>
          </div>
          <div class="s-form__form-row">
            <label
              appInputError
              [inpRef]="emailInp"
              class="s-form__input-label mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-{{skin.skin}} mxn-i-txt-wrap-label_cur-t"
            >
              <span
                [ngClass]="{ 'f-active': md.email }"
                class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_theme-1 mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-{{skin.skin}}"
              >
                Email</span
              >
              <input
                type="email"
                #emailInp="ngModel"
                #emailRef
                appEmailValidator
                appNativeElementControl
                required
                [(ngModel)]="md.email"
                (focus)="fhOnInputFocus($event)"
                (blur)="fhOnInputBlur()"
                name="email"
                autocomplete="off"
                class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-{{skin.skin}} mxn-i-txt_theme-1"
              />
            </label>
            <div class="mxn-form-input-error" *ngIf="emailInp.invalid && emailInp.dirty && emailRef !== fhFocusedElement">
              <app-status-message
                [message]="emailInp.value ? 'Проверьте формат email' : 'Укажите email для связи'"
              ></app-status-message>
            </div>
          </div>
          <div class="s-form__form-row" *ngIf="showCompany">
            <label
              appInputError
              [inpRef]="messageInp"
              class="s-form__input-label mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-{{skin.skin}} mxn-i-txt-wrap-label_cur-t"
            >
              <span
                [ngClass]="{ 'f-active': md.message }"
                class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_theme-1 mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-{{skin.skin}}"
              >
                Учреждение культуры</span
              >
              <input
                type="text"
                #messageInp="ngModel"
                #messageRef
                appNativeElementControl
                required
                [(ngModel)]="md.message"
                (focus)="fhOnInputFocus($event)"
                (blur)="fhOnInputBlur()"
                name="message"
                autocomplete="off"
                class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-{{skin.skin}} mxn-i-txt_theme-1"
              />
            </label>
            <div class="mxn-form-input-error" *ngIf="messageInp.invalid && messageInp.dirty && messageRef !== fhFocusedElement">
              <app-status-message
                [message]="messageInp.value ? 'Введите название учреждения культуры' : 'Введите название учреждения культуры'"
              ></app-status-message>
            </div>
          </div>
          <div class="s-form__form-row" *ngIf="showMessage">
            <label
              appInputError
              [inpRef]="messageInp"
              class="s-form__input-label mxn-i-txt-wrap-label mxn-i-txt-wrap-label_section_theme-1 mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_area_sz-1 mxn-i-txt-wrap-label_sz-2 mxn-i-txt-wrap-label_skin-{{skin.skin}} mxn-i-txt-wrap-label_cur-t"
            >
              <span
                [ngClass]="{ 'f-active': md.message }"
                class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_theme-1 mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-{{skin.skin}}"
              >
                Сообщение</span
              >
              <textarea
                #messageInp="ngModel"
                #messageRef
                appNativeElementControl
                [attr.required]="messageRequired"
                [(ngModel)]="md.message"
                (focus)="fhOnInputFocus($event)"
                (blur)="fhOnInputBlur()"
                name="message"
                autocomplete="off"
                class="mxn-i-txt-wrap-area mxn-i-txt-wrap-area_sz-1 mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-{{skin.skin}} mxn-i-txt_theme-1 mxn-i-txt-wrap-input_skin-{{skin.skin}} f-gift__input"
              ></textarea>
            </label>
            <div class="mxn-form-input-error" *ngIf="messageInp.invalid && messageInp.dirty && messageRef !== fhFocusedElement">
              <app-status-message
                [message]="messageInp.value ? 'Введите сообщение' : 'Введите сообщение'"
              ></app-status-message>
            </div>
          </div>
        </div>
        <div class="s-form__form-footer">
          <div class="s-form__footer-row">
            <div class="s-form__footer-item">
              <p *ngIf="success" class="s-form__msg">Запрос отправлен</p>
              <!--              <label class="s-form__check mxn-i-txt-wrap-label mxn-i-txt-wrap-label_flex">-->
              <!--                <input-->
              <!--                  type="checkbox"-->
              <!--                  name="agreement"-->
              <!--                  [(ngModel)]="md.agreement"-->
              <!--                  required-->
              <!--                  class="mxn-i-check mxn-i-check_input mxn-i-hidden"-->
              <!--                />-->
              <!--                <span-->
              <!--                  class="s-form__check-fake mxn-i-check mxn-i-check_fake mxn-i-check_sz-1 mxn-i-check_skin-default mxn-i-check_mr-1"-->
              <!--                >-->
              <!--                    <svg-icon src="/assets/svg/check.svg"></svg-icon>-->
              <!--                  </span>-->
              <!--                <span-->
              <!--                  class="mxn-i-txt-wrap-label-text mxn-i-txt-wrap-label-text_skin-default mxn-i-txt-wrap-label-text_sz-1"-->
              <!--                >Я соглашаюсь с Условиями обработки персональных данных</span>-->
              <!--              </label>-->
            </div>
            <div class="s-form__footer-item">
              <button
                [disabled]="fetching || success"
                type="submit"
                class="s-form__btn s-form__btn_theme-{{theme}} mxn-btn mxn-btn_full-width mxn-btn_ta-c mxn-btn_sz-5 mxn-btn_theme-1 mxn-btn_skin-{{skin.skin}}"
              >
                Отправить
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
