

<new-app-header></new-app-header>
<div class="container">
  <h1 class="header-main-title">
    Подарочный сертификат
в ресторан Eva
  </h1>
</div>

<main class="main-content">
  <div class="container">
    <div class="description">
      Сертификат позволит вам оплатить любые блюда и напитки из основного меню,
      приобрести продукцию собственного производства, организовать семейные или
      деловые мероприятия, мастер-классы
    </div>

    <ul class="section-list">
      <li class="section-item">Греческий ресторан</li>
      <li class="section-item">Средиземноморская кухня</li>
      <li class="section-item">Бары</li>
      <li class="section-item">Коктейльная карта</li>
      <li class="section-item">Винотека</li>
    </ul>

    <ul class="info-list">
      <li class="info-item">
        <svg
          class="info-icon"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.0605 7.62207H12.8105C12.6818 7.62207 12.5543 7.64741 12.4354 7.69666C12.3165 7.7459 12.2085 7.81809 12.1175 7.90909C12.0265 8.00009 11.9543 8.10812 11.9051 8.22702C11.8558 8.34592 11.8305 8.47336 11.8305 8.60205V16.02H10.7105C10.4506 16.02 10.2013 16.1233 10.0175 16.3071C9.83373 16.4909 9.73047 16.7401 9.73047 17.0001C9.73047 17.26 9.83373 17.5092 10.0175 17.693C10.2013 17.8768 10.4506 17.9801 10.7105 17.9801H11.8305V20.2201H10.7105C10.4506 20.2201 10.2013 20.3233 10.0175 20.5071C9.83373 20.6909 9.73047 20.9402 9.73047 21.2001C9.73047 21.46 9.83373 21.7092 10.0175 21.893C10.2013 22.0768 10.4506 22.18 10.7105 22.18H11.8305V24.356C11.8305 24.616 11.9337 24.8652 12.1175 25.049C12.3013 25.2328 12.5505 25.3361 12.8105 25.3361C13.0704 25.3361 13.3196 25.2328 13.5034 25.049C13.6872 24.8652 13.7905 24.616 13.7905 24.356V22.1861H18.0585C18.3184 22.1861 18.5676 22.0828 18.7514 21.899C18.9352 21.7152 19.0385 21.466 19.0385 21.2061C19.0385 20.9461 18.9352 20.6969 18.7514 20.5131C18.5676 20.3293 18.3184 20.2261 18.0585 20.2261H13.7985V17.9861H18.0665C18.7551 17.9996 19.4396 17.8756 20.0798 17.6215C20.72 17.3673 21.3031 16.9879 21.7949 16.5057C22.2867 16.0234 22.6774 15.4479 22.9441 14.8128C23.2109 14.1778 23.3482 13.4959 23.3482 12.8071C23.3482 12.1183 23.2109 11.4363 22.9441 10.8013C22.6774 10.1662 22.2867 9.59068 21.7949 9.10843C21.3031 8.62617 20.72 8.24687 20.0798 7.99268C19.4396 7.73849 18.7551 7.61452 18.0665 7.62805L18.0605 7.62207ZM18.0605 16.0221H13.7985V9.58408H18.0665C18.4959 9.57337 18.9232 9.64871 19.3231 9.80566C19.723 9.96262 20.0875 10.198 20.395 10.498C20.7026 10.798 20.947 11.1564 21.1139 11.5523C21.2807 11.9482 21.3667 12.3735 21.3667 12.8031C21.3667 13.2327 21.2807 13.6579 21.1139 14.0538C20.947 14.4497 20.7026 14.8082 20.395 15.1082C20.0875 15.4081 19.723 15.6435 19.3231 15.8005C18.9232 15.9574 18.4959 16.0328 18.0665 16.0221H18.0605Z"
            fill="white"
          />
          <path
            d="M16 0C12.8355 0 9.74207 0.938383 7.11088 2.69649C4.4797 4.45459 2.42894 6.95345 1.21793 9.87706C0.0069325 12.8007 -0.309921 16.0177 0.307443 19.1214C0.924806 22.2251 2.44866 25.0761 4.6863 27.3137C6.92394 29.5513 9.77486 31.0752 12.8786 31.6926C15.9823 32.3099 19.1993 31.9931 22.1229 30.7821C25.0466 29.5711 27.5454 27.5203 29.3035 24.8891C31.0616 22.2579 32 19.1645 32 16C31.9952 11.758 30.308 7.6911 27.3084 4.69155C24.3089 1.692 20.242 0.00476422 16 0V0ZM16 30.126C13.2061 30.126 10.475 29.2975 8.15202 27.7453C5.82901 26.1931 4.01845 23.987 2.94928 21.4058C1.88012 18.8246 1.60038 15.9843 2.14543 13.2442C2.69049 10.504 4.03586 7.98696 6.01142 6.01141C7.98697 4.03585 10.504 2.69048 13.2442 2.14543C15.9843 1.60037 18.8246 1.88011 21.4058 2.94928C23.987 4.01844 26.1932 5.829 27.7453 8.15201C29.2975 10.475 30.126 13.2061 30.126 16C30.1223 19.7453 28.6328 23.3362 25.9845 25.9845C23.3362 28.6328 19.7453 30.1223 16 30.126Z"
            fill="white"
          />
        </svg>

        <div class="data">
          <div class="title">Средний чек</div>
          <div class="text">1500 - 2500 рублей</div>
        </div>
      </li>
      <li class="info-item">
        <svg
          class="info-icon"
          viewBox="0 0 32 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0514 1C14.0476 0.999922 12.0802 1.53497 10.3525 2.54983C8.6248 3.56469 7.19945 5.02255 6.22382 6.77271C5.24818 8.52288 4.75765 10.5018 4.80292 12.5051C4.84819 14.5083 5.42761 16.4631 6.48132 18.1674L15.4115 32.5568C15.4954 32.6923 15.6126 32.8041 15.7519 32.8817C15.8912 32.9593 16.048 33 16.2074 33C16.3683 32.9989 16.5262 32.9565 16.6659 32.8766C16.8056 32.7968 16.9223 32.6824 17.0049 32.5443L25.715 18.0113C26.733 16.3035 27.2802 14.3565 27.3009 12.3684C27.3217 10.3804 26.8153 8.42234 25.8333 6.69364C24.8513 4.96495 23.4287 3.52735 21.7104 2.52721C19.9921 1.52707 18.0395 1.00012 16.0514 1ZM24.1044 17.0499L16.1949 30.2595L8.07945 17.1764C7.20308 15.7608 6.71923 14.1374 6.67758 12.473C6.63593 10.8086 7.03796 9.16314 7.84243 7.70547C8.64689 6.24781 9.82478 5.03049 11.2552 4.17851C12.6856 3.32652 14.317 2.87055 15.9819 2.85742C17.6467 2.8443 19.2851 3.27447 20.7288 4.1038C22.1724 4.93312 23.3694 6.1317 24.1967 7.5765C25.0241 9.02129 25.452 10.6602 25.4366 12.3251C25.4212 13.9899 24.963 15.6207 24.1091 17.0499H24.1044Z"
            fill="white"
            stroke="white"
            stroke-width="0.2"
          />
          <path
            d="M16.0514 6.29688C14.8195 6.29688 13.6152 6.66218 12.5909 7.34659C11.5666 8.03101 10.7683 9.00378 10.2969 10.1419C9.82545 11.28 9.7021 12.5324 9.94244 13.7407C10.1828 14.9489 10.776 16.0587 11.6471 16.9298C12.5182 17.8009 13.628 18.3941 14.8362 18.6345C16.0445 18.8748 17.2969 18.7515 18.435 18.28C19.5731 17.8086 20.5459 17.0103 21.2303 15.986C21.9147 14.9617 22.28 13.7574 22.28 12.5255C22.2763 10.8747 21.6189 9.29259 20.4516 8.1253C19.2843 6.95801 17.7022 6.30059 16.0514 6.29688ZM16.0514 16.6925C15.2269 16.6941 14.4205 16.451 13.7342 15.994C13.0479 15.5371 12.5126 14.8868 12.196 14.1256C11.8794 13.3643 11.7958 12.5262 11.9557 11.7174C12.1156 10.9085 12.5119 10.1653 13.0943 9.58177C13.6768 8.99823 14.4192 8.60058 15.2278 8.43917C16.0363 8.27775 16.8745 8.35981 17.6364 8.67497C18.3983 8.99013 19.0495 9.52422 19.5078 10.2097C19.966 10.8951 20.2106 11.701 20.2106 12.5255C20.2098 13.6291 19.7715 14.6873 18.9919 15.4684C18.2123 16.2494 17.1549 16.6896 16.0514 16.6925Z"
            fill="white"
            stroke="white"
            stroke-width="0.2"
          />
        </svg>

        <div class="data">
          <div class="title">Адрес</div>
          <div class="text">Москва, Б. Грузинская, 69</div>
        </div>
      </li>
      <li class="info-item">
        <svg
          class="info-icon"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 0C12.8355 0 9.74207 0.938383 7.11088 2.69649C4.4797 4.45459 2.42894 6.95345 1.21793 9.87706C0.00693254 12.8007 -0.309921 16.0177 0.307443 19.1214C0.924806 22.2251 2.44866 25.0761 4.6863 27.3137C6.92394 29.5513 9.77486 31.0752 12.8786 31.6926C15.9823 32.3099 19.1993 31.9931 22.1229 30.7821C25.0466 29.5711 27.5454 27.5203 29.3035 24.8891C31.0616 22.2579 32 19.1645 32 16C31.9952 11.758 30.308 7.69112 27.3084 4.69157C24.3089 1.69203 20.242 0.00478271 16 0V0ZM16 30.0002C13.231 30.0002 10.5242 29.1791 8.22188 27.6408C5.91955 26.1024 4.12511 23.9159 3.06546 21.3577C2.00582 18.7994 1.72856 15.9845 2.26877 13.2687C2.80897 10.5529 4.14236 8.0583 6.10033 6.10033C8.0583 4.14236 10.5529 2.80896 13.2687 2.26876C15.9845 1.72856 18.7995 2.00581 21.3577 3.06545C23.9159 4.1251 26.1024 5.91955 27.6408 8.22188C29.1792 10.5242 30.0003 13.231 30.0003 16C29.996 19.7118 28.5196 23.2703 25.895 25.895C23.2703 28.5196 19.7118 29.996 16 30.0002Z"
            fill="white"
          />
          <path
            d="M16.6502 4.02563H14.3955V15.7631L21.487 22.8546L23.0811 21.2604L16.6563 14.8355L16.6502 4.02563Z"
            fill="white"
          />
        </svg>

        <div class="data">
          <div class="title">Время работы</div>
          <div class="text">Пн-чт, вс 12.00–0.00, пт-сб 12.00–2.00</div>
        </div>
      </li>
    </ul>

    <div class="section-white">
      <div class="tabs tabs--one">
        <div class="menu-container">
          <ul class="menu" ngbNav #nav="ngbNav" [(activeId)]="active">
            <li [ngbNavItem]="1" class="tab-link">
              <a ngbNavLink>В подарок</a>
              <ng-template ngbNavContent>
                <div class="left">
                  <div class="cert-info-title">
                    <div class="text">Номинал</div>
                    <div class="link">Пример сертификата</div>
                  </div>
                  <ul class="list-money">
                    <li class="list-item active">20 000 р</li>
                    <li class="list-item">15 000 р</li>
                    <li class="list-item">10 000 р</li>
                    <li class="list-item">5 000 р</li>
                    <li class="list-item">Свой номинал</li>
                  </ul>
                  <div class="cert-count-container">
                    <svg
                      class="btn-minus"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1.06418 9.5C0.781945 9.5 0.511265 9.39464 0.311692 9.20711C0.112119 9.01957 0 8.76522 0 8.5V7.5C0 7.23478 0.112119 6.98043 0.311692 6.79289C0.511265 6.60536 0.781945 6.5 1.06418 6.5H14.9358C15.2181 6.5 15.4887 6.60536 15.6883 6.79289C15.8879 6.98043 16 7.23478 16 7.5V8.5C16 8.76522 15.8879 9.01957 15.6883 9.20711C15.4887 9.39464 15.2181 9.5 14.9358 9.5H1.06418Z"
                        fill="#A8A8A8"
                      />
                    </svg>

                    <div class="label">1 сертификат</div>
                    <svg
                      class="btn-plus"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.46787 16C7.18561 16 6.91492 15.8879 6.71533 15.6883C6.51574 15.4887 6.40362 15.2181 6.40362 14.9358V9.59574H1.06425C0.781996 9.59574 0.511299 9.48362 0.311713 9.28405C0.112126 9.08448 0 8.8138 0 8.53156V7.46738C0 7.18514 0.112126 6.91446 0.311713 6.71488C0.511299 6.51531 0.781996 6.40319 1.06425 6.40319H6.40362V1.06418C6.40362 0.781945 6.51574 0.511265 6.71533 0.311692C6.91492 0.112119 7.18561 0 7.46787 0L8.53213 0C8.81438 0 9.08508 0.112119 9.28467 0.311692C9.48425 0.511265 9.59638 0.781945 9.59638 1.06418V6.40319H14.9357C15.218 6.40319 15.4887 6.51531 15.6883 6.71488C15.8879 6.91446 16 7.18514 16 7.46738V8.53156C16 8.8138 15.8879 9.08448 15.6883 9.28405C15.4887 9.48362 15.218 9.59574 14.9357 9.59574H9.59638V14.9348C9.59638 15.217 9.48425 15.4877 9.28467 15.6872C9.08508 15.8868 8.81438 15.9989 8.53213 15.9989L7.46787 16Z"
                        fill="#A8A8A8"
                      />
                    </svg>
                  </div>
                  <div class="text">
                    <p class="receiver">Получатель</p>
                    <div
                      class="form-group"
                      [class.invalid]="!isValid && model.name == ''"
                    >
                      <input
                        type="text"
                        class="form-input"
                        placeholder="От кого"
                        [(ngModel)]="model.name"
                        [class.touched]="model.name !== ''"
                      />
                      <div class="error-label">Поле не заполнено</div>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-input"
                        placeholder="Кому"
                        [(ngModel)]="model.message"
                        [class.touched]="model.message !== ''"
                      />
                      <div class="error-label">Поле не заполнено</div>
                    </div>
                    <div
                      class="form-group"
                      [class.invalid]="!isValid && !validateEmail()"
                    >
                      <input
                        type="text"
                        class="form-input"
                        placeholder="Email получателя"
                        [(ngModel)]="model.email"
                        [class.touched]="model.email !== ''"
                      />
                      <div class="error-label">Поле заполнено неверно</div>
                    </div>
                    <div
                      class="form-group"
                      [class.invalid]="!isValid && model.phone.length < 12"
                    >
                      <input
                        type="text"
                        class="form-input"
                        placeholder="Телефон получателя"
                        [(ngModel)]="model.phone"
                        (focus)="model.phone == '' ? (model.phone = '+7') : ''"
                        [class.touched]="model.phone !== ''"
                      />
                      <div class="error-label">Поле заполнено неверно</div>
                    </div>
                    <div
                      class="form-group"
                      [class.invalid]="!isValid && model.message == ''"
                    >
                      <textarea
                        class="form-input form-textarea"
                        placeholder="Сообщение"
                        [(ngModel)]="model.message"
                        [class.touched]="model.name !== ''"
                      ></textarea>
                      <div class="error-label">Поле не заполнено</div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <div class="tabs-slider">
                    <ngx-slick-carousel
                      class="carousel"
                      #slickModal="slick-carousel"
                      [config]="slideConfig2"
                      (init)="slickInit($event)"
                      (breakpoint)="breakpoint($event)"
                      (afterChange)="afterChange($event)"
                      (beforeChange)="beforeChange($event)"
                    >
                      <div
                        ngxSlickItem
                        *ngFor="let slide of slider1"
                        class="slide"
                      >
                        <img src="{{ slide.img }}" alt="" width="100%" />
                      </div>
                    </ngx-slick-carousel>
                  </div>
                </div>
                <div class="section-footer form-controls-row">
                  <div class="form-group form-group__checkbox">
                    <input
                      type="checkbox"
                      class="form-checkbox"
                      id="policy"
                      name="policy"
                      [(ngModel)]="enablePolicy"
                    />
                    <label for="policy"></label>
                    <span
                      >Я соглашаюсь с
                      <a href="" (click)="openDoc()">
                        Условиями обработки персональных данных
                      </a>
                    </span>
                  </div>
                  <a
                    href=""
                    class="btn btn-action"
                    (click)="send()"
                    [class.btn-action--active]="enablePolicy"
                  >
                    <svg
                      width="25"
                      height="24"
                      viewBox="0 0 25 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M16.5 9.50403H7.5C6.11929 9.50403 5 10.6233 5 12.004V19.004C5 20.3847 6.11929 21.504 7.5 21.504H16.5C17.8807 21.504 19 20.3847 19 19.004V12.004C19 10.6233 17.8807 9.50403 16.5 9.50403Z"
                        stroke="white"
                        stroke-width="3"
                        stroke-miterlimit="10"
                      />
                      <path
                        d="M7.06397 11.0041V9.38911V7.78111C7.04096 6.42754 7.55643 5.12024 8.49704 4.14662C9.43765 3.173 10.7264 2.61278 12.08 2.58911V2.58911C13.4335 2.61278 14.7223 3.173 15.6629 4.14662C16.6035 5.12024 17.119 6.42754 17.096 7.78111V10.4891V11.0031"
                        stroke="white"
                        stroke-width="3"
                        stroke-miterlimit="10"
                      />
                      <path
                        d="M12.5 12.504H11.5C10.9477 12.504 10.5 12.9517 10.5 13.504V16.605C10.5 17.1573 10.9477 17.605 11.5 17.605H12.5C13.0523 17.605 13.5 17.1573 13.5 16.605V13.504C13.5 12.9517 13.0523 12.504 12.5 12.504Z"
                        fill="white"
                      />
                    </svg>

                    <span> Оплатить 15 000 р </span>
                  </a>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="tab-link">
              <a ngbNavLink>Корпоративный заказ</a>
              <ng-template ngbNavContent>
                <div class="left">
                  <div class="cert-info-title">
                    <div class="text">Номинал</div>
                    <div class="link">Пример сертификата</div>
                  </div>
                  <ul class="list-money">
                    <li class="list-item active">20 000 р</li>
                    <li class="list-item">15 000 р</li>
                    <li class="list-item">10 000 р</li>
                    <li class="list-item">5 000 р</li>
                    <li class="list-item">Свой номинал</li>
                  </ul>
                  <div class="cert-count-container">
                    <svg
                      class="btn-minus"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1.06418 9.5C0.781945 9.5 0.511265 9.39464 0.311692 9.20711C0.112119 9.01957 0 8.76522 0 8.5V7.5C0 7.23478 0.112119 6.98043 0.311692 6.79289C0.511265 6.60536 0.781945 6.5 1.06418 6.5H14.9358C15.2181 6.5 15.4887 6.60536 15.6883 6.79289C15.8879 6.98043 16 7.23478 16 7.5V8.5C16 8.76522 15.8879 9.01957 15.6883 9.20711C15.4887 9.39464 15.2181 9.5 14.9358 9.5H1.06418Z"
                        fill="#A8A8A8"
                      />
                    </svg>

                    <div class="label">1 сертификат</div>
                    <svg
                      class="btn-plus"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.46787 16C7.18561 16 6.91492 15.8879 6.71533 15.6883C6.51574 15.4887 6.40362 15.2181 6.40362 14.9358V9.59574H1.06425C0.781996 9.59574 0.511299 9.48362 0.311713 9.28405C0.112126 9.08448 0 8.8138 0 8.53156V7.46738C0 7.18514 0.112126 6.91446 0.311713 6.71488C0.511299 6.51531 0.781996 6.40319 1.06425 6.40319H6.40362V1.06418C6.40362 0.781945 6.51574 0.511265 6.71533 0.311692C6.91492 0.112119 7.18561 0 7.46787 0L8.53213 0C8.81438 0 9.08508 0.112119 9.28467 0.311692C9.48425 0.511265 9.59638 0.781945 9.59638 1.06418V6.40319H14.9357C15.218 6.40319 15.4887 6.51531 15.6883 6.71488C15.8879 6.91446 16 7.18514 16 7.46738V8.53156C16 8.8138 15.8879 9.08448 15.6883 9.28405C15.4887 9.48362 15.218 9.59574 14.9357 9.59574H9.59638V14.9348C9.59638 15.217 9.48425 15.4877 9.28467 15.6872C9.08508 15.8868 8.81438 15.9989 8.53213 15.9989L7.46787 16Z"
                        fill="#A8A8A8"
                      />
                    </svg>
                  </div>
                  <div class="text">
                    <p class="receiver">Получатель</p>
                    <div
                      class="form-group"
                      [class.invalid]="!isValid && model.name == ''"
                    >
                      <input
                        type="text"
                        class="form-input"
                        placeholder="От кого"
                        [(ngModel)]="model.name"
                        [class.touched]="model.name !== ''"
                      />
                      <div class="error-label">Поле не заполнено</div>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-input"
                        placeholder="Кому"
                        [(ngModel)]="model.message"
                        [class.touched]="model.message !== ''"
                      />
                      <div class="error-label">Поле не заполнено</div>
                    </div>
                    <div
                      class="form-group"
                      [class.invalid]="!isValid && !validateEmail()"
                    >
                      <input
                        type="text"
                        class="form-input"
                        placeholder="Email получателя"
                        [(ngModel)]="model.email"
                        [class.touched]="model.email !== ''"
                      />
                      <div class="error-label">Поле заполнено неверно</div>
                    </div>
                    <div
                      class="form-group"
                      [class.invalid]="!isValid && model.phone.length < 12"
                    >
                      <input
                        type="text"
                        class="form-input"
                        placeholder="Телефон получателя"
                        [(ngModel)]="model.phone"
                        (focus)="model.phone == '' ? (model.phone = '+7') : ''"
                        [class.touched]="model.phone !== ''"
                      />
                      <div class="error-label">Поле заполнено неверно</div>
                    </div>
                    <div
                      class="form-group"
                      [class.invalid]="!isValid && model.message == ''"
                    >
                      <textarea
                        class="form-input form-textarea"
                        placeholder="Сообщение"
                        [(ngModel)]="model.message"
                        [class.touched]="model.name !== ''"
                      ></textarea>
                      <div class="error-label">Поле не заполнено</div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <div class="tabs-slider"></div>
                </div>
                <div class="section-footer form-controls-row">
                  <div class="form-group form-group__checkbox">
                    <input
                      type="checkbox"
                      class="form-checkbox"
                      id="policy"
                      name="policy"
                      [(ngModel)]="enablePolicy"
                    />
                    <label for="policy"></label>
                    <span
                      >Я соглашаюсь с
                      <a href="" (click)="openDoc()">
                        Условиями обработки персональных данных
                      </a>
                    </span>
                  </div>
                  <a
                    href=""
                    class="btn btn-action"
                    (click)="send()"
                    [class.btn-action--active]="enablePolicy"
                  >
                    <svg
                      width="25"
                      height="24"
                      viewBox="0 0 25 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M16.5 9.50403H7.5C6.11929 9.50403 5 10.6233 5 12.004V19.004C5 20.3847 6.11929 21.504 7.5 21.504H16.5C17.8807 21.504 19 20.3847 19 19.004V12.004C19 10.6233 17.8807 9.50403 16.5 9.50403Z"
                        stroke="white"
                        stroke-width="3"
                        stroke-miterlimit="10"
                      />
                      <path
                        d="M7.06397 11.0041V9.38911V7.78111C7.04096 6.42754 7.55643 5.12024 8.49704 4.14662C9.43765 3.173 10.7264 2.61278 12.08 2.58911V2.58911C13.4335 2.61278 14.7223 3.173 15.6629 4.14662C16.6035 5.12024 17.119 6.42754 17.096 7.78111V10.4891V11.0031"
                        stroke="white"
                        stroke-width="3"
                        stroke-miterlimit="10"
                      />
                      <path
                        d="M12.5 12.504H11.5C10.9477 12.504 10.5 12.9517 10.5 13.504V16.605C10.5 17.1573 10.9477 17.605 11.5 17.605H12.5C13.0523 17.605 13.5 17.1573 13.5 16.605V13.504C13.5 12.9517 13.0523 12.504 12.5 12.504Z"
                        fill="white"
                      />
                    </svg>

                    <span> Оплатить 15 000 р </span>
                  </a>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="tabs-content">
          <div class="tabs-content-item"></div>
          <div [ngbNavOutlet]="nav" class="tabs-content-item"></div>
        </div>
      </div>
    </div>

    <app-section-item ></app-section-item>
    <div class="section-slider">
      <div class="slider-header">
        <div class="title">Отзывы наших гостей</div>
        <div class="btns">
          <svg
            class="icon-arrow icon-arrow--prev"
            viewBox="0 0 48 48"
            (click)="slickModal.slickPrev()"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="24"
              cy="24"
              r="23.5"
              transform="rotate(-180 24 24)"
              stroke="white"
            />
            <path
              d="M29.5454 37.0909L16.4545 24L29.5454 10.9091"
              stroke="white"
              stroke-width="1.5"
              stroke-miterlimit="10"
            />
          </svg>

          <svg
            class="icon-arrow icon-arrow--next"
            viewBox="0 0 48 48"
            (click)="slickModal.slickNext()"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="24" cy="24" r="23.5" stroke="white" />
            <path
              d="M18.4546 10.9091L31.5455 24L18.4546 37.0909"
              stroke="white"
              stroke-width="1.5"
              stroke-miterlimit="10"
            />
          </svg>
        </div>
      </div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig1"
        (init)="slickInit($event)"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="slide-container">
            <div class="title">{{ slide.name }}</div>
            <div class="text">{{ slide.text }}</div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>

    <div class="btns btns--mobile">
      <svg
        class="icon-arrow icon-arrow--prev"
        viewBox="0 0 48 48"
        (click)="slickModal.slickPrev()"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="24"
          cy="24"
          r="23.5"
          transform="rotate(-180 24 24)"
          stroke="white"
        />
        <path
          d="M29.5454 37.0909L16.4545 24L29.5454 10.9091"
          stroke="white"
          stroke-width="1.5"
          stroke-miterlimit="10"
        />
      </svg>

      <svg
        class="icon-arrow icon-arrow--next"
        viewBox="0 0 48 48"
        (click)="slickModal.slickNext()"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="24" cy="24" r="23.5" stroke="white" />
        <path
          d="M18.4546 10.9091L31.5455 24L18.4546 37.0909"
          stroke="white"
          stroke-width="1.5"
          stroke-miterlimit="10"
        />
      </svg>
    </div>
    <div class="section-white section-white--feedback">
      <div class="section-container">
        <div class="left">
          <div class="title">Уже были у нас? Оставьте отзыв!</div>
        </div>
        <div class="right">
          <div
            class="form-group"
            [class.invalid]="!isValid && model.name == ''"
          >
            <input
              type="text"
              class="form-input"
              placeholder="Имя"
              [(ngModel)]="model.name"
              [class.touched]="model.name !== ''"
            />
            <div class="error-label">Поле не заполнено</div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              placeholder="Фамилия"
              [(ngModel)]="model.message"
              [class.touched]="model.message !== ''"
            />
            <div class="error-label">Поле не заполнено</div>
          </div>

          <div
            class="form-group"
            [class.invalid]="!isValid && model.message == ''"
          >
            <textarea
              class="form-input form-textarea"
              placeholder="Введите ваш отзыв"
              [(ngModel)]="model.message"
              [class.touched]="model.name !== ''"
            ></textarea>
            <div class="error-label">Поле не заполнено</div>
          </div>
        </div>
        <div class="section-footer section-footer--reverse form-controls-row">
          <a
            href=""
            class="btn btn-action"
            (click)="send()"
            [class.btn-action--active]="enablePolicy"
          >
            <span> Оставить отзыв </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<new-app-footer></new-app-footer>
