<div class="card-buttons">
  <div class="card-buttons__head card-buttons__head_sz-{{sz}}">
    <h6 class="card-buttons__head-title card-buttons__head-title_sz-{{sz}}">
      {{ 'GiftCard.ButtonsTitle' | translate }}<span class="mxn-fee mxn-fee_skin-{{skin.skin}} mxn-fee_theme-1 mxn-fee_ml-1 mxn-fee_sz-1" *ngIf="fee && fee.formatted_value">
        {{
          'GiftCard.FeeTitle' | translate: {value: fee.formatted_value}
        }}
    </span>
    </h6>
  </div>
  <div class="card-buttons__body">
    <div class="card-buttons__buttons">
      <div class="card-buttons__buttons-row card-buttons__buttons-row_sz-{{sz}}">
        <div class="card-buttons__buttons-item card-buttons__buttons-item_item card-buttons__buttons-item_item_sz-{{sz}}" *ngFor="let value of (prices | pricesSort)">
            <span
              [ngClass]="{'f-active': currPrice === value && !currCustomValue}"
              (click)="onPriceClick(value)"
              class="mxn-btn card-buttons__btn card-buttons__btn_theme-{{theme}} card-buttons__btn_skin-{{skin.skin}} card-buttons__btn_sz-{{sz}}">
              {{ value | money }}
            </span>
        </div>
        <div class="card-buttons__buttons-item card-buttons__buttons-item_custom card-buttons__buttons-item_custom_sz-{{sz}}" *ngIf="custom">
          <div
            [ngClass]="{'f-active': showCustomInput}"

            class="card-buttons__i-popover" [appClickOutside]="showCustomInput" (clickOutside)="onPopoverOutsideClick()">
            <div class="card-buttons__i-popover-wrap">
              <div class="card-buttons__i-popover-row">
                <input type="number"
                       [appMaxInputValue]="
                            prices_range && prices_range[1] ? prices_range[1] / 100 : 10000000
                          "
                       [maxInputValuePattern]="maxValuePattern"
                       [(ngModel)]="currCustomValue"
                       [required]="showCustomInput"
                       [ngClass]="{'f-error':  prices_range && prices_range[0] && (currCustomValue * 100) < prices_range[0] && submitted}"
                       name="custom_price"
                       autocomplete="off"
                       class="mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 card-buttons__i-popover-input" [appFocusInput]="showCustomInput">
                <div class="card-buttons__i-popover-icon card-buttons__i-popover-icon_skin-{{skin.skin}} mxn-cur-p" (click)="onCustomValueSubmit()">
                  <svg-icon src="/assets/svg/check.svg"></svg-icon>
                </div>
              </div>
              <div class="card-buttons__i-popover-row" *ngIf="prices_range && prices_range[0]">
                <span class="card-buttons__i-popover-message">
                  Минимум: {{prices_range[0] | money}}
                </span>
              </div>
            </div>
          </div>
          <span
            [ngClass]="{'f-active': showCustomInput || currCustomValue}"
            (click)="onCustomValueClick()"
            class="mxn-btn card-buttons__btn card-buttons__btn_theme-{{theme}} card-buttons__btn_skin-{{skin.skin}} card-buttons__btn_sz-{{sz}}">
              <ng-template [ngIf]="!currCustomValue">
                {{"Common.CustomNominal" | translate}}
              </ng-template>
              <ng-template [ngIf]="currCustomValue">
                {{(currCustomValue * 100) | money}}
              </ng-template>
            </span>
        </div>
        <div
          *ngIf="route"
          class="card-buttons__buttons-item card-buttons__buttons-item_full-width">
            <span
              routerLink="{{route.link}}" [queryParams]="{price: price}"
              class="mxn-btn mxn-btn_ta-c mxn-btn_full-width card-buttons__l-btn">
              {{ route.text }}
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
