<div class="widget-popup" *ngIf="state.show" [ngClass]="{'f-active': loaded}" @showAnimationTrigger>
  <div class="widget-popup__overlay" (click)="onClose()"></div>
  <div class="widget-popup__inner">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <iframe [@showHideIframeAnimationTrigger]="loaded" [src]="state.url | safe: 'resourceUrl'" allowpaymentrequest allow="payment" frameborder="0" class="widget-popup__iframe"
        (load)="onIframeLoad()">
    </iframe>
  </div>
</div>
