<div class="order order_page">
  <section class="section section_theme-1 section_sz-2 section_bg-2">
    <app-b-result
      [title]="('Success.Thx' | translate) + '<br/>' + ('Success.SendStatic' | translate)"
      [sub_title]="'Success.ThxText' | translate"
      [status]="status"
    >
    </app-b-result>
  </section>
</div>
