<nav class="nav">
  <div class="nav__head">
    <button type="button" class="mxn-btn nav__btn" (click)="showNav = true" >
      <svg-icon src="/assets/svg/burger.svg"></svg-icon>
    </button>
  </div>
  <div class="nav__nav" [ngClass]="{'f-active': showNav}" [appClickOutside]="showNav" (clickOutside)="showNav = false">
    <div class="nav__list">
      <ng-template ngFor [ngForOf]="nav" let-item>
        <div class="nav__item">
          <a [href]="item.route" [routerLink]="item.route" class="nav__link">
            {{item.name | multilang}}
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
