<app-layout [showLogo]="!isDesktop" >
  <section class="mxn-section mxn-section_mb-2">
    <div class="container container_gap-1">
      <app-company-heading [showLogo]="isDesktop" [banner]="bannerCert"></app-company-heading> 
    </div>
  </section>
  <section class="mxn-section mxn-section_mb-2">
    <app-tabs uuid="index_tabs" headGap="1" [activeTab]="activeTab" [minh]="580">
      <app-tabs-tab [tabTitle]="'Tabs.Buy' | translate" uuid="gifts" gap="1" url="/">
        <app-gifts (giftsFetched)="onGiftsFetched($event)"></app-gifts>
      </app-tabs-tab>
    </app-tabs>
  </section>
</app-layout>
