<div class="tabs tabs_skin-{{skin.skin}}" *ngIf="tabs && tabs.length" #tabsTmp [ngStyle]="{'min-height.px': minh}">
  <div class="tabs__head tabs__head_mb-{{ headMb }}">
    <div class="container container_gap-{{headGap}}">
      <div class="tabs__buttons-wrap">
        <app-scroll [itemClick$]="itemClick$" [options]="{'scrollOnClick': true}">
          <div class="tabs__buttons">
            <div
              class="tabs__buttons-item tabs__buttons-item_mr-{{ btnItemMr }}"
              *ngFor="let tab of tabs"
            >
              <div
                *ngIf="!tab.url"
                class="tabs__btn tabs__btn_sz-{{ sz }} tabs__btn_theme-{{ theme }}"
                (click)="onTabClick($event, tab)"
                [ngClass]="{ 'f-active': tab.show$ | async }"
              >
                {{ tab.title }}
              </div>
              <a
                *ngIf="tab.url"
                [href]="tab.url"
                [routerLink]="tab.url"
                class="tabs__btn tabs__btn_sz-{{ sz }} tabs__btn_theme-{{ theme }}"
                (click)="onTabClick($event, tab)"
                [ngClass]="{ 'f-active': tab.show$ | async }"
              >
                {{ tab.title }}
              </a>
            </div>
          </div>
        </app-scroll>
      </div>
    </div>
  </div>
  <div class="tabs__body tabs__body_theme-{{ theme }}">
    <div class="container container_gap-{{bodyGap}}">
      <ng-content></ng-content>
    </div>
  </div>
</div>
