
<new-app-header></new-app-header>

<div class="container">
    <h1 class="header-main-title">
      Подарочный сертификат
во все рестораны Москвы
    </h1>
  </div>

<main class="main-content">
  <div class="container">

<div class="description">
    Сертификат позволит вам оплатить любые блюда и напитки из основного меню, приобрести продукцию собственного производства, организовать семейные или деловые мероприятия, мастер-классы
  </div>
  
  <div class="section-white">
    <div class="tabs tabs--one">
      <div class="menu-container">
        <ul class="menu" ngbNav #nav="ngbNav" [(activeId)]="active">
          <li [ngbNavItem]="1" class="tab-link">
            <a ngbNavLink>В подарок</a>
            <ng-template ngbNavContent>
              <div class="left">
                <div class="cert-info-title">
                  <div class="text">Номинал</div>
                  <div class="link" (click)="openModal()">Пример сертификата</div>
                </div>
                <ul class="list-money" *ngIf="service.certList">
                  <li class="list-item active" *ngFor="let i of service.certList.prices">{{i}} р</li>
                  <li class="list-item">15 000 р</li>
                  <li class="list-item">10 000 р</li>
                  <li class="list-item">5 000 р</li>
                  <li class="list-item">Свой номинал</li>
                </ul>
                <div class="cert-count-container">
                  <svg
                    class="btn-minus"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.06418 9.5C0.781945 9.5 0.511265 9.39464 0.311692 9.20711C0.112119 9.01957 0 8.76522 0 8.5V7.5C0 7.23478 0.112119 6.98043 0.311692 6.79289C0.511265 6.60536 0.781945 6.5 1.06418 6.5H14.9358C15.2181 6.5 15.4887 6.60536 15.6883 6.79289C15.8879 6.98043 16 7.23478 16 7.5V8.5C16 8.76522 15.8879 9.01957 15.6883 9.20711C15.4887 9.39464 15.2181 9.5 14.9358 9.5H1.06418Z"
                      fill="#A8A8A8"
                    />
                  </svg>
  
                  <div class="label">1 сертификат</div>
                  <svg
                    class="btn-plus"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46787 16C7.18561 16 6.91492 15.8879 6.71533 15.6883C6.51574 15.4887 6.40362 15.2181 6.40362 14.9358V9.59574H1.06425C0.781996 9.59574 0.511299 9.48362 0.311713 9.28405C0.112126 9.08448 0 8.8138 0 8.53156V7.46738C0 7.18514 0.112126 6.91446 0.311713 6.71488C0.511299 6.51531 0.781996 6.40319 1.06425 6.40319H6.40362V1.06418C6.40362 0.781945 6.51574 0.511265 6.71533 0.311692C6.91492 0.112119 7.18561 0 7.46787 0L8.53213 0C8.81438 0 9.08508 0.112119 9.28467 0.311692C9.48425 0.511265 9.59638 0.781945 9.59638 1.06418V6.40319H14.9357C15.218 6.40319 15.4887 6.51531 15.6883 6.71488C15.8879 6.91446 16 7.18514 16 7.46738V8.53156C16 8.8138 15.8879 9.08448 15.6883 9.28405C15.4887 9.48362 15.218 9.59574 14.9357 9.59574H9.59638V14.9348C9.59638 15.217 9.48425 15.4877 9.28467 15.6872C9.08508 15.8868 8.81438 15.9989 8.53213 15.9989L7.46787 16Z"
                      fill="#A8A8A8"
                    />
                  </svg>
                </div>
                <div class="text">
                  <p class="receiver">Получатель</p>
                  <div
                    class="form-group"
                    [class.invalid]="!isValid && model.name == ''"
                  >
                    <input
                      type="text"
                      class="form-input"
                      placeholder="От кого"
                      [(ngModel)]="model.name"
                      [class.touched]="model.name !== ''"
                    />
                    <div class="error-label">Поле не заполнено</div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-input"
                      placeholder="Кому"
                      [(ngModel)]="model.message"
                      [class.touched]="model.message !== ''"
                    />
                    <div class="error-label">Поле не заполнено</div>
                  </div>
                  <div
                    class="form-group"
                    [class.invalid]="!isValid && !validateEmail()"
                  >
                    <input
                      type="text"
                      class="form-input"
                      placeholder="Email получателя"
                      [(ngModel)]="model.email"
                      [class.touched]="model.email !== ''"
                    />
                    <div class="error-label">Поле заполнено неверно</div>
                  </div>
                  <div
                    class="form-group"
                    [class.invalid]="!isValid && model.phone.length < 12"
                  >
                    <input
                      type="text"
                      class="form-input"
                      placeholder="Телефон получателя"
                      [(ngModel)]="model.phone"
                      (focus)="model.phone == '' ? (model.phone = '+7') : ''"
                      [class.touched]="model.phone !== ''"
                    />
                    <div class="error-label">Поле заполнено неверно</div>
                  </div>
                  <div
                    class="form-group"
                    [class.invalid]="!isValid && model.message == ''"
                  >
                    <textarea
                      class="form-input form-textarea"
                      placeholder="Сообщение"
                      [(ngModel)]="model.message"
                      [class.touched]="model.name !== ''"
                    ></textarea>
                    <div class="error-label">Поле не заполнено</div>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="tabs-slider">
                  <ngx-slick-carousel
                    class="carousel"
                    #slickModal="slick-carousel"
                    [config]="slideConfig2"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)"
                  >
                    <div ngxSlickItem *ngFor="let slide of slider1" class="slide">
                      <img src="{{ slide.img }}" alt="" width="100%" />
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
              <div class="section-footer form-controls-row">
                <div class="form-group form-group__checkbox">
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="policy"
                    name="policy"
                    [(ngModel)]="enablePolicy"
                  />
                  <label for="policy"></label>
                  <span
                    >Я соглашаюсь с
                    <a href="" (click)="openDoc()">
                      Условиями обработки персональных данных
                    </a>
                  </span>
                </div>
                <a
                  href=""
                  class="btn btn-action"
                  (click)="send()"
                  [class.btn-action--active]="enablePolicy"
                >
                  <svg
                    width="25"
                    height="24"
                    viewBox="0 0 25 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16.5 9.50403H7.5C6.11929 9.50403 5 10.6233 5 12.004V19.004C5 20.3847 6.11929 21.504 7.5 21.504H16.5C17.8807 21.504 19 20.3847 19 19.004V12.004C19 10.6233 17.8807 9.50403 16.5 9.50403Z"
                      stroke="white"
                      stroke-width="3"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M7.06397 11.0041V9.38911V7.78111C7.04096 6.42754 7.55643 5.12024 8.49704 4.14662C9.43765 3.173 10.7264 2.61278 12.08 2.58911V2.58911C13.4335 2.61278 14.7223 3.173 15.6629 4.14662C16.6035 5.12024 17.119 6.42754 17.096 7.78111V10.4891V11.0031"
                      stroke="white"
                      stroke-width="3"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M12.5 12.504H11.5C10.9477 12.504 10.5 12.9517 10.5 13.504V16.605C10.5 17.1573 10.9477 17.605 11.5 17.605H12.5C13.0523 17.605 13.5 17.1573 13.5 16.605V13.504C13.5 12.9517 13.0523 12.504 12.5 12.504Z"
                      fill="white"
                    />
                  </svg>
  
                  <span> Оплатить 15 000 р </span>
                </a>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" class="tab-link">
            <a ngbNavLink>Корпоративный заказ</a>
            <ng-template ngbNavContent>
              <div class="left">
                <div class="cert-info-title">
                  <div class="text">Номинал</div>
                  <div class="link">Пример сертификата</div>
                </div>
                <ul class="list-money">
                  <li class="list-item active">20 000 р</li>
                  <li class="list-item">15 000 р</li>
                  <li class="list-item">10 000 р</li>
                  <li class="list-item">5 000 р</li>
                  <li class="list-item">Свой номинал</li>
                </ul>
                <div class="cert-count-container">
                  <svg
                    class="btn-minus"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.06418 9.5C0.781945 9.5 0.511265 9.39464 0.311692 9.20711C0.112119 9.01957 0 8.76522 0 8.5V7.5C0 7.23478 0.112119 6.98043 0.311692 6.79289C0.511265 6.60536 0.781945 6.5 1.06418 6.5H14.9358C15.2181 6.5 15.4887 6.60536 15.6883 6.79289C15.8879 6.98043 16 7.23478 16 7.5V8.5C16 8.76522 15.8879 9.01957 15.6883 9.20711C15.4887 9.39464 15.2181 9.5 14.9358 9.5H1.06418Z"
                      fill="#A8A8A8"
                    />
                  </svg>
  
                  <div class="label">1 сертификат</div>
                  <svg
                    class="btn-plus"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46787 16C7.18561 16 6.91492 15.8879 6.71533 15.6883C6.51574 15.4887 6.40362 15.2181 6.40362 14.9358V9.59574H1.06425C0.781996 9.59574 0.511299 9.48362 0.311713 9.28405C0.112126 9.08448 0 8.8138 0 8.53156V7.46738C0 7.18514 0.112126 6.91446 0.311713 6.71488C0.511299 6.51531 0.781996 6.40319 1.06425 6.40319H6.40362V1.06418C6.40362 0.781945 6.51574 0.511265 6.71533 0.311692C6.91492 0.112119 7.18561 0 7.46787 0L8.53213 0C8.81438 0 9.08508 0.112119 9.28467 0.311692C9.48425 0.511265 9.59638 0.781945 9.59638 1.06418V6.40319H14.9357C15.218 6.40319 15.4887 6.51531 15.6883 6.71488C15.8879 6.91446 16 7.18514 16 7.46738V8.53156C16 8.8138 15.8879 9.08448 15.6883 9.28405C15.4887 9.48362 15.218 9.59574 14.9357 9.59574H9.59638V14.9348C9.59638 15.217 9.48425 15.4877 9.28467 15.6872C9.08508 15.8868 8.81438 15.9989 8.53213 15.9989L7.46787 16Z"
                      fill="#A8A8A8"
                    />
                  </svg>
                </div>
                <div class="text">
                  <p class="receiver">Получатель</p>
                  <div
                    class="form-group"
                    [class.invalid]="!isValid && model.name == ''"
                  >
                    <input
                      type="text"
                      class="form-input"
                      placeholder="От кого"
                      [(ngModel)]="model.name"
                      [class.touched]="model.name !== ''"
                    />
                    <div class="error-label">Поле не заполнено</div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-input"
                      placeholder="Кому"
                      [(ngModel)]="model.message"
                      [class.touched]="model.message !== ''"
                    />
                    <div class="error-label">Поле не заполнено</div>
                  </div>
                  <div
                    class="form-group"
                    [class.invalid]="!isValid && !validateEmail()"
                  >
                    <input
                      type="text"
                      class="form-input"
                      placeholder="Email получателя"
                      [(ngModel)]="model.email"
                      [class.touched]="model.email !== ''"
                    />
                    <div class="error-label">Поле заполнено неверно</div>
                  </div>
                  <div
                    class="form-group"
                    [class.invalid]="!isValid && model.phone.length < 12"
                  >
                    <input
                      type="text"
                      class="form-input"
                      placeholder="Телефон получателя"
                      [(ngModel)]="model.phone"
                      (focus)="model.phone == '' ? (model.phone = '+7') : ''"
                      [class.touched]="model.phone !== ''"
                    />
                    <div class="error-label">Поле заполнено неверно</div>
                  </div>
                  <div
                    class="form-group"
                    [class.invalid]="!isValid && model.message == ''"
                  >
                    <textarea
                      class="form-input form-textarea"
                      placeholder="Сообщение"
                      [(ngModel)]="model.message"
                      [class.touched]="model.name !== ''"
                    ></textarea>
                    <div class="error-label">Поле не заполнено</div>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="tabs-slider"></div>
              </div>
              <div class="section-footer form-controls-row">
                <div class="form-group form-group__checkbox">
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="policy"
                    name="policy"
                    [(ngModel)]="enablePolicy"
                  />
                  <label for="policy"></label>
                  <span
                    >Я соглашаюсь с
                    <a href="" (click)="openDoc()">
                      Условиями обработки персональных данных
                    </a>
                  </span>
                </div>
                <a
                  href=""
                  class="btn btn-action"
                  (click)="send()"
                  [class.btn-action--active]="enablePolicy"
                >
                  <svg
                    width="25"
                    height="24"
                    viewBox="0 0 25 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16.5 9.50403H7.5C6.11929 9.50403 5 10.6233 5 12.004V19.004C5 20.3847 6.11929 21.504 7.5 21.504H16.5C17.8807 21.504 19 20.3847 19 19.004V12.004C19 10.6233 17.8807 9.50403 16.5 9.50403Z"
                      stroke="white"
                      stroke-width="3"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M7.06397 11.0041V9.38911V7.78111C7.04096 6.42754 7.55643 5.12024 8.49704 4.14662C9.43765 3.173 10.7264 2.61278 12.08 2.58911V2.58911C13.4335 2.61278 14.7223 3.173 15.6629 4.14662C16.6035 5.12024 17.119 6.42754 17.096 7.78111V10.4891V11.0031"
                      stroke="white"
                      stroke-width="3"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M12.5 12.504H11.5C10.9477 12.504 10.5 12.9517 10.5 13.504V16.605C10.5 17.1573 10.9477 17.605 11.5 17.605H12.5C13.0523 17.605 13.5 17.1573 13.5 16.605V13.504C13.5 12.9517 13.0523 12.504 12.5 12.504Z"
                      fill="white"
                    />
                  </svg>
  
                  <span> Оплатить 15 000 р </span>
                </a>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="tabs-content">
        <div class="tabs-content-item"></div>
        <div [ngbNavOutlet]="nav" class="tabs-content-item"></div>
      </div>
    </div>
  </div>
  

  <cert-list></cert-list>

  <section-item-single-cert></section-item-single-cert>
  

</div>
</main>
<new-app-footer></new-app-footer>

