@mobile: ~'(max-width: 1119px)';


.payment-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media @mobile {
    flex-direction: column;
  }
}

.buttons-block {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media @mobile {
    flex-direction: column;
    align-items: center;
    width: 100%;
    //padding: 0 10px;
  }
}

.buy-button {
  padding: 12px 20px;
  background: #ff3838;
  border-radius: 25px;
  white-space: nowrap;
  font-family: GraphikLCG;

  @media @mobile {
    width: calc(100% - 40px);
    text-align: center;
  }

}
.corpora {
  margin: 0;
  @media @mobile {
    margin: 25px 0;
  }
}

.fee {
  margin-left: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #A8A8A8;
  border-bottom: 1px dashed #A8A8A8;
  font-family: GraphikLCG;

  @media @mobile {
    margin: 24px 0;
  }
}

.licence {
  font-size: 14px;
  line-height: 20px;
  font-family: GraphikLCG;

  @media @mobile {
    text-align: center;
  }
}

.cert-description {
  color: black;
  max-width: 49%;

  @media @mobile {
    max-width: 100%;
  }
}
.cert-example {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 14px;

  cursor: pointer !important;
  color: #ff3838 !important;
  padding-bottom: 4px;
  border-bottom: 1px dashed #ff3838 !important;

  @media @mobile {
    display: none;
  }
}

.partners-block {
  width: 1120px;
  min-height: 50px;

  display: flex;
  flex-direction: column;

  color: white;
  font-family: 'GraphikLCG';

  //background: palegoldenrod;
  margin-top: 112px;

  @media @mobile {
    width: calc(100% - 0px);
    padding: 0 10px;
    margin-top: 44px;
  }

  .partners-header {

    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

  }
  .partners-description {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    max-width: 50%;
    margin-top: 20px;
    color: #A8A8A8;

    @media @mobile {
      max-width: 100%;
      font-size: 18px;
      line-height: 22px;
      margin-top: 16px;
    }
  }

  .partners-nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 50px;

    margin: 45px 0;

    .searchbar {
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: #f3f2ef;
      border-radius: 25px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
      -o-animation: fadein .5s; /* Opera < 12.1 */
      animation: fadein .5s;

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }

      /* Firefox < 16 */
      @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }

      /* Safari, Chrome and Opera > 12.1 */
      @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }

      /* Internet Explorer */
      @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }

      /* Opera < 12.1 */
      @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }

      .close-button {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 10px;
      }
      .input {
        width: 100%;
        border: none;
        outline-offset: -2px;
        box-sizing: border-box;
        border-radius: 25px;
        margin: 0 10px;

        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        //background-color: transparent;
        background-color: #f3f2ef;
        padding: 16px;
        outline: none !important;
        box-shadow: none !important;
        -webkit-appearance: none;
        font-family: GraphikLCG;
        color: black;
        &:focus {
          border: none;
          //background: #ffffff;
          background-color: #f3f2ef;
          padding: 13px;
        }
        &::placeholder {
          color: #a8a8a8;
          font-weight: normal;
          font-family: GraphikLCG;
        }
        &.touched {
          background: #f3f2ef;
        }
      }
    }

    .divider {
      height: 35px;
      width: 1px;

      background: #eeeeee;
      margin: 0 15px;
    }

    .filters {

      width: calc(100% - 155px);
      height: 50px;
      display: flex;
      align-items: center;

      order: 1;

      @media @mobile {
        order: 2;
        width: calc(100% - 65px);
      }

      .active-filter {
        background: #ff3838;
        color: white !important;
      }

      .filter-item {
        font-weight: 500;
        font-size: 16px;
        padding: 8px 16px;
        line-height: 20px;
        margin-right: 20px;
        border-radius: 100px;
        color: #a8a8a8;
        transition: all 0.3s ease-out;
        cursor: pointer;
        font-family: GraphikLCG;

        @media @mobile {
          font-size: 12px;
          line-height: 12px;
          padding: 6px 13px;
          margin-right: 12px;
        }
      }

      .filters-wrapper {
        width: 100%;
        //background: red;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        box-sizing: border-box;
        overflow: hidden;

        overflow-x: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        scroll-behavior: smooth;

        white-space: nowrap;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .desktop {
        @media @mobile {
          display: none;
        }
      }
      .mobile {

        display: none;

        @media @mobile {
          display: block;
        }
      }
    }

    .extended {
      width: 155px;
      display: flex;
      align-items: center;

      order: 2;

      @media @mobile {
        order: 1;
        width: 65px;
      }

      .search-button {
        height: 50px;
        width: 35px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .map-button {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .icon {
        height: 20px;
        width: 20px;
      }
      .label {
        font-family: 'GraphikLCG';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: white;

        margin-left: 15px;

        @media @mobile {
          display: none;
        }
      }

      .internal {
        @media @mobile {
          width: 0;
          margin: 0 5px;
        }
      }
    }

  }
  .partners-list {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 31px;

    @media @mobile {
      width: 100%;
      display: flex;
      gap: 0;
      align-items: center;
      justify-content: flex-start;

      box-sizing: border-box;
      overflow: hidden;

      overflow-x: auto;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      scroll-behavior: smooth;

      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .partner-item {
      height: 250px;
      width: 100%;
      border-radius: 16px;

      background-position: center !important;
      background-size: contain !important;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media @mobile {
        height: 80vw;
        width: auto;
        min-width: 80vw;
        margin-right: 12px;
      }

      .name {
        font-family: 'GraphikLCG';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: white;
        margin-top: 0;
        margin-left: 18px;
        margin-right: 39px;
        margin-bottom: 32px;
        overflow: hidden;
        white-space: normal;
      }

      //background: linear-gradient(180deg, rgba(23, 34, 73, 0) 50%, #172249 82.03%);
    }

    .advantage-item {
      height: 400px;
      width: 100%;
      border-radius: 16px;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .image-block {
        height: 55%;
        width: 100%;
        background-position: center !important;
        background-size: cover !important;
      }
      .text-block {
        height: 45%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        align-items: flex-start;
        justify-content: flex-start;

        .header {
          font-family: 'GraphikLCG';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: black;
          margin-top: 24px;
          margin-left: 32px;
          margin-right: 32px;
          white-space: normal;
        }
        .text {
          font-family: 'GraphikLCG';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #A8A8A8;
          margin-top: 8px;
          margin-left: 32px;
          margin-right: 32px;
          white-space: normal;
        }
      }

      @media @mobile {
        height: 80vw;
        width: auto;
        min-width: 80vw;
        margin-right: 12px;
      }
    }
  }

  .partners-empty {
    padding: 15px 0;
    text-align: center;
    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-bottom: 45px;

    @media @mobile {
      margin-bottom: 22px;
    }
  }

  .advantage-header, .how-it-works-header {

    margin-top: 112px;
    margin-bottom: 40px;
    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #EEEEEE;

    @media @mobile {
      margin-top: 44px;
    }
  }

  .how-it-works-list {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 52px;

    @media @mobile {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .how-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      font-family: 'GraphikLCG';
      color: white;

      .number {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        opacity: 0.2;
      }
      .text {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin-left: 16px;
      }

      .invisible {
        opacity: 0;
        @media @mobile {
          display: none;
        }
      }
      .gift {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 18px;
        line-height: 22px;

        @media @mobile {
          width: 100%;
          margin-left: 0;
        }
      }
    }

  }

  .faq-block {
    margin-top: 112px;
    margin-bottom: 40px;

    @media @mobile {
      margin-top: 44px;
    }
  }


}

.faq-header {
  height: auto;
  width: 100%;

  display: flex;
  align-items: flex-start;
  //background: palevioletred

  .faq-header-element {
    cursor: pointer;
    border-bottom: transparent solid 3px;

    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #A8A8A8;
    padding-bottom: 3px;

    @media @mobile {
      max-width: calc(50vw - 16px);
      font-size: 16px;
      line-height: 20px;
    }
  }

  .active-header {
    color: black;
    border-bottom: #ff3838 solid 3px;
  }
  .next {
    margin-left: 40px;
    @media @mobile {
      margin-left: 12px;
    }
  }
}
.faq-body {
  //margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 112px;

  @media @mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 0;
  }

  .faq-block-container {
    display: flex;
    flex-direction: column;
  }
}
.contact-body {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 112px;
  padding-bottom: 50px;

  @media @mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 0;
    padding-bottom: 20px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    @media @mobile {
      padding-top: 30px;
    }
  }
  .contact-text {
    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 62px;
    color: black;
    padding-top: 40px;

    @media @mobile {
      display: none;
    }
  }
}

.footer-block {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 112px;
  margin-bottom: 74px;

  @media @mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));

    margin-top: 44px;
    margin-bottom: 44px;
  }

  .right-footer {
    display: flex;
    justify-content: flex-end;

    @media @mobile {
      justify-content: flex-start;
    }
  }

  .program-block, .user-block, .contacts-block {
    display: flex;
    flex-direction: column;

    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #A8A8A8;
    cursor: pointer;

    @media @mobile {
      margin-left: 10px;
    }
  }
  .contacts-block {

    @media @mobile {
      margin-top: 30px;
    }

    .phone {
      color: white;
      margin-right: 5px;
    }
    .email {
      color: #FF6060;
    }
    .copyright {
      color: white;
    }
  }
  .contacts-block div {
    margin-top: 15px;
    @media @mobile {
      margin-top: 12px;
    }
  }
  .user-block div {
    margin-top: 15px;
    @media @mobile {
      margin-top: 12px;
    }
  }
  .program-block div {
    margin-top: 15px;
    @media @mobile {
      margin-top: 12px;
    }
  }
}




.modal-body {
  background-color: white;
  height: 76vh;
  @media @mobile {
    background-color: transparent;
    height: auto;
    padding: 0;
  }
  border-radius: 32px;
  border: unset;
  padding: 38px 32px 32px;
  .cerificate-list-container {
    padding-top: 0;
    padding-bottom: 0;
    .cert-list__item {
      margin-right: 21px;
      &:nth-child(4n) {
        margin-right: 0;
      }

      .tag {
        min-width: 99px;
        width: max-content;
      }
    }

    height: 88%;
    overflow: overlay;
    margin-right: -20px;
  }
  .filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .label {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      border-radius: 100px;
      justify-content: flex-start;

      .icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      span {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        font-family: GraphikLCG;
        color: #a8a8a8;
      }
      transition: all 0.3s ease-out;
      &--active {
        span {
          color: #ffffff;
        }
        .icon {
          path {
            fill: white;
          }
        }
        background: #ff3838;
        box-shadow: 0px 2px 6px rgba(255, 56, 56, 0.21);
        @media @mobile {
          background: transparent;
          box-shadow: none;
          .icon {
            path {
              fill: #ff3838;
            }
          }
        }
      }
    }
    .seacrh-block {
      margin-left: 40px;
      .icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
      @media @mobile {
        margin-left: 0;
        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }
    margin-bottom: 26px;
    @media @mobile {
      margin-bottom: 20px;
    }
  }
  .filter-item {
    @media @mobile {
      min-width: max-content;
    }
  }
  .cerificate-list-container {
    @media @mobile {
      height: auto;
      margin: 0;
      width: 100%;
    }
  }
  .filter-by-cook-list {
    @media @mobile {
      .filter-item {
        margin-right: 10px;
      }
      .devider {
        margin-right: 10px;
      }
    }
  }
  .filter-mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media @mobile {
      max-width: 154px;
      overflow: overlay;
      .filter-item {
        padding-left: 10px;
        padding-right: 10px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
    }
  }
  .cert-list {
    @media @mobile {
      width: 100%;
      padding: 0;
      flex-direction: column;
    }
    .cert-list__item {
      @media @mobile {
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
        height: calc(100vw - 54px);
      }
    }
  }
}


.tabsss {
  a {
    background: #fd264f;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
  }
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none; }

  .tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
  .tabs [class*=" tab"] [type="radio"]:hover,
  .tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f; }
  .tabs [class^="tab"] [type="radio"]:checked,
  .tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f; }
  .tabs [class^="tab"] [type="radio"]:checked + div,
  .tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1; }
  .tabs [class^="tab"] [type="radio"] + div,
  .tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
  .tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%; }
  .tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; }
  .tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; }
  .tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; }
}

.taaaabs {

  label, a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: border 0.3s;
    //border-bottom: 5px solid rgba(142, 68, 173, 0.2);
    //padding: 3px 2px;
  }
  label:hover, a:hover {
    //border-bottom-color: #9b59b6;
  }

  .layout {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    //grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  input[type=radio] {
    display: none;
  }

  .faq {
    width: 330px;
    @media @mobile {
      width: calc(50vw - 16px);
    }
  }
  .contact {
    width: 172px;
    @media @mobile {
      width: 115px;
    }
  }
  label.nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    border-bottom: transparent solid 3px;
    //background: #ecf0f1;
    user-select: none;
    transition: background 0.4s;
    padding-left: 0;

    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #A8A8A8;
    padding-bottom: 3px;

    @media @mobile {
      font-size: 16px;
      line-height: 20px;
    }
  }
  input[type=radio]:checked + .page + label.nav {
    //background: #9b59b6;
    //color: #ffffff;
    //padding-left: 20px;
    color: black;
    border-bottom: #ff3838 solid 3px;
  }
  label.nav span {
    padding-left: 0px;
    position: relative;
  }
  .page {
    grid-column-start: 0;
    grid-row-start: 2;
    grid-column-end: span 3;
    display: flex;
    align-items: center;

    @media @mobile {
      grid-column-start: 1;
    }
  }

  .page-contents > * {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  .page-contents > *:nth-child(1) {
    transition-delay: 0.4s;
  }
  .page-contents > *:nth-child(2) {
    transition-delay: 0.6s;
  }


  input[type=radio] + .page {
    transition: transform 0.5s;
    transform: translateX(1000%);
  }

  input[type=radio]:checked + .page {
    transform: translateX(0%);
  }
  input[type=radio]:checked + .page .page-contents > * {
    opacity: 1;
    transform: translateY(0px);
  }

  .page-contents {
    width: 100%;
    //width: 500px;
    margin: 0 auto;
    color: black;
  }
}
