<ng-container *ngIf="gift">
    <div class="layout layout_skin-{{skin.skin}} layout_theme-{{theme}} layout_bg_theme-{{bg_theme}}" [attr.style]="(skin || {}).vars | safe: 'style'">

      <div class="layout__wrap layout__wrap_theme-{{theme}}">

        <div style='background-image: url("assets/img/unsplash_8l_RuuZrOyY.png")' class="layout__head-image layout__head-image_skin layout__head-image_skin-{{skin.skin}}" *ngIf="skin_bg"></div>

        <div class="layout__inner layout__inner_theme-{{theme}}">

          <new-app-header></new-app-header>

          <div class="container">

            <h1 class="header-main-title">
              Подарочный сертификат
              в лучшие рестораны Москвы
            </h1>

          </div>

          <main class="main-content">

            <div class="container">

              <div class="description">
                Возможность сходить в любые рестораны, подключенные к программе. Сделайте подарок, которым точно воспользуются.
              </div>

              <div class="section-white" id="buy">
                <div class="tabs tabs--one">
                  <div class="menu-container">
                    <ul class="menu" ngbNav #nav="ngbNav" [(activeId)]="active">
                      <li [ngbNavItem]="1" class="tab-link">
                        <a ngbNavLink>В подарок</a>
                        <ng-template ngbNavContent>
                          <div class="left">
                            <div class="cert-info-title">
                              <div class="text">Выберите номинал сертификата </div>
                              <!--                    <div class="link" (click)="openModal()">Пример сертификата</div>-->
                            </div>
                            <ul class="list-money" *ngIf="gift.prices && gift.prices.length > 0">
                              <li
                                class="list-item"
                                *ngFor="let item of gift.prices"
                                [class.active]="item == model.price && !customPriceValue"
                                (click)="changePrice(item)"
                              >
                                {{ (item / 100).toLocaleString() }} р
                              </li>

                              <li
                                [class.active]="customPriceValue"
                                class="list-item list-item--custom" (click)="changeCustomPrice()">
                                <span *ngIf="!customPriceValue">Свой номинал</span>
                                <span *ngIf="customPriceValue">{{  customPriceValue.toLocaleString() }} р</span>
                                <div

                                  [ngClass]="{'f-active': customPrice,'invalid':!customPriceValid}"
                                  class="card-buttons__i-popover " (click)="prevent($event)">
                                  <div class="card-buttons__i-popover-wrap">
                                    <div class="card-buttons__i-popover-row">
                                      <input type="number"
                                             [(ngModel)]="customPriceValue"
                                             class="mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 card-buttons__i-popover-input"
                                             [appFocusInput]="customPrice" />
                                      <div class="card-buttons__i-popover-icon card-buttons__i-popover-icon_skin-{{skin.skin}} mxn-cur-p" (click)="onCustomValueSubmit()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9">
                                          <path fill="#FFF" fill-rule="evenodd" d="M4.252 8.66c.195.195.512.195.707 0l6.673-6.673c.195-.195.195-.511 0-.707l-.707-.707c-.196-.195-.512-.195-.708 0l-5.61 5.613-2.824-2.824c-.196-.195-.512-.195-.708 0l-.707.707c-.195.195-.195.512 0 .707L4.252 8.66z"></path>
                                        </svg>
                                      </div>
                                    </div>
                                    <div class="card-buttons__i-popover-row" >
                        <span class="card-buttons__i-popover-message" *ngIf="minPrice">
                          Минимум: {{ (minPrice / 100).toLocaleString() }} р
                        </span>
                                    </div>
                                  </div>
                                </div>





                              </li>
                            </ul>
                            <div class="cert-count-container">
                              <svg
                                class="btn-minus"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                (click)="delCert()"
                              >
                                <path
                                  d="M1.06418 9.5C0.781945 9.5 0.511265 9.39464 0.311692 9.20711C0.112119 9.01957 0 8.76522 0 8.5V7.5C0 7.23478 0.112119 6.98043 0.311692 6.79289C0.511265 6.60536 0.781945 6.5 1.06418 6.5H14.9358C15.2181 6.5 15.4887 6.60536 15.6883 6.79289C15.8879 6.98043 16 7.23478 16 7.5V8.5C16 8.76522 15.8879 9.01957 15.6883 9.20711C15.4887 9.39464 15.2181 9.5 14.9358 9.5H1.06418Z"
                                  fill="#A8A8A8"
                                />
                              </svg>

                              <div class="label">{{ model.certCount }} {{declOfNum(model.certCount,certStrings)}}</div>
                              <svg
                                class="btn-plus"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                (click)="addCert()"
                              >
                                <path
                                  d="M7.46787 16C7.18561 16 6.91492 15.8879 6.71533 15.6883C6.51574 15.4887 6.40362 15.2181 6.40362 14.9358V9.59574H1.06425C0.781996 9.59574 0.511299 9.48362 0.311713 9.28405C0.112126 9.08448 0 8.8138 0 8.53156V7.46738C0 7.18514 0.112126 6.91446 0.311713 6.71488C0.511299 6.51531 0.781996 6.40319 1.06425 6.40319H6.40362V1.06418C6.40362 0.781945 6.51574 0.511265 6.71533 0.311692C6.91492 0.112119 7.18561 0 7.46787 0L8.53213 0C8.81438 0 9.08508 0.112119 9.28467 0.311692C9.48425 0.511265 9.59638 0.781945 9.59638 1.06418V6.40319H14.9357C15.218 6.40319 15.4887 6.51531 15.6883 6.71488C15.8879 6.91446 16 7.18514 16 7.46738V8.53156C16 8.8138 15.8879 9.08448 15.6883 9.28405C15.4887 9.48362 15.218 9.59574 14.9357 9.59574H9.59638V14.9348C9.59638 15.217 9.48425 15.4877 9.28467 15.6872C9.08508 15.8868 8.81438 15.9989 8.53213 15.9989L7.46787 16Z"
                                  fill="#A8A8A8"
                                />
                              </svg>
                            </div>
                            <div class="text">
                              <p class="receiver">Получатель</p>
                              <div class="form-group" [class.invalid]="!isValid && model.name == ''">
                                <input
                                  type="text"
                                  class="form-input"
                                  placeholder="От кого"
                                  [(ngModel)]="model.name"
                                  [class.touched]="model.name !== ''"
                                />
                                <div class="error-label">Поле не заполнено</div>
                              </div>
                              <div class="form-group" [class.invalid]="!isValid && model.person == ''">
                                <input
                                  type="text"
                                  class="form-input"
                                  placeholder="Кому"
                                  [(ngModel)]="model.person"
                                  [class.touched]="model.person !== ''"

                                />
                                <div class="error-label">Поле не заполнено</div>
                              </div>
                              <div class="form-group" [class.invalid]="!isValid && !validateEmail()">
                                <input
                                  type="text"
                                  class="form-input"
                                  placeholder="Email получателя"
                                  [(ngModel)]="model.email"
                                  [class.touched]="model.email !== ''"
                                />
                                <div class="error-label">Поле заполнено неверно</div>
                              </div>
                              <div class="form-group" [class.invalid]="!isValid && (model.phone.length < 11 || !validatePhone())">
                                <input
                                  type="text"
                                  class="form-input"
                                  placeholder="Телефон получателя"
                                  [(ngModel)]="model.phone"
                                  (focus)="model.phone == '' ? (model.phone = '+7') : ''"
                                  [class.touched]="model.phone !== ''"
                                />
                                <div class="error-label">Поле заполнено неверно</div>
                              </div>
                              <div class="form-group" [class.invalid]="!isValid && model.message == ''">
                      <textarea
                        class="form-input form-textarea"
                        placeholder="Текст поздравления"
                        [(ngModel)]="model.message"
                        [class.touched]="model.name !== ''"
                      ></textarea>
                                <div class="error-label">Поле не заполнено</div>
                              </div>
                            </div>
                          </div>
                          <div class="right">
                            <div class="tabs-slider">
                              <ngx-slick-carousel
                                class="carousel"
                                #slickModal="slick-carousel"
                                [config]="slideConfig2"
                              >
                                <div
                                  ngxSlickItem
                                  class="slide card__wrap"
                                  [attr.style]="(skin || {}).vars | safe: 'style'"
                                >
                                  <div
                                    class="card  card_skin-{{ skin ? skin.skin : 'default' }} card_theme-{{
                            theme
                          }}"
                                    *ngIf="gift.image"
                                    [ngStyle]="{
                            'background-image':
                              gift.image && gift.image.path ? 'url(' + gift.image.path + ')' : ''
                          }"
                                  >
                                    <div class="card__content">
                                      <div class="card__head card__head_sz-2">
                                        <div class="card__head-row card__head-row_sz-2">
                                          <h4 class="card__head-title card__head-title_sz-2">
                                            Подарочный сертификат
                                          </h4>
                                        </div>
                                        <div class="card__head-row card__head-row_sz-2">
                                          <h4
                                            class="card__title card__title_sz-2"
                                            *ngIf="gift.name_variant"
                                          >
                                            {{ gift.name_variant | multilang }}
                                          </h4>
                                        </div>
                                      </div>
                                      <div class="card__table card__table_sz-2">
                                        <div class="card__table-row">
                                          <div class="card__table-td card__table-td_sz-2">
                                            <div class="card__table-heading card__table-heading_sz-2">
                                              Номинал
                                            </div>
                                            <div class="card__table-body">
                                              <div class="card__table-value-row">
                                      <span
                                        class="card__table-value card__table-value_sz-2"

                                      >
                                     <font *ngIf="model.price">
                                      {{ (model.price / 100).toLocaleString() }} р
                                     </font>
                                     <font *ngIf="!model.price">
                                     ...
                                     </font>
                                      </span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card__table-td card__table-td_sz-2">
                                            <div class="card__table-heading card__table-heading_sz-2">
                                              Действителен до
                                            </div>
                                            <div class="card__table-value card__table-value_sz-2" *ngIf="lastDate">
                                              {{ lastDate | date: 'dd.MM.yyyy' }}
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ngx-slick-carousel>
                            </div>
                          </div>
                          <div class="section-footer form-controls-row">
                            <div class='payment-block' style=''>

                              <div class='buttons-block'>
                                <a
                                  href=""
                                  class='buy-button'
                                  (click)="pay($event)"
                                  [class.btn-action--active]="enablePolicy"
                                >
                                  <span> Отправить заявку </span>
                                </a>
                                <span class='fee'>
                        Сервисный сбор
                      </span>
                              </div>
                              <div class='licence'>
                      <span style='color: black'
                      >Я соглашаюсь с
                      <a href="" style='color: lightskyblue' (click)="openDoc()"> Условиями обработки персональных данных </a>
                    </span>
                              </div>

                            </div>
                            <!--                  <div class="form-group form-group__checkbox">-->
                            <!--                    <input-->
                            <!--                      type="checkbox"-->
                            <!--                      class="form-checkbox"-->
                            <!--                      id="policy"-->
                            <!--                      name="policy"-->
                            <!--                      [(ngModel)]="enablePolicy"-->
                            <!--                    />-->
                            <!--                    <label for="policy"></label>-->
                            <!--                    <span-->
                            <!--                      >Я соглашаюсь с-->
                            <!--                      <a href="" (click)="openDoc()"> Условиями обработки персональных данных </a>-->
                            <!--                    </span>-->
                            <!--                  </div>-->
                            <!--                  <a-->
                            <!--                    href=""-->
                            <!--                    class="btn btn-action"-->
                            <!--                    (click)="pay($event)"-->
                            <!--                    [class.btn-action&#45;&#45;active]="enablePolicy"-->
                            <!--                  >-->
                            <!--                    <svg-->
                            <!--                      width="25"-->
                            <!--                      height="24"-->
                            <!--                      viewBox="0 0 25 24"-->
                            <!--                      fill="none"-->
                            <!--                      xmlns="http://www.w3.org/2000/svg"-->
                            <!--                    >-->
                            <!--                      <path-->
                            <!--                        d="M16.5 9.50403H7.5C6.11929 9.50403 5 10.6233 5 12.004V19.004C5 20.3847 6.11929 21.504 7.5 21.504H16.5C17.8807 21.504 19 20.3847 19 19.004V12.004C19 10.6233 17.8807 9.50403 16.5 9.50403Z"-->
                            <!--                        stroke="white"-->
                            <!--                        stroke-width="3"-->
                            <!--                        stroke-miterlimit="10"-->
                            <!--                      />-->
                            <!--                      <path-->
                            <!--                        d="M7.06397 11.0041V9.38911V7.78111C7.04096 6.42754 7.55643 5.12024 8.49704 4.14662C9.43765 3.173 10.7264 2.61278 12.08 2.58911V2.58911C13.4335 2.61278 14.7223 3.173 15.6629 4.14662C16.6035 5.12024 17.119 6.42754 17.096 7.78111V10.4891V11.0031"-->
                            <!--                        stroke="white"-->
                            <!--                        stroke-width="3"-->
                            <!--                        stroke-miterlimit="10"-->
                            <!--                      />-->
                            <!--                      <path-->
                            <!--                        d="M12.5 12.504H11.5C10.9477 12.504 10.5 12.9517 10.5 13.504V16.605C10.5 17.1573 10.9477 17.605 11.5 17.605H12.5C13.0523 17.605 13.5 17.1573 13.5 16.605V13.504C13.5 12.9517 13.0523 12.504 12.5 12.504Z"-->
                            <!--                        fill="white"-->
                            <!--                      />-->
                            <!--                    </svg>-->

                            <!--                    <span> Оплатить {{(model.total / 100).toLocaleString()}} р </span>-->
                            <!--                  </a>-->
                          </div>
                        </ng-template>
                      </li>
                      <li [ngbNavItem]="2" class="tab-link">
                        <a ngbNavLink>Корпоративный заказ</a>
                        <ng-template ngbNavContent>
                          <div class="left" style='justify-content: flex-start'>
                            <div class="cert-info-title" >
                              <div class="text">Оставьте заявку, и с вами свяжется менеджер.
                              </div>
                              <!--                    <div class="link" (click)="openModal()">Пример сертификата</div>-->
                            </div>

                            <div class="text">
                              <div class="form-group" [class.invalid]="!isValid && model.name == ''">
                                <input
                                  type="text"
                                  class="form-input"
                                  placeholder="Имя"
                                  [(ngModel)]="model.name"
                                  [class.touched]="model.name !== ''"
                                />
                                <div class="error-label">Поле не заполнено</div>
                              </div>

                              <div class="form-group" [class.invalid]="!isValid && (model.phone.length < 12 || !validatePhone())">
                                <input
                                  type="text"
                                  class="form-input"
                                  placeholder="Телефон"
                                  [(ngModel)]="model.phone"
                                  (focus)="model.phone == '' ? (model.phone = '+7') : ''"
                                  [class.touched]="model.phone !== ''"
                                />
                                <div class="error-label">Поле заполнено неверно</div>
                              </div>

                              <div class="form-group" [class.invalid]="!isValid && model.person == ''">
                                <input
                                  type="text"
                                  class="form-input"
                                  placeholder="Название компании"
                                  [(ngModel)]="model.person"
                                  [class.touched]="model.person !== ''"

                                />
                                <div class="error-label">Поле не заполнено</div>
                              </div>

                              <div class="form-group" [class.invalid]="!isValid && !validateEmail()">
                                <input
                                  type="text"
                                  class="form-input"
                                  placeholder="Email"
                                  [(ngModel)]="model.email"
                                  [class.touched]="model.email !== ''"
                                />
                                <div class="error-label">Поле заполнено неверно</div>
                              </div>

                              <div class="form-group" [class.invalid]="!isValid && model.message == ''">
                      <textarea
                        class="form-input form-textarea"
                        style='height: 220px'
                        placeholder="Текст поздравления"
                        [(ngModel)]="model.message"
                        [class.touched]="model.name !== ''"
                      ></textarea>
                                <div class="error-label">Поле не заполнено</div>
                              </div>
                            </div>

                            <div class='payment-block'>

                              <a
                                href=""
                                class='buy-button corpora'
                                (click)="pay($event)"
                                [class.btn-action--active]="enablePolicy"
                              >
                                <span> Отправить заявку </span>
                              </a>
                              <div class='licence'>
                      <span style='color: black'
                      >Я соглашаюсь с
                      <a href="" style='color: lightskyblue' (click)="openDoc()"> Условиями обработки персональных данных </a>
                    </span>
                              </div>

                            </div>
                          </div>

                          <div class="right">
                            <div class="tabs-slider">
                              <ngx-slick-carousel
                                class="carousel"
                                #slickModal="slick-carousel"
                                [config]="slideConfig2"
                              >
                                <div
                                  ngxSlickItem
                                  class="slide card__wrap"
                                  [attr.style]="(skin || {}).vars | safe: 'style'"
                                >
                                  <div
                                    class="card  card_skin-{{ skin ? skin.skin : 'default' }} card_theme-{{
                            theme
                          }}"
                                    *ngIf="gift.image"
                                    [ngStyle]="{
                            'background-image':
                              gift.image && gift.image.path ? 'url(' + gift.image.path + ')' : ''
                          }"
                                  >
                                    <div class="card__content">
                                      <div class="card__head card__head_sz-2">
                                        <div class="card__head-row card__head-row_sz-2">
                                          <h4 class="card__head-title card__head-title_sz-2">
                                            Подарочный сертификат
                                          </h4>
                                        </div>
                                        <div class="card__head-row card__head-row_sz-2">
                                          <h4
                                            class="card__title card__title_sz-2"
                                            *ngIf="gift.name_variant"
                                          >
                                            {{ gift.name_variant | multilang }}
                                          </h4>
                                        </div>
                                      </div>
                                      <div class="card__table card__table_sz-2">
                                        <div class="card__table-row">
                                          <div class="card__table-td card__table-td_sz-2">
                                            <div class="card__table-heading card__table-heading_sz-2">
                                              Номинал
                                            </div>
                                            <div class="card__table-body">
                                              <div class="card__table-value-row">
                                      <span
                                        class="card__table-value card__table-value_sz-2"

                                      >
                                     <font *ngIf="model.price">
                                      {{ (model.price / 100).toLocaleString() }} р
                                     </font>
                                     <font *ngIf="!model.price">
                                     ...
                                     </font>
                                      </span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card__table-td card__table-td_sz-2">
                                            <div class="card__table-heading card__table-heading_sz-2">
                                              Действителен до
                                            </div>
                                            <div class="card__table-value card__table-value_sz-2" *ngIf="lastDate">
                                              {{ lastDate | date: 'dd.MM.yyyy' }}
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ngx-slick-carousel>
                            </div>
                          </div>
                        </ng-template>
                      </li>
                    </ul>
                  </div>

                  <div style='display: flex; justify-content: space-between; align-items: flex-start; width: 100%; margin-bottom: 30px'>
                    <div class='cert-description'>
            <span *ngIf='nav.activeId === 1'>
              Напишите поздравление и выберите, как подарить сертификат: отправим на email вам или получателю.
            </span>
                      <span *ngIf='nav.activeId === 2'>
              Сделайте подарок сотрудникам вашей компании
              — поздравьте с важной датой, поблагодарите за отличную работу или компенсируйте затраты на питание.
            </span>
                    </div>
                    <div class='cert-example'
                         (click)="openModal()">
                      Пример сертификата
                    </div>
                  </div>

                  <div class="tabs-content">
                    <div class="tabs-content-item"></div>
                    <div [ngbNavOutlet]="nav" class="tabs-content-item"></div>
                  </div>
                </div>
              </div>

              <div class='partners-block'>

                <h2 class='partners-header'>
                  Подключенные рестораны
                </h2>

                <h3 class='partners-description'>
                  Сертификат дает возможность посетить рестораны Москвы высокого уровня — с качественной кухней и приятной атмосферой
                </h3>

                <div class='partners-nav-container' style=''>

                  <div class='filters' style=''>

                    <div class='divider mobile'></div>

                    <div class="filter-item"
                         [ngClass]='{ "active-filter": allFilters }'
                         (click)='toggleAll()'>
                      Все
                    </div>

                    <div class='divider desktop'></div>

                    <div class='filters-wrapper'>

                      <div *ngFor='let tag of tags'
                           class="filter-item"
                           [ngClass]='{ "active-filter": tagSelected(tag._uuid) }'
                           (click)="toggle(tag)">

                        {{tag.name.ru}}

                      </div>

                    </div>

                  </div>

                  <div class='extended'>

                    <div class='search-button'>
                      <svg class="icon" (click)="inputIsOpen = true" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.1842 14.8664C17.6963 14.8664 20.5434 12.0193 20.5434 8.50717C20.5434 4.99507 17.6963 2.14795 14.1842 2.14795C10.6721 2.14795 7.82495 4.99507 7.82495 8.50717C7.82495 12.0193 10.6721 14.8664 14.1842 14.8664Z" stroke="#A8A8A8" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M6.36893 16.1042L2 20.4732" stroke="#A8A8A8" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                      </svg>
                    </div>

                    <div class='divider internal'></div>

                    <div class='map-button'>
                      <svg class="icon" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 24.6917C11.7415 24.6917 11.5065 24.5716 11.342 24.3796C10.4961 23.3956 3 14.6837 3 9.88365C3 4.81965 7.04177 0.69165 12 0.69165C16.9582 0.69165 21 4.81965 21 9.88365C21 14.6596 13.5039 23.3956 12.658 24.3796C12.4935 24.5716 12.2585 24.6917 12 24.6917ZM12 2.51565C8.02872 2.51565 4.7859 5.82765 4.7859 9.88365C4.7859 13.0517 9.50914 19.3636 12 22.3876C14.4909 19.3876 19.2141 13.0517 19.2141 9.88365C19.2141 5.82765 15.9713 2.51565 12 2.51565Z" fill="#A8A8A8" stroke="#A8A8A8" stroke-width="0.3"/>
                        <path d="M11.9998 14.6118C9.50892 14.6118 7.48804 12.5478 7.48804 10.0038C7.48804 7.45975 9.50892 5.39575 11.9998 5.39575C14.4906 5.39575 16.5115 7.45975 16.5115 10.0038C16.5115 12.5478 14.4906 14.6118 11.9998 14.6118ZM11.9998 7.21975C10.4959 7.21975 9.27394 8.46775 9.27394 10.0038C9.27394 11.5398 10.4959 12.7878 11.9998 12.7878C13.5037 12.7878 14.7256 11.5398 14.7256 10.0038C14.7256 8.46775 13.5037 7.21975 11.9998 7.21975Z" fill="#A8A8A8"/>
                      </svg>
                      <span class='label'>Карта</span>
                    </div>

                  </div>

                  <div *ngIf='inputIsOpen' class='searchbar'>

                    <input
                      type="text"
                      class="input"
                      placeholder="От кого"
                      [(ngModel)]="restNameQuery"
                      (ngModelChange)="restNameUpdate.next($event)"/>

                    <div class='close-button' (click)='closeSearch()'>
                      <svg style='height: 35px; width: 35px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#AFA8A0" d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/></svg>
                    </div>

                  </div>

                </div>

                <div class='partners-list'>

                  <div *ngFor="let item of data" class='partner-item'
                       [ngStyle]="{'background-image':getBackgroundImage(item)}">
                    <div class='name'>{{item.name.ru}}</div>
                  </div>

                </div>

                <div *ngIf='!(data && data.length > 0)' class='partners-empty'>
                  Ресторанов по вашему запросу нет
                </div>

                <div class='advantage-header'>
                  Преимущества
                </div>

                <div class='partners-list'>

                  <div class='advantage-item'>
                    <div class='image-block' style='background-image: url("assets/img/advantage-1.png")'>
                    </div>
                    <div class='text-block'>
                      <div class='header'>
                        Уникальное впечатление
                      </div>
                      <div class='text'>
                        Подарок, который до вас еще не делали — получатель точно обрадуется.
                      </div>
                    </div>
                  </div>

                  <div class='advantage-item'>
                    <div class='image-block' style='background-image: url("assets/img/advantage-2.png")'>
                    </div>
                    <div class='text-block'>
                      <div class='header'>
                        Любой праздник
                      </div>
                      <div class='text'>
                        На день рождения, свадьбу или даже за успешное закрытие сделки бизнес-партнеру.
                      </div>
                    </div>
                  </div>

                  <div class='advantage-item'>
                    <div class='image-block' style='background-image: url("assets/img/advantage-3.png")'>
                    </div>
                    <div class='text-block'>
                      <div class='header'>
                        Многоразовая карта
                      </div>
                      <div class='text'>
                        Получатель сможет несколько раз воспользоваться одним сертификатом.
                      </div>
                    </div>
                  </div>

                  <div class='advantage-item'>
                    <div class='image-block' style='background-image: url("assets/img/advantage-4.png")'>
                    </div>
                    <div class='text-block'>
                      <div class='header'>
                        Сотни ресторанов
                      </div>
                      <div class='text'>
                        Большой выбор ресторанов. Каждый день добавляем новые.
                      </div>
                    </div>
                  </div>

                </div>

                <div class='how-it-works-header'>
                  Как это работает
                </div>

                <div class='how-it-works-list'>

                  <div class='how-item'>
                    <div class='number'>
                      01
                    </div>
                    <div class='text'>
                      Вы выбираете номинал сертификата и оплачиваете подарок.
                    </div>
                  </div>
                  <div class='how-item'>
                    <div class='number'>
                      02
                    </div>
                    <div class='text'>
                      Мы отправляем сертификат
                      на email вам или получателю. Если решите сами вручить сертификат, распечатайте его или пришлите ссылкой
                      в мессенджере.

                    </div>
                  </div>
                  <div class='how-item'>
                    <div class='number'>
                      03
                    </div>
                    <div class='text'>
                      Получатель выбирает
                      на сайте любой ресторан,
                      в который захочет сходить
                      по сертификату.
                    </div>
                  </div>
                  <div class='how-item'>
                    <div class='number'>
                      04
                    </div>
                    <div class='text'>
                      Ресторан принимает у гостя сертификат по номеру
                      или QR-коду.
                    </div>
                  </div>
                  <div class='how-item'>
                    <div class='number'>
                      05
                    </div>
                    <div class='text'>
                      Получатель посещает один
                      или несколько ресторанов
                      — и радуется вашему подарку.
                    </div>
                  </div>

                  <div class='how-item'>
                    <div class='number invisible'>
                      06
                    </div>
                    <div class='text gift'>
                      <a href='#buy' class='buy-button'>Подарить сертификат</a>
                    </div>
                  </div>

                  <div class='gift-item'>

                  </div>

                </div>

              </div>

<!--              <div class='tabsss'>-->
<!--                <div class="tabs">-->
<!--                  <div class="tab-2">-->
<!--                    <label for="tab2-1">One</label>-->
<!--                    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">-->
<!--                    <div>-->
<!--                      <h4>Tab One</h4>-->
<!--                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat id velit quis vestibulum. Nam id orci eu urna mollis porttitor. Nunc nisi ante, gravida at velit eu, aliquet sodales dui. Sed laoreet condimentum nisi a egestas.</p><p>Donec interdum ante ut enim consequat, quis varius nulla dapibus. Vivamus mollis fermentum augue a varius. Vestibulum in sapien at lectus gravida lobortis vulputate sed metus. Duis scelerisque justo et maximus efficitur. Donec eu eleifend quam. Curabitur aliquet commodo sapien eget vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum vel aliquet nunc, finibus posuere lorem. Suspendisse consectetur volutpat est ut ornare.</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="tab-2">-->
<!--                    <label for="tab2-2">Two</label>-->
<!--                    <input id="tab2-2" name="tabs-two" type="radio">-->
<!--                    <div>-->
<!--                      <h4>Tab Two</h4>-->
<!--                      <p>Quisque sit amet turpis leo. Maecenas sed dolor mi. Pellentesque varius elit in neque ornare commodo ac non tellus. Mauris id iaculis quam. Donec eu felis quam. Morbi tristique lorem eget iaculis consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean at tellus eget risus tempus ultrices. Nam condimentum nisi enim, scelerisque faucibus lectus sodales at.</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->



              <div class='faq-block'>

                <div class="section-white">

                  <div class='faq-header'>
                    <div class='faq-header-element'
                         [ngClass]='{"active-header": activeFaq === 0}'
                         (click)='activeFaq = 0'>
                      Часто задаваемые вопросы
                    </div>
                    <div class='faq-header-element next'
                         [ngClass]='{"active-header": activeFaq === 1}'
                         (click)='activeFaq = 1'>Задать вопрос</div>
                  </div>

                  <div *ngIf='activeFaq === 0' class='faq-body'>
                    <div class='faq-block-container'>

                      <app-faq-block [question]='question1'
                                     [description]='description1'>
                      </app-faq-block>

                      <app-faq-block [question]='question2'
                                     [description]='description2'>
                      </app-faq-block>

                      <app-faq-block [question]='question3'
                                     [description]='description4'>
                      </app-faq-block>

                      <app-faq-block [question]='question4'
                                     [description]='description4'>
                      </app-faq-block>

                    </div>
                    <div class='faq-block-container'>

                      <app-faq-block [question]='question5'
                                     [description]='description5'>
                      </app-faq-block>

                      <app-faq-block [question]='question6'
                                     [description]='description6'>
                      </app-faq-block>

                      <app-faq-block [question]='question7'
                                     [description]='description7'>
                      </app-faq-block>

                      <app-faq-block [question]='question8'
                                     [description]='description8'>
                      </app-faq-block>

                    </div>
                  </div>

                  <div *ngIf='activeFaq === 1' class='contact-body'>

                    <div class='contact-form'>

                      <div class="text">
                        <div class="form-group" [class.invalid]="!isValid && contactForm.name == ''">
                          <input
                            type="text"
                            class="form-input"
                            placeholder="Имя"
                            [(ngModel)]="contactForm.name"
                            [class.touched]="contactForm.name !== ''"
                          />
                          <div class="error-label">Поле не заполнено</div>
                        </div>
                        <div class="form-group" [class.invalid]="!isValid && (contactForm.phone.length < 11 || !validatePhone())">
                          <input
                            type="text"
                            class="form-input"
                            placeholder="Телефон"
                            [(ngModel)]="contactForm.phone"
                            (focus)="contactForm.phone == '' ? (contactForm.phone = '+7') : ''"
                            [class.touched]="contactForm.phone !== ''"
                          />
                          <div class="error-label">Поле заполнено неверно</div>
                        </div>
                        <div class="form-group" [class.invalid]="!isValid && !validateEmail()">
                          <input
                            type="text"
                            class="form-input"
                            placeholder="Email"
                            [(ngModel)]="contactForm.email"
                            [class.touched]="contactForm.email !== ''"
                          />
                          <div class="error-label">Поле заполнено неверно</div>
                        </div>
                        <div class="form-group" [class.invalid]="!isValid && contactForm.message == ''">
                          <textarea
                            class="form-input form-textarea"
                            placeholder="Ваш вопрос"
                            [(ngModel)]="contactForm.message"
                            [class.touched]="contactForm.name !== ''">
                          </textarea>
                          <div class="error-label">Поле не заполнено</div>
                        </div>
                        <a
                          href=""
                          class='buy-button corpora'
                          (click)="contact($event)"
                          [class.btn-action--active]="enablePolicy"
                        >
                          <span> Отправить </span>
                        </a>
                      </div>

                    </div>

                    <div class='contact-text'>
                      Есть вопросы?
                      Напишите нам!
                    </div>

                  </div>

                </div>
              </div>

              <div class='footer-block'>

                <div class='program-block'>
                  <div>Участвовать в программе</div>
                  <div>Проверить баланс карты</div>
                </div>
                <div class='user-block'>
                  <div>Корпоративным клиентам</div>
                  <div>Пользовательское соглашение</div>
                </div>
                <div class='right-footer' style=''>
                  <div class='contacts-block'>
                    <div>
                      <span class='phone'>8 495 120 42 64</span>
                      (8:00-23:00)
                    </div>
                    <div class='email'>support@lastick.ru</div>
                    <div class='copyright'>© Zapomni, 2022</div>
                  </div>
                </div>

              </div>

            </div>

          </main>



<!--          <new-app-footer  ></new-app-footer>-->

        </div>

      </div>

    </div>

</ng-container>
