<div class="gifts">
  <div class="gifts__head" *ngIf="tags && tags.length">
    <div class="gifts__head-row" [ngClass]="{ 'f-vh': showSearch }">
      <div class="gifts__head-item gifts__head-item_tags">
        <app-gifts-nav
          [tags]="tags"
          [activeTag]="currState.tag"
          (tagClick)="onTagClick($event)"
          (allClick)="onAllClick()"
         
        >
        </app-gifts-nav>
      </div>
      <div class="label label-map" (click)="toggleCard()"
        [class.label-map--active]="cardIsOpen"
        >
        <svg class="icon" fill="none" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 24.6917C11.7415 24.6917 11.5065 24.5716 11.342 24.3796C10.4961 23.3956 3 14.6837 3 9.88365C3 4.81965 7.04177 0.69165 12 0.69165C16.9582 0.69165 21 4.81965 21 9.88365C21 14.6596 13.5039 23.3956 12.658 24.3796C12.4935 24.5716 12.2585 24.6917 12 24.6917ZM12 2.51565C8.02872 2.51565 4.7859 5.82765 4.7859 9.88365C4.7859 13.0517 9.50914 19.3636 12 22.3876C14.4909 19.3876 19.2141 13.0517 19.2141 9.88365C19.2141 5.82765 15.9713 2.51565 12 2.51565Z"
            fill="#A8A8A8"
            stroke="#A8A8A8"
            stroke-width="0.3"
          ></path>
          <path
            d="M11.9998 14.6118C9.50892 14.6118 7.48804 12.5478 7.48804 10.0038C7.48804 7.45975 9.50892 5.39575 11.9998 5.39575C14.4906 5.39575 16.5115 7.45975 16.5115 10.0038C16.5115 12.5478 14.4906 14.6118 11.9998 14.6118ZM11.9998 7.21975C10.4959 7.21975 9.27394 8.46775 9.27394 10.0038C9.27394 11.5398 10.4959 12.7878 11.9998 12.7878C13.5037 12.7878 14.7256 11.5398 14.7256 10.0038C14.7256 8.46775 13.5037 7.21975 11.9998 7.21975Z"
            fill="#A8A8A8"
          ></path></svg>
          <span class="hidden-mobile">Карта</span>
      </div>
      <div class="gifts__head-item gifts__head-item_icon mxn-cur-p" (click)="onSearchClick()">
        <svg-icon src="/assets/svg/loupe.svg"></svg-icon>
      </div>
    </div>
    <div class="gifts__input-wrap" [ngClass]="{ 'f-active': showSearch }">
      <div class="gifts__input-inner">
        <input
          type="text"
          appNativeElementControl
          [appFocusInput]="showSearch"
          [(ngModel)]="currState.search"
          (ngModelChange)="onSearchChange()"
          placeholder="Поиск по сертификатам"
          class="gifts__input mxn-i-txt mxn-i-txt_full-width"
        />
        <div class="gifts__input-icon mxn-cur-p" (click)="onCloseSearchClick()">
          <svg-icon src="/assets/svg/close.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="gifts__body">
    <div class="gifts__empty-message" *ngIf="currState.name === 'search' && !_gifts.length">
      Ничего не найдено
    </div>
    <div *ngIf="cardIsOpen" class="main-map-container">
      <iframe src="https://snazzymaps.com/embed/254084" width="100%" height="100%" style="border:none;"></iframe>
    </div>
    <div
      class="cards"
      *ngIf="_gifts && _gifts.length && !cardIsOpen"
      infinite-scroll
      [infiniteScrollDistance]="5"
      [infiniteScrollDisabled]="infiniteScrollDisabled"
      (scrolled)="onInfiniteScroll()"
    >
      <div class="cards__list">
        <div class="cards__item" *ngFor="let gift of _gifts">
          <app-gift-card
            [gift]="gift"
            [name]="gift.name_variant | multilang"
            url="{{ gift.user_friendly_url || gift._uuid }}"
            [showRelated]="true"
            [showTable]="false"
            [logo]="(gift.entity_icons || [])[0]"
          ></app-gift-card>
        </div>
      </div>
    </div>
    <!-- <div class="cards"  >
      <div class="cards__list">
        <div class="cards__item" >
          
          <app-gift-card
           
          ></app-gift-card> 
        
        </div>
        <div class="cards__item" >
          
          <app-gift-card
           
          ></app-gift-card> 
        
        </div>
        <div class="cards__item" >
          
          <app-gift-card
           
          ></app-gift-card> 
        
        </div>
        <div class="cards__item" >
          
          <app-gift-card
           
          ></app-gift-card> 
        
        </div>
      </div>
    </div> -->
  </div>
</div>
