<div class="section-white">
    <div class="tabs tabs--two">
      <div class="menu-container" id="tabs-container2">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="menu">
            <li [ngbNavItem]="1" class="tab-link" >
              <a ngbNavLink>О ресторане</a>
              <ng-template ngbNavContent>
                <div class="left">
                    <div class="text">
                      <div class="text-container" [class.open]="isShown">
                        <p>Глен Баллис штурмует небеса вместе с талантливыми отличниками из Lucky Group (и примкнувшим к ним Александром Сысоевым): почти в унисон загремели Loro на Большой Никитской, где австралийский шеф расписывается в любви к итальянской классике, и Eva — упражнение на тему современной греческой кухни на Большой Грузинской (и это не говоря про запущенный с Аркадием Новиковым «№13» — овощной бастион на подступах к Патриаршим, — и петербургскую вылазку под названием Nama).
                        </p><p>Кажется, что такими темпами можно быстро выйти в тираж, но с «Евой» — порядок: классный интерьер (печь с изразцами, букеты, окна в пол, коммунальный стол из дуба, который застал еще Западную Римскую империю), солнечное настроение даже хмурой московской зимой, барная карта с вермутами, джинами, хересами, метаксой и коктейлями со специями и травами (очередная убедительная работа Максима Горелика и Андрея Пруцких) — ну и роллс-ройсовского качества еда Баллиса.
                        </p><p>Пробовать можно все, наши же фавориты пока такие: образцовый дзадзики с горячей лепешкой, тарамасалата с легким, как выдох, и очень свежим специфическим рыбным привкусом (его не спутать ни с чем), фрикадельки из баранины в томатном соусе и олимпийского уровня осьминог с томатами на гриле и тахини. Недешево, но эта инвестиция в себя в условиях наших широт оправдана на все сто.
                        </p> 
                      </div>
                      <div class="text-show" (click)="toggle()">
                        <font *ngIf="!isShown">Показать весь текст</font>
                        <font *ngIf="isShown">Свернуть</font>
                        
                      </div>
                      <div class="info-bottom">
                        <div class="link-container">
                          <a class="link">Меню ресторана</a>
                        </div>
                        <div class="contacts-list">
                          <div class="contacts-item">
                            <svg  class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M22.9972 32C21.9538 31.9983 20.9189 31.8134 19.9394 31.4539C15.4894 29.8277 11.4471 27.2516 8.0937 23.9047C4.74679 20.5513 2.17067 16.5089 0.544582 12.0588C0.0333456 10.6696 -0.121284 9.17439 0.0948468 7.70997C0.303332 6.31657 0.833309 4.99083 1.64282 3.83771C2.45233 2.68458 3.51916 1.73572 4.75884 1.06626C6.07197 0.358695 7.54172 -0.00788447 9.03332 0.000128599C9.26204 0.000876691 9.48364 0.079702 9.66145 0.223557C9.83925 0.367413 9.96261 0.567673 10.0111 0.791191L11.5812 8.11554C11.6152 8.27993 11.6075 8.45024 11.5588 8.61089C11.51 8.77153 11.4218 8.91739 11.3021 9.0351L8.61973 11.7135C11.1576 16.7514 15.2469 20.8407 20.2847 23.3786L22.9671 20.6962C23.0854 20.5783 23.2313 20.4917 23.3915 20.4444C23.5517 20.3971 23.7212 20.3905 23.8846 20.4252L31.2089 21.9953C31.4324 22.0438 31.6326 22.1671 31.7765 22.3449C31.9203 22.5227 31.9992 22.7443 31.9999 22.9731C32.0066 24.462 31.64 25.9288 30.9338 27.2396C30.2648 28.4794 29.3163 29.5465 28.1636 30.3563C27.0108 31.1662 25.6854 31.6966 24.2922 31.9056C23.8634 31.9686 23.4306 32.0001 22.9972 32ZM8.23023 2.04404C7.17954 2.16312 6.16943 2.51846 5.2756 3.08343C4.38176 3.64839 3.62738 4.40833 3.06899 5.30629C2.51059 6.20425 2.16267 7.21695 2.05129 8.2685C1.9399 9.32004 2.06795 10.3832 2.42584 11.3782C3.93947 15.5597 6.35405 19.3572 9.49856 22.5018C12.6431 25.6463 16.4406 28.061 20.622 29.5746C21.6167 29.9325 22.6795 30.0606 23.7308 29.9495C24.782 29.8383 25.7945 29.4907 26.6924 28.9328C27.5903 28.3748 28.3503 27.6209 28.9155 26.7275C29.4807 25.8342 29.8364 24.8245 29.956 23.7742L23.997 22.4872L21.1862 25.2981C21.0408 25.4435 20.8541 25.5408 20.6516 25.5767C20.4491 25.6126 20.2404 25.5854 20.0538 25.4988C14.0972 22.6916 9.30549 17.8956 6.50357 11.9363C6.41699 11.7498 6.38982 11.5411 6.42573 11.3385C6.46164 11.136 6.5589 10.9494 6.70434 10.804L9.51518 7.99307L8.23023 2.04404Z" fill="#FF3838"/>
                            </svg>
                              <div class="data">
                                <div class="title">
                                  Заказ столиков
                                </div>
                                <div class="descr">
                                    <a class="descr-link descr-link--tel" href="tel:+74951911888">+7 (495) 191 18 88</a>
                                </div>
                              </div>
                          </div>
                          <div class="contacts-item">
                            <svg  class="icon" width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M28.4156 6.9263C28.3581 6.85398 28.2978 6.78166 28.2349 6.70933C26.7621 4.9496 24.9273 3.52858 22.8556 2.54327C20.7839 1.55797 18.5242 1.03157 16.2307 1L16.0018 1H15.771C13.468 1.02999 11.1988 1.55893 9.11964 2.55042C7.04044 3.5419 5.20055 4.9724 3.72657 6.74349C3.68427 6.78861 3.64472 6.83624 3.60814 6.88612C1.27351 9.7397 -0.0014626 13.3144 1.25914e-06 17.0024C0.00146512 20.6905 1.27928 24.2642 3.61617 27.1159C3.65275 27.1658 3.6923 27.2134 3.7346 27.2585C5.20728 29.0279 7.04528 30.4573 9.1223 31.4484C11.1993 32.4394 13.4661 32.9688 15.767 33C15.9195 33 16.0741 33 16.2267 33C18.5188 32.9722 20.7781 32.4502 22.8503 31.4694C24.9226 30.4886 26.7592 29.0722 28.2349 27.3168C28.2978 27.2445 28.3581 27.1721 28.4156 27.0998C30.734 24.2513 32 20.6899 32 17.0161C32 13.3422 30.734 9.7808 28.4156 6.93232V6.9263ZM24.8746 16.5691C24.8496 14.1971 24.5073 11.8391 23.8568 9.55798C25.2814 9.10912 26.6422 8.47849 27.9057 7.68165C29.9026 10.2227 31.0288 13.3396 31.1176 16.5711L24.8746 16.5691ZM16.4435 1.90401C19.1153 2.17923 21.4399 4.94149 22.7828 8.98343C20.7165 9.55114 18.5861 9.85224 16.4435 9.8794V1.90401ZM15.5682 9.8794C13.4256 9.85224 11.2952 9.55114 9.22886 8.98343C10.5678 4.93546 12.8924 2.17321 15.5642 1.89798L15.5682 9.8794ZM15.5682 10.7553V16.5811H8.00636C8.02987 14.2954 8.35315 12.0227 8.9679 9.82114C11.1175 10.4146 13.3345 10.7292 15.5642 10.7573L15.5682 10.7553ZM15.5682 17.455V23.2809C13.3385 23.3089 11.1216 23.6236 8.97192 24.217C8.35716 22.0155 8.03388 19.7428 8.01037 17.457L15.5682 17.455ZM15.5682 24.1547V32.1301C12.8964 31.8549 10.5718 29.0927 9.22886 25.0507C11.2952 24.483 13.4256 24.1819 15.5682 24.1547ZM16.4435 24.1547C18.5861 24.1819 20.7165 24.483 22.7828 25.0507C21.4399 29.0927 19.1153 31.8549 16.4435 32.1301V24.1547ZM16.4435 23.2789V17.453H24.0013C23.9778 19.7394 23.6545 22.0128 23.0398 24.215C20.8907 23.6186 18.6735 23.3033 16.4435 23.2769V23.2789ZM16.4435 16.5791V10.7533C18.6735 10.7269 20.8907 10.4115 23.0398 9.81512C23.6545 12.0173 23.9778 14.2907 24.0013 16.5771L16.4435 16.5791ZM27.3417 7.00866C26.1706 7.73854 24.9129 8.31894 23.5978 8.73633C22.8747 6.2305 21.4428 3.98747 19.4746 2.27767C22.5203 3.00112 25.2672 4.65107 27.3376 7.00063L27.3417 7.00866ZM12.529 2.27767C10.5633 3.98637 9.13289 6.22713 8.40984 8.7303C7.0957 8.31147 5.83825 7.73187 4.66604 7.00465C6.73495 4.65248 9.48231 3.00086 12.529 2.27767ZM4.09794 7.67763C5.36048 8.47704 6.72064 9.11037 8.14487 9.56199C7.49415 11.8423 7.15185 14.1997 7.12711 16.5711H0.886101C0.975276 13.3385 2.10138 10.2204 4.09794 7.67763ZM7.13113 17.447C7.15586 19.8184 7.49816 22.1757 8.14888 24.4561C6.72442 24.9053 5.36413 25.5374 4.10196 26.3364C2.10476 23.7953 0.977281 20.6787 0.886101 17.447H7.13113ZM4.66604 27.0154C5.83825 26.2882 7.0957 25.7086 8.40984 25.2898C9.13394 27.7908 10.5643 30.0293 12.529 31.7364C9.48306 31.0149 6.73579 29.3654 4.66604 27.0154ZM19.4746 31.7364C21.44 30.0282 22.8704 27.7882 23.5938 25.2858C24.9089 25.7031 26.1666 26.2835 27.3376 27.0134C25.2672 29.363 22.5203 31.0129 19.4746 31.7364ZM27.9057 26.3324C26.6429 25.535 25.2828 24.9037 23.8588 24.4541C24.5093 22.173 24.8516 19.815 24.8766 17.443H31.1176C31.0288 20.6744 29.9026 23.7914 27.9057 26.3324Z" fill="#FF3838" stroke="#FF3838" stroke-width="0.2"/>
                              </svg>
                              
                              <div class="data">
                                <div class="title">
                                  Свяжитесь с нами
                                </div>
                                <div class="descr">
                                    <a class="descr-link" href="www.facebook.com/evagreekrestaurant">www.facebook.com/evagreekrestaurant</a>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="right">
          
          
                      
                    <div class="tabs-slider hidden-mobile">
                      <ngx-slick-carousel class="carousel" 
                                  #slickModal="slick-carousel" 
                                  [config]="slideConfig" 
                      >
                  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                        <img src="{{ slide.img }}" alt="" width="100%">
                  </div>
              </ngx-slick-carousel>
                    </div>
                  </div>
                 
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="tab-link">
              <a ngbNavLink>Как пользоваться?</a>
              <ng-template ngbNavContent>
                <div class="left">
                    <div class="text">
                      <div class="text-container" [class.open]="isShown">
                        <p>Глен Баллис штурмует небеса вместе с талантливыми отличниками из Lucky Group (и примкнувшим к ним Александром Сысоевым): почти в унисон загремели Loro на Большой Никитской, где австралийский шеф расписывается в любви к итальянской классике, и Eva — упражнение на тему современной греческой кухни на Большой Грузинской (и это не говоря про запущенный с Аркадием Новиковым «№13» — овощной бастион на подступах к Патриаршим, — и петербургскую вылазку под названием Nama).
                        </p><p>Кажется, что такими темпами можно быстро выйти в тираж, но с «Евой» — порядок: классный интерьер (печь с изразцами, букеты, окна в пол, коммунальный стол из дуба, который застал еще Западную Римскую империю), солнечное настроение даже хмурой московской зимой, барная карта с вермутами, джинами, хересами, метаксой и коктейлями со специями и травами (очередная убедительная работа Максима Горелика и Андрея Пруцких) — ну и роллс-ройсовского качества еда Баллиса.
                        </p><p>Пробовать можно все, наши же фавориты пока такие: образцовый дзадзики с горячей лепешкой, тарамасалата с легким, как выдох, и очень свежим специфическим рыбным привкусом (его не спутать ни с чем), фрикадельки из баранины в томатном соусе и олимпийского уровня осьминог с томатами на гриле и тахини. Недешево, но эта инвестиция в себя в условиях наших широт оправдана на все сто.
                        </p> 
                      </div>
                      <div class="text-show" (click)="toggle()">
                        <font *ngIf="!isShown">Показать весь текст</font>
                        <font *ngIf="isShown">Свернуть</font>
                        
                      </div>
                      <div class="info-bottom">
                        <div class="link-container">
                          <a class="link">Меню ресторана</a>
                        </div>
                        <div class="contacts-list">
                          <div class="contacts-item">
                            <svg  class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M22.9972 32C21.9538 31.9983 20.9189 31.8134 19.9394 31.4539C15.4894 29.8277 11.4471 27.2516 8.0937 23.9047C4.74679 20.5513 2.17067 16.5089 0.544582 12.0588C0.0333456 10.6696 -0.121284 9.17439 0.0948468 7.70997C0.303332 6.31657 0.833309 4.99083 1.64282 3.83771C2.45233 2.68458 3.51916 1.73572 4.75884 1.06626C6.07197 0.358695 7.54172 -0.00788447 9.03332 0.000128599C9.26204 0.000876691 9.48364 0.079702 9.66145 0.223557C9.83925 0.367413 9.96261 0.567673 10.0111 0.791191L11.5812 8.11554C11.6152 8.27993 11.6075 8.45024 11.5588 8.61089C11.51 8.77153 11.4218 8.91739 11.3021 9.0351L8.61973 11.7135C11.1576 16.7514 15.2469 20.8407 20.2847 23.3786L22.9671 20.6962C23.0854 20.5783 23.2313 20.4917 23.3915 20.4444C23.5517 20.3971 23.7212 20.3905 23.8846 20.4252L31.2089 21.9953C31.4324 22.0438 31.6326 22.1671 31.7765 22.3449C31.9203 22.5227 31.9992 22.7443 31.9999 22.9731C32.0066 24.462 31.64 25.9288 30.9338 27.2396C30.2648 28.4794 29.3163 29.5465 28.1636 30.3563C27.0108 31.1662 25.6854 31.6966 24.2922 31.9056C23.8634 31.9686 23.4306 32.0001 22.9972 32ZM8.23023 2.04404C7.17954 2.16312 6.16943 2.51846 5.2756 3.08343C4.38176 3.64839 3.62738 4.40833 3.06899 5.30629C2.51059 6.20425 2.16267 7.21695 2.05129 8.2685C1.9399 9.32004 2.06795 10.3832 2.42584 11.3782C3.93947 15.5597 6.35405 19.3572 9.49856 22.5018C12.6431 25.6463 16.4406 28.061 20.622 29.5746C21.6167 29.9325 22.6795 30.0606 23.7308 29.9495C24.782 29.8383 25.7945 29.4907 26.6924 28.9328C27.5903 28.3748 28.3503 27.6209 28.9155 26.7275C29.4807 25.8342 29.8364 24.8245 29.956 23.7742L23.997 22.4872L21.1862 25.2981C21.0408 25.4435 20.8541 25.5408 20.6516 25.5767C20.4491 25.6126 20.2404 25.5854 20.0538 25.4988C14.0972 22.6916 9.30549 17.8956 6.50357 11.9363C6.41699 11.7498 6.38982 11.5411 6.42573 11.3385C6.46164 11.136 6.5589 10.9494 6.70434 10.804L9.51518 7.99307L8.23023 2.04404Z" fill="#FF3838"/>
                            </svg>
                              <div class="data">
                                <div class="title">
                                  Заказ столиков
                                </div>
                                <div class="descr">
                                    <a class="descr-link descr-link--tel" href="tel:+74951911888">+7 (495) 191 18 88</a>
                                </div>
                              </div>
                          </div>
                          <div class="contacts-item">
                            <svg  class="icon" width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M28.4156 6.9263C28.3581 6.85398 28.2978 6.78166 28.2349 6.70933C26.7621 4.9496 24.9273 3.52858 22.8556 2.54327C20.7839 1.55797 18.5242 1.03157 16.2307 1L16.0018 1H15.771C13.468 1.02999 11.1988 1.55893 9.11964 2.55042C7.04044 3.5419 5.20055 4.9724 3.72657 6.74349C3.68427 6.78861 3.64472 6.83624 3.60814 6.88612C1.27351 9.7397 -0.0014626 13.3144 1.25914e-06 17.0024C0.00146512 20.6905 1.27928 24.2642 3.61617 27.1159C3.65275 27.1658 3.6923 27.2134 3.7346 27.2585C5.20728 29.0279 7.04528 30.4573 9.1223 31.4484C11.1993 32.4394 13.4661 32.9688 15.767 33C15.9195 33 16.0741 33 16.2267 33C18.5188 32.9722 20.7781 32.4502 22.8503 31.4694C24.9226 30.4886 26.7592 29.0722 28.2349 27.3168C28.2978 27.2445 28.3581 27.1721 28.4156 27.0998C30.734 24.2513 32 20.6899 32 17.0161C32 13.3422 30.734 9.7808 28.4156 6.93232V6.9263ZM24.8746 16.5691C24.8496 14.1971 24.5073 11.8391 23.8568 9.55798C25.2814 9.10912 26.6422 8.47849 27.9057 7.68165C29.9026 10.2227 31.0288 13.3396 31.1176 16.5711L24.8746 16.5691ZM16.4435 1.90401C19.1153 2.17923 21.4399 4.94149 22.7828 8.98343C20.7165 9.55114 18.5861 9.85224 16.4435 9.8794V1.90401ZM15.5682 9.8794C13.4256 9.85224 11.2952 9.55114 9.22886 8.98343C10.5678 4.93546 12.8924 2.17321 15.5642 1.89798L15.5682 9.8794ZM15.5682 10.7553V16.5811H8.00636C8.02987 14.2954 8.35315 12.0227 8.9679 9.82114C11.1175 10.4146 13.3345 10.7292 15.5642 10.7573L15.5682 10.7553ZM15.5682 17.455V23.2809C13.3385 23.3089 11.1216 23.6236 8.97192 24.217C8.35716 22.0155 8.03388 19.7428 8.01037 17.457L15.5682 17.455ZM15.5682 24.1547V32.1301C12.8964 31.8549 10.5718 29.0927 9.22886 25.0507C11.2952 24.483 13.4256 24.1819 15.5682 24.1547ZM16.4435 24.1547C18.5861 24.1819 20.7165 24.483 22.7828 25.0507C21.4399 29.0927 19.1153 31.8549 16.4435 32.1301V24.1547ZM16.4435 23.2789V17.453H24.0013C23.9778 19.7394 23.6545 22.0128 23.0398 24.215C20.8907 23.6186 18.6735 23.3033 16.4435 23.2769V23.2789ZM16.4435 16.5791V10.7533C18.6735 10.7269 20.8907 10.4115 23.0398 9.81512C23.6545 12.0173 23.9778 14.2907 24.0013 16.5771L16.4435 16.5791ZM27.3417 7.00866C26.1706 7.73854 24.9129 8.31894 23.5978 8.73633C22.8747 6.2305 21.4428 3.98747 19.4746 2.27767C22.5203 3.00112 25.2672 4.65107 27.3376 7.00063L27.3417 7.00866ZM12.529 2.27767C10.5633 3.98637 9.13289 6.22713 8.40984 8.7303C7.0957 8.31147 5.83825 7.73187 4.66604 7.00465C6.73495 4.65248 9.48231 3.00086 12.529 2.27767ZM4.09794 7.67763C5.36048 8.47704 6.72064 9.11037 8.14487 9.56199C7.49415 11.8423 7.15185 14.1997 7.12711 16.5711H0.886101C0.975276 13.3385 2.10138 10.2204 4.09794 7.67763ZM7.13113 17.447C7.15586 19.8184 7.49816 22.1757 8.14888 24.4561C6.72442 24.9053 5.36413 25.5374 4.10196 26.3364C2.10476 23.7953 0.977281 20.6787 0.886101 17.447H7.13113ZM4.66604 27.0154C5.83825 26.2882 7.0957 25.7086 8.40984 25.2898C9.13394 27.7908 10.5643 30.0293 12.529 31.7364C9.48306 31.0149 6.73579 29.3654 4.66604 27.0154ZM19.4746 31.7364C21.44 30.0282 22.8704 27.7882 23.5938 25.2858C24.9089 25.7031 26.1666 26.2835 27.3376 27.0134C25.2672 29.363 22.5203 31.0129 19.4746 31.7364ZM27.9057 26.3324C26.6429 25.535 25.2828 24.9037 23.8588 24.4541C24.5093 22.173 24.8516 19.815 24.8766 17.443H31.1176C31.0288 20.6744 29.9026 23.7914 27.9057 26.3324Z" fill="#FF3838" stroke="#FF3838" stroke-width="0.2"/>
                              </svg>
                              
                              <div class="data">
                                <div class="title">
                                  Свяжитесь с нами
                                </div>
                                <div class="descr">
                                    <a class="descr-link" href="www.facebook.com/evagreekrestaurant">www.facebook.com/evagreekrestaurant</a>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="right">
          
          
                      
                    <div class="tabs-slider">
                      
                    </div>
                  </div>
                 
              </ng-template>
            </li>
            <li [ngbNavItem]="3" class="tab-link">
              <a ngbNavLink>Правила использования</a>
              <ng-template ngbNavContent>
                
              </ng-template>
            </li>
          </ul>
        
      </div>
      <div class="tabs-content">
      
        <div [ngbNavOutlet]="nav" class="tabs-content-item"></div>
      
   
      </div>
    </div>
  </div>