@mobile: ~"(max-width: 1119px)";

.info-box {
  //width: 300px;
  overflow: hidden;
  min-height: 200px;

  position: absolute;
  top: 50px;
  left: 0;
  z-index: 100;

  background: #060431;
  border-radius: 0 0 16px 16px;
  padding-top: 25px;
  padding-bottom: 25px;

  display: flex;
  flex-direction: column;

  @media @mobile {
    top: 0px;
    left: 0;
  }

  .info-close {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: none;

    @media @mobile {
      display: block;
    }
  }

  .info-element {

    padding: 16px 22px 16px 40px;
    color: #A8A8A8;
    cursor: pointer;

    font-family: 'GraphikLCG';
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    div {
      max-width: 258px;

      @media @mobile {
        max-width: 100%;
        width: calc(100vw - 82px);
      }
    }

    &:hover {
      background: #FF3838;
      color: white;
    }
  }

  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .5s; /* Firefox < 16 */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera < 12.1 */
  animation: fadein .5s;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

.share-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;

  .share-text {
    margin-left: 20px;

    font-family: 'GraphikLCG';
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;

    @media @mobile {
      display: none;
    }
  }
}

.cert-pre {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 24px;
  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
  @media @mobile {
    margin-top: 20px;
    .text {
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      font-family: GraphikLCG;
    }
    .link {
      font-weight: 500;
      font-size: 10px;
      line-height: 7px;
    }
  }
}
.pre-link {

}
