<div class="order order_page">
  <section class="section section_theme-1 section_sz-2 section_bg-2" *ngIf="order">
    <div class="summary">
      <div class="summary__head">
        <a href="/" routerLink="/">
          <svg-icon src="/assets/svg/logo.svg"></svg-icon>
        </a>
      </div>
      <div class="summary__body">
        <div class="summary__body-section">
          <div class="c-cart" *ngIf="order.gift">
            <div class="c-cart__card-row">
              <div class="c-cart__card-item c-cart__card-item_card">
                <app-gift-card
                  sz="3"
                  theme="2"
                  [gift]="order.gift"
                  [price]="order.total_cost"
                  [showTable]="true"
                  [showRelated]="false"
                  [showRate]="false"
                ></app-gift-card>
              </div>
              <div class="c-cart__card-item c-cart__card-item_data">
                <div class="c-cart__head">
                  <h4 class="c-cart__title">
                    {{ order.gift.name | multilang }}
                  </h4>
                </div>
                <div
                  class="c-cart__body"
                  *ngIf="order.data && order.data.items && order.data.items.length"
                >
                  <div class="c-cart__table">
                    <div class="c-cart__table-row" *ngFor="let item of order.data.items">
                      <div class="c-cart__table-td c-cart__table-td_title">
                        {{ item.price | money }}
                        <span
                          *ngIf="
                            order.gift.price_modifier && order.gift.price_modifier.formatted_value
                          "
                        >
                          ({{ order.gift.price_modifier.formatted_value }})
                        </span>
                        x {{ item.count }}
                      </div>
                      <div class="c-cart__table-td c-cart__table-td_value">
                        {{ item.price * item.count | money }}
                      </div>
                    </div>
                    <div class="c-cart__table-row">
                      <div class="c-cart__table-td c-cart__table-td_title">
                        {{ 'Order.Total' | translate }}
                      </div>
                      <div class="c-cart__table-td c-cart__table-td_value">
                        {{ total_cost | money }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="summary__body-section">
          <form class="summary__form" #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="summary__form-body">
              <div class="summary__form-row">
                <label
                  appInputError
                  [inpRef]="emailInp"
                  class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-default mxn-i-txt-wrap-label_cur-t"
                >
                  <span
                    [ngClass]="{ 'f-active': md.client.email && md.client.email.length }"
                    class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-default"
                  >
                    {{ 'Form.ClientEmail' | translate }}</span
                  >
                  <input
                    type="email"
                    appEmailValidator
                    appNativeElementControl
                    required
                    #emailInp="ngModel"
                    #emailInpRef
                    [(ngModel)]="md.client.email"
                    (focus)="fhOnInputFocus($event)"
                    (blur)="fhOnInputBlur()"
                    name="email"
                    autocomplete="off"
                    class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 mxn-i-txt-wrap-input_skin-default"
                  />
                </label>
                <div class="mxn-form-input-error" *ngIf="emailInp.invalid && emailInp.dirty && emailInpRef !== fhFocusedElement">
                  <app-status-message
                    [message]="emailInp.value ? 'Проверьте формат email' : 'Введите email'"
                  ></app-status-message>
                </div>
              </div>
              <div class="summary__form-row">
                <label
                  appInputError
                  [inpRef]="phoneInp"
                  class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_flex mxn-i-txt-wrap-label_flex_ali-c mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-default mxn-i-txt-wrap-label_cur-t"
                >
                  <span
                    [ngClass]="{ 'f-active': md.client.phone && md.client.phone.length }"
                    class="mxn-i-txt-wrap-placeholder mxn-i-txt-wrap-placeholder_dots mxn-i-txt-wrap-placeholder_sz-1 mxn-i-txt-wrap-placeholder_skin-default"
                  >
                    {{ 'Form.ClientPhone' | translate }}</span
                  >
                  <input
                    type="tel"
                    #phoneInp="ngModel"
                    #phoneInpRef
                    appPhoneValidator
                    appPhoneInputValue
                    appNativeElementControl
                    appMaskInputValue="+7"
                    required
                    [(ngModel)]="md.client.phone"
                    (focus)="fhOnInputFocus($event)"
                    (blur)="fhOnInputBlur()"
                    name="phone"
                    autocomplete="off"
                    class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_skin-default mxn-i-txt_theme-1 mxn-i-txt-wrap-input_skin-default"
                  />
                </label>
                <div class="mxn-form-input-error" *ngIf="phoneInp.invalid && phoneInp.dirty && phoneInpRef !== fhFocusedElement">
                  <app-status-message

                    [message]="phoneInp.value ? 'Проверьте номер телефона' : 'Введите телефон'"
                  ></app-status-message>
                </div>
              </div>
              <div class="summary__form-row">
                <div class="mxn-i-txt-wrap-label">
                  <span
                    [innerHTML]="'Common.Agreement1' | translate"
                    class="mxn-i-txt-wrap-label-text mxn-i-txt-wrap-label-text_skin-default mxn-i-txt-wrap-label-text_sz-1"
                  >
                  </span
                  >&nbsp;<span
                    class="mxn-cur-p mxn-link mxn-link_theme-1"
                    (click)="doc.openPopup('gift_offer')"
                    >{{ 'Common.PersonalDataProcessRules' | translate }}</span
                  >
                </div>
              </div>
            </div>
            <ng-template [ngIf]="methods && methods.length">
              <div
                class="summary__form-footer"
                *ngFor="let pm of methods | payment_method_filter: 'common'"
              >
                <div class="summary__form-footer-row">
                  <button
                    [type]="
                      (methods | payment_method_filter: 'common').length > 1 ? 'button' : 'submit'
                    "
                    [disabled]="fetching"
                    [ngClass]="{ 'f-disabled': form.invalid }"
                    (click)="onBtnClick(pm)"
                    class="mxn-btn mxn-btn_sz-2 mxn-btn_full-width mxn-btn_ta-c mxn-btn_theme-1 mxn-btn_icon mxn-btn_icon_sz-1 mxn-btn_icon_mr-1"
                  >
                    <svg-icon src="/assets/svg/payment-lock.svg"></svg-icon
                    >{{ pm.name | multilang }}
                  </button>
                </div>
              </div>

              <div
                class="summary__form-buttons"
                *ngIf="(methods | payment_method_filter: '_custom').length"
              >
                <div class="summary__form-buttons-row">
                  <div
                    class="summary__form-buttons-item"
                    *ngIf="(methods | payment_method_filter: 'gpay').length"
                  >
                    <app-gpay-button
                      [data]="(methods | payment_method_filter: 'gpay')[0]"
                      [order]="order"
                      [total_cost]="total_cost"
                    >
                    </app-gpay-button>
                    <!--                    <button-->
                    <!--                      *ngFor="let pm of (methods | payment_method_filter: 'gpay')"-->
                    <!--                      type="button"-->
                    <!--                      [ngClass]="{ 'f-disabled': form.invalid }"-->
                    <!--                      [disabled]="fetching"-->
                    <!--                      (click)="onBtnClick(pm)"-->
                    <!--                      class="mxn-btn mxn-btn_sz-4 mxn-btn_icon mxn-btn_icon_sz-2 mxn-btn_theme-pay mxn-btn_full-width mxn-btn_ta-c mxn-btn_pay"-->
                    <!--                    >-->
                    <!--                      <svg-icon src="/assets/svg/googlepay.svg"></svg-icon>-->
                    <!--                    </button>-->
                  </div>
                  <div
                    class="summary__form-buttons-item"
                    *ngIf="(methods | payment_method_filter: 'applepay').length"
                  >
                    <app-applepay-button
                      *ngFor="let pm of methods | payment_method_filter: 'applepay'"
                      [pm]="pm"
                      [order]="order"
                      [md]="md"
                      [total_cost]="total_cost"
                      [disabled]="fetching"
                    ></app-applepay-button>
<!--                    <button-->
<!--                      *ngFor="let pm of methods | payment_method_filter: 'applepay'"-->
<!--                      type="button"-->
<!--                      [disabled]="fetching"-->
<!--                      (click)="onApplePayClick(pm)"-->
<!--                      class="mxn-btn mxn-btn_sz-4 mxn-btn_icon mxn-btn_icon_sz-2 mxn-btn_theme-pay mxn-btn_full-width mxn-btn_ta-c mxn-btn_pay"-->
<!--                    >-->
<!--                      <svg-icon src="/assets/svg/applepay.svg"></svg-icon>-->
<!--                    </button>-->
                  </div>
                </div>
              </div>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
