<div class="cert-list__item" *ngIf="data" 

[ngStyle]="{'background':'url('+path+')'}"
>
    <div class="rate" *ngIf="rating">{{rating}}</div>
    <div class="title">{{data.name.ru}}</div>
    <div class="tag" *ngIf="data.Tags && data.Tags.length>0">{{data.Tags[0].name.ru}}</div>
    <div class="value-container" *ngIf="data.data && data.data.restaurant_avg_bill">
        <svg class="icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2875 4.76379H8.00629C7.92585 4.76379 7.84621 4.77963 7.7719 4.81041C7.69758 4.84119 7.63006 4.8863 7.57319 4.94318C7.51631 5.00006 7.4712 5.06758 7.44042 5.14189C7.40964 5.2162 7.3938 5.29585 7.3938 5.37628V10.0125H6.69381C6.53136 10.0125 6.37557 10.0771 6.2607 10.1919C6.14584 10.3068 6.0813 10.4626 6.0813 10.625C6.0813 10.7875 6.14584 10.9433 6.2607 11.0581C6.37557 11.173 6.53136 11.2375 6.69381 11.2375H7.3938V12.6375H6.69381C6.53136 12.6375 6.37557 12.7021 6.2607 12.8169C6.14584 12.9318 6.0813 13.0876 6.0813 13.25C6.0813 13.4125 6.14584 13.5683 6.2607 13.6831C6.37557 13.798 6.53136 13.8625 6.69381 13.8625H7.3938V15.2225C7.3938 15.385 7.45832 15.5408 7.57319 15.6556C7.68805 15.7705 7.84384 15.835 8.00629 15.835C8.16873 15.835 8.32452 15.7705 8.43939 15.6556C8.55426 15.5408 8.6188 15.385 8.6188 15.2225V13.8663H11.2863C11.4487 13.8663 11.6045 13.8017 11.7194 13.6869C11.8343 13.572 11.8988 13.4162 11.8988 13.2538C11.8988 13.0913 11.8343 12.9355 11.7194 12.8207C11.6045 12.7058 11.4487 12.6413 11.2863 12.6413H8.62379V11.2413H11.2913C11.7217 11.2497 12.1495 11.1723 12.5496 11.0134C12.9498 10.8545 13.3142 10.6175 13.6216 10.316C13.929 10.0146 14.1731 9.65494 14.3398 9.25802C14.5065 8.8611 14.5924 8.43492 14.5924 8.00442C14.5924 7.57391 14.5065 7.14772 14.3398 6.75079C14.1731 6.35387 13.929 5.99418 13.6216 5.69277C13.3142 5.39136 12.9498 5.15429 12.5496 4.99542C12.1495 4.83655 11.7217 4.75907 11.2913 4.76753L11.2875 4.76379ZM11.2875 10.0138H8.62379V5.99005H11.2913C11.5597 5.98336 11.8268 6.03044 12.0767 6.12854C12.3266 6.22664 12.5544 6.37376 12.7467 6.56124C12.9389 6.74872 13.0916 6.97277 13.1959 7.22019C13.3002 7.46761 13.3539 7.73341 13.3539 8.00192C13.3539 8.27042 13.3002 8.5362 13.1959 8.78363C13.0916 9.03105 12.9389 9.25511 12.7467 9.4426C12.5544 9.63008 12.3266 9.7772 12.0767 9.8753C11.8268 9.97339 11.5597 10.0205 11.2913 10.0138H11.2875Z" fill="white"/>
            <path d="M10 0C8.02219 0 6.08879 0.58649 4.4443 1.6853C2.79981 2.78412 1.51809 4.3459 0.761209 6.17316C0.00433281 8.00043 -0.1937 10.0111 0.192152 11.9509C0.578004 13.8907 1.53041 15.6725 2.92894 17.0711C4.32746 18.4696 6.10929 19.422 8.0491 19.8078C9.98891 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 10C19.997 7.34875 18.9425 4.80694 17.0678 2.93222C15.1931 1.0575 12.6513 0.00297763 10 0V0ZM10 18.8287C8.25384 18.8287 6.54689 18.3109 5.09501 17.3408C3.64313 16.3707 2.51153 14.9919 1.8433 13.3786C1.17508 11.7654 1.00024 9.9902 1.3409 8.27759C1.68156 6.56499 2.52241 4.99185 3.75713 3.75713C4.99186 2.52241 6.56499 1.68155 8.2776 1.34089C9.99021 1.00023 11.7654 1.17507 13.3786 1.8433C14.9919 2.51153 16.3707 3.64313 17.3408 5.09501C18.311 6.54689 18.8288 8.25384 18.8288 10C18.8264 12.3408 17.8955 14.5851 16.2403 16.2403C14.5851 17.8955 12.3408 18.8264 10 18.8287Z" fill="white"/>
        </svg>
            
        <div class="data" >
            <div class="title">Средний чек</div>
            <div class="text" >{{data.data.restaurant_avg_bill}}</div>
        </div>
    </div>
    <div class="value-container" *ngIf="data.data && data.data.address &&  data.data.address.ru">
        <svg class="icon" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.0321 1C8.77974 0.999952 7.55011 1.33435 6.47029 1.96864C5.39047 2.60293 4.49963 3.51409 3.88985 4.60795C3.28008 5.7018 2.9735 6.93865 3.0018 8.19067C3.03009 9.44268 3.39223 10.6644 4.05079 11.7296L9.63214 20.723C9.68462 20.8077 9.75786 20.8776 9.84492 20.9261C9.93198 20.9745 10.03 21 10.1296 21C10.2302 20.9993 10.3288 20.9728 10.4162 20.9229C10.5035 20.873 10.5764 20.8015 10.628 20.7152L16.0719 11.6321C16.7081 10.5647 17.0501 9.3478 17.0631 8.10527C17.076 6.86274 16.7595 5.63896 16.1458 4.55853C15.532 3.47809 14.6429 2.57959 13.569 1.95451C12.4951 1.32942 11.2747 1.00007 10.0321 1ZM15.0652 11.0312L10.1218 19.2872L5.04962 11.1102C4.50189 10.2255 4.19949 9.21089 4.17346 8.17065C4.14742 7.1304 4.3987 6.10196 4.90149 5.19092C5.40428 4.27988 6.14046 3.51906 7.03446 2.98657C7.92847 2.45407 8.94809 2.1691 9.98863 2.16089C11.0292 2.15268 12.0531 2.42155 12.9554 2.93987C13.8577 3.4582 14.6058 4.20731 15.1229 5.11031C15.64 6.01331 15.9075 7.03765 15.8979 8.07818C15.8882 9.11871 15.6019 10.1379 15.0682 11.0312H15.0652Z" fill="white" stroke="white" stroke-width="0.2"/>
            <path d="M10.0321 4.31055C9.26211 4.31055 8.50945 4.53886 7.86927 4.96662C7.22909 5.39438 6.73014 6.00236 6.43549 6.71369C6.14085 7.42503 6.06375 8.20777 6.21396 8.96291C6.36417 9.71806 6.73492 10.4117 7.27935 10.9561C7.82379 11.5006 8.51743 11.8713 9.27258 12.0215C10.0277 12.1718 10.8105 12.0947 11.5218 11.8C12.2331 11.5054 12.8411 11.0064 13.2689 10.3662C13.6966 9.72604 13.9249 8.97339 13.9249 8.20344C13.9226 7.17169 13.5118 6.18287 12.7822 5.45331C12.0526 4.72375 11.0638 4.31287 10.0321 4.31055ZM10.0321 10.8078C9.51675 10.8088 9.01275 10.6569 8.58382 10.3713C8.1549 10.0857 7.82032 9.67928 7.62245 9.20348C7.42459 8.72768 7.37232 8.20388 7.47226 7.69836C7.5722 7.19284 7.81985 6.72832 8.18388 6.36361C8.54792 5.99889 9.01197 5.75037 9.5173 5.64948C10.0226 5.54859 10.5465 5.59988 11.0227 5.79686C11.4989 5.99383 11.9059 6.32764 12.1923 6.75603C12.4787 7.18442 12.6316 7.68814 12.6316 8.20344C12.631 8.89316 12.3571 9.55456 11.8699 10.0427C11.3826 10.5309 10.7218 10.806 10.0321 10.8078Z" fill="white" stroke="white" stroke-width="0.2"/>
        </svg>
            
            
        <div class="data" >
            <div class="title">Адрес</div>
            <div class="text">{{data.data.address.ru}}</div>
        </div>
    </div>
</div>