.mxn-btn
  display: inline-flex
  align-items: center
  box-sizing: border-box
  border: none
  outline: none
  text-decoration: none
  padding: 5px 10px
  transition: background-color $sFast ease-in-out, color $sFast ease-in-out, box-shadow $sFast ease-in-out, opacity $sFast ease-in-out
  border-radius: 4px
  font-family: $ff-1
  font-size: 14px
  letter-spacing: -0.08px;
  font-weight: 700
  line-height: 1
  cursor: pointer
  background-color: transparent;

  & > svg-icon > svg
    width: auto;

  &:disabled, &.f-disabled
    //pointer-events: none
    cursor: default;
    opacity: .4;
  &.f-disabled
    cursor: default;

  &_full-width
    width: 100%
    flex: 0 0 100%

  &_ta-c
    text-align: center
    justify-content: center

  &_sz-1, &_sz-5
    padding: 20px
    border-radius: 28px
    font-size: 16px
  &_sz-2, &_sz-9
    padding: 16px
    border-radius: 8px
    font-size: 16px
  &_sz-9
    padding: 16px 4px
    font-size: 14px
    line-height: 1.2
  &_sz-3
    font-size: 16px
    padding: 20px
    border-radius: 8px
  &_sz-4
    border-radius: 8px
    font-size: 16px
    height: 56px
  &_sz-5
    font-size: 16px
  &_sz-8
    height: 64px
    font-size: 16px
    border-radius: 8px
  &_theme-more
    font-weight: 500
    color: $c-card-1-theme-1-btn-3-text;
    border: 1px dotted $c-card-1-theme-1-btn-3-border
  &_theme-pay
    border: solid 2px $c-btn-2-theme-1-border;

  &_theme-special
    background-color: #e74e27;

  &_theme-1
    font-weight: 600
    box-shadow: $c-btn-1-theme-1-shadow;
    background-color: $c-btn-1-theme-1-bg;
    color: $c-btn-1-theme-1-text;
    & > svg-icon > svg > path
      fill: $c-btn-1-theme-1-text

  &_icon
    &_sz-1
      & > svg-icon > svg
        height: 24px
    &_sz-2, &_sz-9
      & > svg-icon > svg
        height: 28px
    &_mr-1
      & > svg-icon
        margin-right: 12px

.btn-wrap
  button
    height: 56px
    background-size: auto 28px;
    width: 100% !important;

@supports (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button {
    display: inline-block;
    -webkit-appearance: -apple-pay-button;
  }
  .apple-pay-button-black {
    -apple-pay-button-style: black;
  }
  .apple-pay-button-white {
    -apple-pay-button-style: white;
  }
  .apple-pay-button-white-with-line {
    -apple-pay-button-style: white-outline;
  }
}

@supports not (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button {
    display: inline-block;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 32px;
    max-height: 64px;
  }
  .apple-pay-button-black {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
  }
  .apple-pay-button-white {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
  }
  .apple-pay-button-white-with-line {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
    border: .5px solid black;
  }
}

+medium()
  .mxn-btn
    &_sz-9
      font-size: 16px

+desktop()
  .mxn-btn
    &_sz-1
      padding: 16px 25px
      border-radius: 28px
    &_sz-5
      padding: 20px 29px;
      border-radius: 28px
    &_sz-8
      height: 80px
      font-size: 24px
      border-radius: 8px

.device-desktop
  .mxn-btn
    &_theme-1
      &:not(:disabled):not(.f-disabled)
        &:hover
          background-color: $c-btn-1-theme-1-bg-hover
        &:active
          background-color: $c-btn-1-theme-1-bg-click;

