.container
  width: 100%
  margin: 0 auto
  &_gap-1, &_gap-2, &_gap-3
    max-width: _calc(100%, $sideGap * 2)

+desktop()
  .container
    &_gap-1
      max-width: _calc(100%, $sideGap_init-d-1 + $sideGap_init-d-2)

@media all and (min-width: 1276px)
  .container
    &_gap-3, &_gap-4
      max-width: 1260px

+min_init_d()
  .container
    &_gap-2
      max-width: _calc(100%, $sideGap_init-d-2 * 2)
//+max_w()
//  .container
//    &_gap-1
//      max-width: _calc(100%, $sideGap_max-d * 2)
