@-webkit-keyframes autofill {
  0%,100% {
    color: #666 !important;
    background-color: transparent !important;
  }
}
.mxn-i-txt
  outline: none
  border: none
  display: inline-block
  box-sizing: border-box
  border-radius: 2px
  font-family: $ff-1
  font-size: 16px

  +placeholder()
    font-family: $ff-1
  +autocomplete()
    background-color: initial !important
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: initial !important
    color: initial !important

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }

  &_sz-3
    font-size: 19px
    +placeholder()
      font-size: 10px
      text-transform uppercase

  &_full-width
    width: 100%
  &_ta-c
    text-align: center
  &_theme-1
    font-weight: 500
  &_theme-3
    font-weight: 500
    +placeholder()
      color rgba(0,0,0,.4)
  &_skin
    &-default
      color: $c-input-1-theme-1-input-text
    &-special
      color: #fff;

.mxn-i-txt-wrap
  position: relative;
  line-height: 1
  font-weight: 500
  &_sz-1
    font-size: 16px
  &-label
    display: block;
    position: relative;
    box-sizing border-box
    transition box-shadow $sFast ease-in-out, border-color $sFast ease-in-out
    &.f-error
      border-color: red;
    &_cur-t
      cursor: text;
    &_flex
      display: flex;
      &_ali-c
        align-items center
    &_sz-1
      height: 56px
      padding: 0 15px
      border-radius: 8px
    &_sz-2
      padding: 12px 15px;
      border-radius: 8px
    &_sz-3
      padding: 0 15px
      border-radius: 13px
      height: 64px
    //&_area
    //  &_sz-1
    //    min-height 108px
    &_theme-2
      background: #fff;
    &_skin
      &-default, &-blur, &-special
        border: 1px solid $c-input-1-theme-1-bd;
        &.f-active, &:focus-within
          box-shadow 0 0 0 2px $c-input-1-theme-1-bd-active
          background: $c-input-1-theme-1-bg-active
          input
            +autocomplete()
              background-color: transparent !important
              -webkit-box-shadow: 0 0 0 30px $c-input-1-theme-1-bg-active inset !important;
              -webkit-text-fill-color: initial !important
              color: initial !important
      &-blur
        &.f-active, &:focus-within
          box-shadow 0 0 2px 3px $c-input-2-theme-1-bd-active
      &-special
        &.f-active, &:focus-within
          box-shadow 0 0 0 3px #e74e27
          .mxn-i-txt-wrap-placeholder, .mxn-i-txt
            color: #060431;
    &_section_theme-1
      input
        +autocomplete()
          background-color: transparent !important
          -webkit-box-shadow: 0 0 0 30px $c-section-1-theme-1-bg inset !important;
          -webkit-text-fill-color: initial !important
          color: initial !important
    &-text
      &_sz-1
        font-size: 16px
        line-height: 1.3

  &-placeholder
    margin-right: 5px
    &_dots
      &.f-active
        &:after
          content ':'
    &_theme-1
      font-weight: 500
    &_skin
      &-default
        color: $c-input-1-theme-1-placeholder;
      &-special
        color: rgba(255, 255, 255, .6);
        &.f-active
          color: #fff;
  &-input
    //flex: 1 0 auto
    width: 100%
    height: 100%
    background-color: transparent;
  &-area
    &_sz-1
      padding: 0 16px 0 0;
      height: 82px;

.mxn-i-hidden
  position: absolute;
  visibility: hidden;

.mxn-i-check
  font-size: 0
  line-height: 1
  &_sz-1
    width: 20px
    height: 20px
    flex: 0 0 20px
    margin-right: 16px
    border-radius: 4px
    & > svg-icon > svg
      height: 10px
  &_skin
    &-default
      background: $c-input-1-theme-2-bg;
  &:checked ~ .mxn-i-check_fake
    & > svg-icon > svg
      display: block;
  &_fake
    display: flex;
    align-items center
    justify-content center
    box-sizing border-box
    cursor: pointer;
    & > svg-icon > svg
      display: none;
      width: auto;

+small()
  .mxn-i-txt-wrap
    &-placeholder
      &_sz-1
        white-space nowrap

+medium()
  .mxn-i-txt
    &_sz-3
      font-size: 32px
      +placeholder()
        font-size: 14px
  .mxn-i-txt-wrap
    &-label
      &_sz-3
        height: 120px
