@import "btn.styl"
@import "container.styl"
@import "media.styl"
@import "section.styl"
@import "i-txt.styl"
@import "title.styl"

.mxn-link
  color: $c-link
  &_theme-1
    color: $c-link-theme-1;

.mxn-cur-p
  cursor: pointer;

.mxn-fee
  display: inline-block;
  vertical-align: middle;
  line-height: 1
  border: 1px solid $c-card-1-theme-1-btn-4-border
  color: $c-card-1-theme-1-btn-4-text;

  &_sz-1
    padding: 4px 7px
    font-size: 10px
    letter-spacing .1px
    text-transform: uppercase;
    border-radius: 3px
  &_theme-1
    font-weight: 600
    color: var(--skin-fee-nominal);
    border-color: var(--skin-fee-nominal);
  &_ml-1
    margin-left: 14px;



  //&_skin
  //  &-special
  //    border-color: #e74e27;
  //    color: #e74e27;
  //  &-parking
  //    border-color: #70bf46;
  //    color: #70bf46;


.mxn-form-input-error
  margin-top: 10px

.mxn-form-error
  margin-bottom: 10px

.mxn-status-message
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 13px
  text-align: center
  border-radius: 6px
  font-size: 12px
  line-height: 1.2
  font-weight: 700

  &_sz-2
    padding: 18px 35px
    min-height: 70px

  &-row
    &:not(:last-child)
      margin-bottom: 4px
  &-title
    font-size: 14px
    letter-spacing: -0.08px
  &-text
    font-size: 12px
    letter-spacing: -0.07px

  &.f-active
    display: block
  &_revoked, &_error, &_deactivated
    background-color: #FFE4E4
    color: #ff3b38
  &_new, &_pending, &_changed
    background-color: rgba(189, 167, 118, .9);
    color: #fff;
  &_approved
    background-color: rgba(11, 185, 57, 0.16);
    color: #0bb939;
