<div class="b-activate b-activate_theme-{{theme}}" [ngClass]="{'b-activate_margin': margin}">
  <div class="b-activate__wrap">
    <div class="b-activate__content" *ngIf="!activated">
      <form class="b-activate__card b-activate__card_theme-{{theme}}" (ngSubmit)="onSubmit()" >
        <div class="b-activate__card-inner b-activate__card-inner_theme-{{theme}}">
          <div class="b-activate__card-row">
            <p class="b-activate__text">
              {{text || ('GiftActivate.Title' | translate)}}
            </p>
          </div>
          <div class="b-activate__card-row b-activate__card-row_input">
            <label
              class="mxn-i-txt-wrap-label mxn-i-txt-wrap-label_theme-2 mxn-i-txt-wrap-label_sz-3 mxn-i-txt-wrap-label_sz-1 mxn-i-txt-wrap-label_skin-blur mxn-i-txt-wrap-label_cur-t">
              <input type="text"
                     placeholder="Введите номер вашего сертификата"
                     appNativeElementControl
                     [(ngModel)]="md"
                     name="activation_code"
                     autocomplete="off"
                     maxlength="12"
                     class="mxn-i-txt-wrap-input mxn-i-txt mxn-i-txt_ta-c mxn-i-txt_skin-default mxn-i-txt_theme-3 mxn-i-txt_sz-3 mxn-i-txt-wrap-input_skin-default">
            </label>
            <div class="mxn-form-input-error" *ngIf="error">
              <app-status-message
                [message]="error"
              ></app-status-message>
            </div>
          </div>
          <div class="b-activate__card-row b-activate__card-row_footer">
            <button type="submit" class="b-activate__btn mxn-btn" [disabled]="fetching">
              {{'GiftActivate.Submit' | translate}}<svg-icon src="/assets/svg/angle_right.svg"></svg-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="b-activate__content" *ngIf="activated">
      <div class="b-activate__card b-activate__card_theme-{{theme}}">
        <div class="b-activate__card-inner b-activate__card-inner_theme-{{theme}}">
          <div class="b-activate__card-row b-activate__card-row_mb-1">
            <h4 class="b-activate__result-title">
              Сертификат активирован!
            </h4>
          </div>
          <div class="b-activate__card-row b-activate__card-row_mb-1">
            <div class="b-activate__table" *ngIf="result">
              <div class="b-activate__table-head">
                <div class="b-activate__table-head-row">
                  <h4 class="b-activate__table-number">
                    №{{result.ext_number}}
                  </h4>
                </div>
                <div class="b-activate__table-head-row">
                  <h4 class="b-activate__table-name">
                    {{result.name | multilang}}
                  </h4>
                </div>
              </div>
              <div class="b-activate__table-body">
                <div class="b-activate__table-row">
                  <div class="b-activate__table-td">
                    <div class="b-activate__table-td-row">
                      <span class="b-activate__table-td-title">Номинал</span>
                    </div>
                    <div class="b-activate__table-td-row">
                      <span class="b-activate__table-td-value">
                        {{result.PriceModifier.value | money}}
                      </span>
                    </div>
                  </div>
                  <div class="b-activate__table-td">
                    <div class="b-activate__table-td-row">
                      <span class="b-activate__table-td-title">Действителен до</span>
                    </div>
                    <div class="b-activate__table-td-row">
                      <span class="b-activate__table-td-value">
                        {{resultDate | date: 'dd.MM.yyyy'}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-activate__table-footer">
                <button type="button" class="mxn-btn mxn-btn_ta-c mxn-btn_theme-1 mxn-btn_sz-9 mxn-btn_full-width" (click)="onEventsClick()">
                  Перейти к выбору мероприятий
                </button>
              </div>
            </div>
            <svg-icon class="b-activate__result-logo" src="/assets/svg/logo.svg"></svg-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="b-activate__behind" *ngIf="gifts">
      <div  class="swiper-container" [swiper]="{
            followFinger: false,
            loop:  true,
            slidesPerView: 7,
            slidesPerGroup: gifts.length,
            spaceBetween: isDesktop ? 11 : 5,
            speed: 180000,
            autoplay: {
              delay: 0,
              disableOnInteraction: false
            },
            centeredSlides: true,
            allowTouchMove: false
          }" [index]="0">
        <div class="swiper-wrapper" style="transition-timing-function: linear">
          <div class="swiper-slide b-activate__slide" *ngFor="let gift of gifts">
            <div [attr.style]="(gift.skin_settings || {}).vars | safe: 'style'">
              <div
                [ngStyle]="{'background-image': gift.image && gift.image.path ? 'url(' + gift.image.path + ')' : ''}"
                class="card card_theme-2 card_sz-4">
                <div class="card__wrap card__wrap_sz-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
