<app-layout>
  <div class="page">
    <div class="page__head page__head_mb-2">
      <div class="container container_gap-1">
        <h1 class="page__title">
          Частые вопросы<br>
          и ответы
        </h1>
      </div>
    </div>
    <div class="page__body">
      <div class="how">
        <div class="container container_gap-1">
          <ol class="how__list">
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Что мне подарили?
                  </h4>
                  <p class="how__item-text">
                    Вам подарили подарочный сертификат, который вы можете обменять на билеты в лучшие учреждения культуры города Екатеринбурга.
                  </p>
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Как этим пользоваться?
                  </h4>
                </div>
                <div class="how__item-body">
                  <p class="how__item-text">
                    1. Активируйте сертификат на <a href="/" routerLink="/" fragment="activate">странице</a> акции.<br>
                    2. Введите номер сертификата для просмотра доступных мероприятий и участников акции.<br>
                    3. Выберите события, даты и учреждения на которые хотите пойти. <strong>Но суммарно не более 6 билетов.</strong><br>
                    4. Электронные билеты будут направлены на указанную вами почту.<br>
                    5. Сертификат имеет ограниченный срок действия до 31.12.2020
                  </p>
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Где можно воспользоваться сертификатом?
                  </h4>
                  <p class="how__item-text">
                    Сертификатом можно воспользоваться только на странице <a href="/" routerLink="/">акции</a> в указанных учреждениях культуры. Вход на мероприятия строго по электронным билетам.
                  </p>
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Что делать, если я потерял сертификат или билет?
                  </h4>
                  <p class="how__item-text">
                    Обратитесь в нашу службу поддержки по номеру <a href="tel: +73433124343">8 343 312 43 43</a> или на почту <a href="mailto: spasibodoc@ycenter.ru">spasibodoc@ycenter.ru</a>
                  </p>
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Что делать, если я не смогу пойти на мероприятие?
                  </h4>
                  <p class="how__item-text">
                    Билет возвращается только в случае отмены/переноса даты мероприятия.
                  </p>
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    Я хочу купить такой сертификат в подарок, как это сделать?
                  </h4>
                  <p class="how__item-text">
                    Вы можете зайти на сайт организатора акции <a href="https://zapomni.gift" target="_blank">zapomni.gift</a> и выбрать на нем подарочный сертификат в учреждение культуры.
                  </p>
                </div>
              </div>
            </li>
            <li class="how__item">
              <div class="how__item-wrap">
                <div class="how__item-head">
                  <h4 class="how__item-title">
                    У меня несколько сертификатов. Могу ли я подарить их?
                  </h4>
                  <p class="how__item-text">
                    Конечно, можете!
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</app-layout>
