.b-company
    &__media-wrap
        width: 580px
        height 360px
        transition: all .3s ease-out
        cursor pointer
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        &:hover
            box-shadow: 0 0 10px rgba(0,0,0,0.5)
        & .banner-block
            width: 100%;
            height:100%;
            padding: 36px 32px
            display: flex
            align-items: flex-end
            &__content
                margin-bottom: 0
            &__title
                    font-weight: 500
                    font-size: 15px
                    line-height: 15px
                    color: #FFFFFF
                    margin-bottom: 10px
                &__name
                    font-weight: 500
                    font-size: 28px
                    line-height: 28px
                    color: #FFFFFF