<div class="b-company">
  <div class="b-company__item b-company__item_logo">
    <div class="b-company__section b-company__section_logo" *ngIf="showLogo">
      <h1 class="b-company__logo">
        <svg-icon src="/assets/svg/logo.svg"></svg-icon>
        <!--      <app-svg-ref uuid="i-logo" width="168" height="50"></app-svg-ref>-->
      </h1>
    </div>
    <div class="b-company__section b-company__section_text mxn-desktop">
      <p class="b-company__text">
        {{ 'CompanyHeading.Text' | translate }}
      </p>
    </div>
  </div>
  <div class="b-company__item b-company__item_media">
    <div class="b-company__section b-company__section_media">
      <div class="b-company__media-wrap" *ngIf="banner"
      [ngStyle]="{
        'background-image': banner.image && banner.image.path ? 'url(' + banner.image.path + ')' : ''
      }"
      (click)="onClickLink()"
      >
       
        <div class="banner-block">
          <div class="banner-block__content">
            <div class="banner-block__title">Подарочный сертификат</div>
            <div class="banner-block__name" *ngIf="banner.name_variant || banner.name">{{ banner.name_variant || banner.name | multilang }}</div>
          </div>
        </div>
          <!-- <img src="/assets/img/banner.png" alt="" class="b-company__media" /> -->
      
      </div>
     
    </div>
    <div class="b-company__section b-company__section_text mxn-mobile">
      <p class="b-company__text">
        {{ 'CompanyHeading.Text' | translate }}
      </p>
    </div>
  </div>
</div>
